[2022-02-10 19:43] selsta commented on #1928
Thanks! Opened #1929 to fix it.

[2022-03-10 02:28] LiveFree1776 opened #1934 "Please update or omit an outdated statement on the GetMonero.org website"
Hello,
On the website https://www.getmonero.org/get-started/what-is-monero/ there is an outdated statement:

"Unlike selectively transparent alternatives (e.g. Zcash), Monero is the only cryptocurrency where every user is anonymous by default."

Although it may have been true when written, Monero can no longer claim to be the "only" cryptocurrency that is anonymous by default. It may be the most t

[2022-03-10 03:50] monerochan-moe commented on #1934
he doesn't know what a pull request is and thinks a wagie is going to come here modify the html for him
![pepelaughz](https://user-images.githubusercontent.com/90231001/157584879-8e2e92f9-d61e-42a4-8ff6-5a9403699454.jpg)

[2022-03-10 04:12] LiveFree1776 commented on #1934
Of course I don't know what a "pull" request is. Who does? This literally is my first day on github. People told me if you want it to change make a request. So here I am. You can't say I didn't try to be the change I seek.

[2022-03-10 09:57] erciccione commented on #1934
@monerochan-moe please refrain from trolling. People are allowed and welcome to open issues even if they don't know how to open pull requests. One thing doesn't exclude the other.

@LiveFree1776 I see your point. Maybe we could change it to something like "The only major cryptocurrency...". That would be more correct.

[2022-03-10 10:21] erciccione opened #1935 "Add user guide "how to join the Monero matrix server?""
Right now instructions are at https://forum.monero.space/d/79-how-to-join-the-monero-core-team-matrix-server-web, but we should have a guide on getmonero. The guide can be much shorter than the one at monero.space.

[2022-03-13 17:23] kowalabearhugs opened #1937 "Update 2022-2023 roadmap to include the primary features in the v15 hard fork"
The roadmap is currently outdated: https://www.getmonero.org/resources/roadmap/

The 2022 roadmap should be updated to include the primary features set to be deployed with the v15 hard fork (Monero v0.18.0): https://github.com/monero-project/meta/issues/630

The roadmap for 2023 could include the current research being done into Seraphis & JAMTIS, decoy binning, OPSEAD, and more.

[2022-03-20 11:47] #1904 closed

[2022-03-23 12:32] nice42q opened #1939 "German - index.html href error 404"
https://www.getmonero.org/de/index.html
The Hyperlink "Arbeitsgruppen" in the footer is linked wrong (404)

[2022-04-03 09:20] erciccione commented on #1939
Thanks @nice42q :)

The i18n links are not being redirected. @binaryFate  we need a redirect for `https://www.getmonero.org/$LANG/community/team/` -> `https://ww.getmonero.org/$LANG/community/workgroups/`. Right now it's working only for the English version.

[2022-04-03 21:35] binaryFate commented on #1939
Ah yes, sorry that was on me.
I'll post here to confirm when done.

[2022-04-04 17:12] binaryFate commented on #1939
Ok I fixed it and tested successfully. Can someone else check too?

[2022-04-04 17:19] nice42q commented on #1939
No more 404 error.
But it redirects to English instead of the selected language.

[2022-04-05 12:48] binaryFate commented on #1939
@nice42q sorry, please check again

[2022-04-05 15:06] #1928 closed

[2022-04-05 15:06] #1925 closed

[2022-04-06 06:25] erciccione commented on #1939
Seems to be working now. @nice42q if everything is ok now, please close the issue.

[2022-04-06 10:15] #1939 closed

[2022-04-11 20:17] SamsungGalaxyPlayer commented on #1927
NACK; provides referral to other instant exchangers, for which there is already a place on the page

[2022-04-11 20:28] monetory commented on #1927
project is an aggregator there's no fees for exchanges but there's referral codes
but we can turn off or change all referrals for traffic from getmonero.org

Can you provide an example? Can't find duplicate entries.

[2022-04-18 14:07] Alexxhn opened #1944 "HTTP404 (broken link)"
On page https://www.getmonero.org/get-started/mining/ there's a link under text 'More details in the announcement post.' that leads here: https://www.getmonero.org/get-started/mining/%7B%7B%20site.baseurl%20%7D%7D/2021/10/05/p2pool-released.html which is not found (HTTP404)
As far as I found it - the correct link should be https://www.getmonero.org/2021/10/05/p2pool-released.html

[2022-04-20 03:17] alphatomcat opened #1947 "Moneropedia address article clarification"
In the [Moneropedia address article](https://www.getmonero.org/resources/moneropedia/address.html)  it says raw addresses start with a 4, and then it seemingly gives the monero donation address as an example, which does not start with a 4. Could this do with some clarification?

[2022-04-24 22:54] maltfield opened #1949 "Establish a Chain of Trust with every release signing key change"
Request: Please establish a cryptographic chain of trust whenever the key that signs Monero's software releases changes.

### Problem

I haven't used monero for a few years. Last time I used it, the releases were signed by the following `fluffypony` PGP key:

[code]

Recently, I downloaded the most recent version of monero, and I found that its release signature was invalid. Scary.

[code]
### How

[2022-04-25 19:46] plowsof commented on #1949
BinaryFates key has been signed by Riccardo (among others) - i've not had enough time to figure out the exact steps, but it involves importing keys and such, However, there is a public key server here to show those that have signed BinaryFates key: https://keyserver.ubuntu.com/pks/lookup?search=binaryfate&fingerprint=on&op=index

And i see that one of them is https://keyserver.ubuntu.com/pks/looku

[2022-04-25 21:26] binaryFate commented on #1949
The signature is cryptographically valid, you are simply missing the key so of course GPG is unable to check it. GPG tells you explicitly "Can't check signature: No public key", nowhere does it say the signature is invalid.

Fluffypony did sign my key on the 2019/12/13. This is available on all public PGP keys servers, you just need to import it.

Import both Fluffy's key and mine:
`gpg --keyserve

[2022-04-26 11:42] maltfield commented on #1949
### From Ubuntu's keyservers

@binaryFate sorry but following those commands does put your key in a keyring with a signature from fluffypony. To reproduce consistently, we can use docker as follows (I'm doing this on debian 11 in both host and guest)

[code]
The output shows no signatures on the key

[code]

While I do appreciate making keys available on multiple domains (so they can be cross-chec

[2022-04-26 16:22] plowsof commented on #1949
Ok i have the same issue as @maltfield - for some reason we're not able to download _all_ the signatures from the key server using ubuntu/pgp (but they are there when you go to ubuntus keyserver site): but not locally, which is either a configuration option in our gpg clients or as you say, to mitigate some kind flooding attack. Would need to look closer into this problem / bug

[2022-04-26 19:15] binaryFate commented on #1949
Due to local config of GPG it's dropping non-self-signed signatures, apparently it may have become default (after this signature flooding thing).

I believe this should work (note the additional flag):

`gpg --keyserver pgp.mit.edu --keyserver-options no-self-sigs-only --receive-keys F0AF4D462A0BDF92 7455C5E3C0CDCEB9`

Here it's _pgp.mit.edu_ not _keyserver.ubuntu.com_ server, to illustrate that t

[2022-04-26 23:56] plowsof commented on #1949
Thanks @binaryFate worked like a charm: Output
[code]
Now they appear under ```--list-sigs``` / ```--list-sig````

[2022-04-27 01:31] fluffypony commented on #1949
My two cents: GPG signing someone's key is dumb, it went out of fashion ages ago because people went to key signing parties and were using the GPG WoT to indicate "I may have met this person once when we were both drunk" instead of "I know and trust this person". Additionally, key servers have been viewed as centralised repositories, and there are plenty of people who (1) don't have their keys on

[2022-04-27 01:36] fluffypony commented on #1949
ALSO: I'd like to point out that I haven't disappeared, and I may sign releases in future, so it's not so much a transition as much as it is a different maintainer signing releases. I think part of the issue is that everyone got too used to me signing the releases, and that's something that we definitely should change. Moving forward I suggest that if anyone outside of the core team starts signing

[2022-04-27 07:14] maltfield commented on #1949
This is all great info. Can we please get such statements formalized, cryptographically signed, and added to the getmonero blog tagged as `cryptography` and `urgent`?

[2022-04-27 07:23] maltfield commented on #1949
I think what you're doing by having individual devs alternate signing of releases is a sane trade-off to get authenticity & integrity in a simple way.

However, I should point-out that a better (and magnitudes more complex) option is available. You can use a single PGP key locked in an HSM and have it sign releases only if m-of-n developers sign-off on the release with their private keys.

 * http

[2022-04-27 07:36] maltfield commented on #1949
This is the default behavior of `gpg` when exporting a public key. @binaryFate I recommend just exporting your public key from your keyring and updating the file here:

 * https://github.com/monero-project/monero/blob/master/utils/gpg_keys/binaryfate.asc

This should be done whenever you [a] extend the expiration of your key or [b] you'd like to share your key's new signatures.

Before doing so, y

[2022-04-28 11:30] maltfield opened #1953 "Document: How big is the monero blockchain?"
Please add some documentation to the website that can help answer the question:

[code]

### Why

First some facts:

1. There are significant benefits for running your own walllet with the full blockchain synced locally (even if not mining)
1. The benefits of downloading the full monero blockchain are especially true for Monero (a privacy coin)
1. For may people around the world, it can take weeks

[2022-04-28 11:39] maltfield commented on #1953
The website already has an FAQ item "How big is the Monero blockchain?"

 * https://www.getmonero.org/get-started/faq/#anchor-block-size
 * https://github.com/monero-project/monero-site/pull/1442

While I do appreciate this information, note that this does *not* satisfy this request.

This request is to add to the FAQ's Answer: a whole document expounding:

1. how the user can determine the blockc

[2022-04-28 11:41] maltfield commented on #1953
inb4 pruning: I don't mind if you additionally include info about pruning into the documentation, of course! But the size of the unpruned blockchain should also be documented.

[2022-05-01 09:51] erciccione commented on #1953
Hello @maltfield, thanks for opening the issue. Just leaving here that we have different faq entries about the size of the blockchain. See https://www.getmonero.org/get-started/faq/#anchor-block-size

Agree would be useful to expand.

[2022-05-01 10:10] maltfield commented on #1953
I'm trying to figure out how this can be achieved. Per the suggestion on stack exchange, I know that:

1. I can get a list of public monero nodes from https://monero.fail/
2. I can query any of the above monero nodes' json rpc endpoint with `curl`

For example

[code]

The above database size is 53687091200 bytes = 53687091200 = 50 GB.

I know now (only because I just downloaded the whole blockcha

[2022-05-06 17:33] moneroguides commented on #1900
https://github.com/moneroguides/getmonero.org

I have created a new repo for ideas and plan. Will continue with that for now.

[2022-05-07 15:44] moneroguides commented on #1173
"Monero uses the unspent transaction output (UTXO) model for handling transaction verification.

UTXOs aka owned outputs use public key cryptography to identify and transfer ownership between holders of public/private key pairs.

Outputs, represent some amount of Moneroj which has been authorised by one key pair to be spent by another."

Is there a more correct way to suggest this wording?

[2022-05-07 16:01] moneroguides commented on #1172
"Monero uses the unspent transaction output (UTXO) model for handling transaction verification.

Each transaction requires one or more outputs to be used as inputs. The term input is only relevant in the context of a transaction. Outside the context of a transaction all moneroj is considered as 'owned outputs'.

Inputs, represent some amount of Moneroj which is required to satisfy the intended out

[2022-05-07 16:27] moneroguides commented on #1142
It is possible to derive new and unique key pairs, also known as sub-addresses, from your primary public/private key pair.

Sub-addresses were introduced to the Monero ecosystem to enhance the privacy of its users.

Users are able to create many sub-addresses and benefit from this feature when they give all new payers a different sub-address.

Users of sub-addresses should be aware of the [janus a

[2022-05-07 16:37] moneroguides commented on #1902
"Change is one of three outputs produced during every transaction.

It is the remainder after both the desired transaction amount and transaction fee have been satisfied.

In the case that the whole amount is used for the output and transaction fee, change is still generated with a value of 0. this is to make it indistinguishable from any other transaction on the blockchain."

[2022-05-07 16:40] moneroguides commented on #1947
yea, that's pretty poor. the example should definitely follow the definition.

[2022-05-11 13:03] FeatureSpitter opened #1963 "We should add the following question to the FAQ"
I just saw, yet another thread, discussing the inflation topic on Monero.

https://www.reddit.com/r/Monero/comments/un5jwz/inflation_in_monero/

This is such a common question, that monero should address it on their website.

Many people don't understand this and avoid Monero because of it, because they perceive this as a design flaw.

Remember folks, if you want Monero's adoptions, you should not

[2022-05-15 02:47] citrus-flagman commented on #1963
I could write an FAQ answer for this. I think we might want to wait until the end of the month (when tail emission begins) to add it so we don't risk the answer becoming immediately out of date. I will look into this for you @FeatureSpitter

[2022-05-15 14:08] FeatureSpitter commented on #1963
Thanks! Awesome!

On Sun, May 15, 2022, 03:47 citrus-flagman ***@***.***> wrote:

[2022-05-16 20:53] XfedeX commented on #903
Aren't cookie disclaimers needed by the GDPR only if cookies can uniquely identify your browser or are used for tracking reasons?

As Regulation (EU) 2016/679 of the European Parlament and of the council of 27 April 2016 states:
[code]
If I am correct, a language cookie cannot be used to identify you. For this reason I do not think that a disclaimer would be needed.

[2022-05-22 15:50] plowsof commented on #1937
I've done the adjustments (merged 2017 into the 2014-2016) tab. and put the mentioned suggestions in (albeit with incorrect status, lets discuss what needs to be added / changed - or if something needs to link somewhere)
![rm_1](https://user-images.githubusercontent.com/77655812/169704082-66832da0-0f2d-41c5-9344-c9f01ffbddce.png)
Added to december 2021:
![rm_4](https://user-images.githubuserconten

[2022-05-25 08:57] MariaSwapzone opened #1970 "Listing Swapzone.io on "Swappers" section"
Hello team!

I'm Maria, a marketing manager at Swapzone - an instant crypto exchange aggregator. We help users to compare exchange rates, analyze and swap cryptocurrency in just one interface.

XMR is one the most popular asset on our platform and we also have a separate page of your coin so new users can learn about your project: https://swapzone.io/currencies/monero

I'd love to know whether it'

[2022-05-26 13:04] plowsof commented on #1576
Thank you for doing most of the work @binaryFate , i took your script, and made a few adjustments:
- download and verify the hash of `git-archive-all.sh`
- get the current release tag version from github api
- instead of downloading the tarballs again, i have moved them into the directory for comparing
I've tested it and it fails when the diffs at the end break.

@selsta gave me some tips and foun

[2022-05-30 09:37] MariaSwapzone commented on #1970
Hello @erciccione! I've seen you added a label to my request 3 days ago. Do you have any updates regarding the Swapzone placement on the "Swappers" section?

[2022-06-03 09:32] MariaSwapzone commented on #1970
Hi again @erciccione! Did you get a chance to check Swapzone? We look forward for the decision.

[2022-06-04 08:23] erciccione commented on #1970
Hi @MariaSwapzone I don't investigate swappers/merchants for inclusion on getmonero. If somebody else is interested in doing that, they will review this issue.

[2022-06-06 09:01] MariaSwapzone commented on #1970
Thank you for the reply @erciccione! If you're not the right person to discuss it, could you please let me know who's the appropriate person to reach out directly?

[2022-06-06 22:15] LeoNero opened #1974 "Add table of contents to README"
Hi! I was reading through the README and found it a bit hard to reason about its structure and find some sections (Ctrl-F works, of course, but then it is needed to remember some keywords).

I think a table of contents like the one in https://github.com/monero-project/monero would help a lot.

[2022-06-07 09:39] erciccione commented on #1970
@MariaSwapzone you might have more luck asking on the Matrix/IRC room: `#monero-site`

[2022-06-07 11:09] MariaSwapzone commented on #1970
@erciccione could you please share a link?

[2022-06-08 04:34] LeoNero opened #1976 "Improve Magazines section of the Library page"
The current Magazines section lists two "Revuo Monero" editions from 2017.

I believe the section could be improved by removing the two links and add links to the Revuo website (https://revuo-xmr.com/), to
 The Monero Moon (https://www.themoneromoon.com/), and maybe to Monero Outreach (https://www.monerooutreach.org/).

[2022-06-08 06:03] LeoNero opened #1980 "Some websites not working in the resources/tools/ page"
The ones not working:
- https://www.exploremonero.com/
- https://xmr.llcoins.net/ (certificate not valid)
- https://monerohash.com/nodes-distribution.html
- https://nownodes.io/connect-xmr-node (link to https://nownodes.io/nodes/monero-xmr instead?)
- https://www.backtestking.com/
- https://monerobase.com/
- https://vigla.biz/

[2022-06-12 19:43] nixt7 opened #1981 "Add nixt.io to payment gateways section of"
Hello
I would like to suggest adding nixt.io to the [Merchants&Exchanges](https://www.getmonero.org/community/merchants/) page.

"NIXT" is anonymous payment system

Logo:
![logo](https://user-images.githubusercontent.com/105312507/173250340-e2b7ae6e-7bba-4403-882e-2a6c38e18c20.png)

Description:

"NIXT"  is anonymous payment system with friendly interface and simple to use implementation of accept

[2022-06-13 06:05] dginovker opened #1982 "FAQ - Current Blockchain Size is out of date"
https://www.getmonero.org/get-started/faq/

Should be updated to

[2022-06-14 18:28] LeoNero commented on #1974
See https://github.com/monero-project/monero-site/pull/1975#pullrequestreview-1005766078_ and https://github.com/monero-project/monero-site/pull/1595

[2022-06-14 18:28] #1974 closed

[2022-06-18 14:17] MariaSwapzone commented on #1970
Hi @erciccione! Could you please share a link where I could ask about this integration?

[2022-06-20 07:10] erciccione commented on #1970
Since you are insisting so much to get your business listed, i would expect you to at least take a couple of minutes to actually visit the website and find the info you are looking for: https://www.getmonero.org/community/hangouts/

[2022-06-20 08:57] MariaSwapzone commented on #1970
Hi! We took that listing opportunity very serious and, off course, I explored  the website very carefully. It seems that the link  (the Matrix/IRC room: #monero-site) is unavailable. I tried to click on the link several times, but nothing happened. This is why I asked for your assistance.

[2022-06-20 10:03] erciccione commented on #1970
Open a IRC client, join `#monero-site` or open a matrix client and look for Monero website.

[2022-06-20 10:10] MariaSwapzone commented on #1970
Thank you so much for your help! I'll try to do that.

[2022-06-26 20:50] HardenedSteel commented on #1980
https://www.backtestking.com, https://monerobase.com and https://vigla.biz are don't work. https://nownodes.io/connect-xmr-node is gives 404 error. Rest of them works fine.

[2022-06-26 21:02] LeoNero commented on #1980
Thank you for accessing the links again!

[2022-06-26 22:21] HardenedSteel commented on #1937
@plowsof will you create pull request?

[2022-06-29 19:17] Mark-777-0 commented on #1947
https://github.com/monero-project/monero-site/pull/1990

[2022-06-29 19:26] Mark-777-0 commented on #1947
Not sure how to link my pull request here, sorry I'm very new @moneroguides @alphatomcat @erciccione .

Let me know if I broke any etiquette, and how to do better next time 👍

[2022-06-29 19:27] Mark-777-0 commented on #1947
I can update the other languages if it's not a bad edit

[2022-06-30 19:04] #1576 closed

[2022-07-01 23:36] MexicanTakeout opened #1993 "Missing wallet rpc methods in wallet-rpc.md"
A few methods I found missing in wallet-rpc.md while checking wallet_rpc_server.h
from [here](https://github.com/monero-project/monero/blob/9750e1fa103539b3e533455500610aae76e253a5/src/wallet/wallet_rpc_server.h#L70)
... to [here](https://github.com/monero-project/monero/blob/9750e1fa103539b3e533455500610aae76e253a5/src/wallet/wallet_rpc_server.h#L163)

- freeze
- thaw
- frozen
- sweep_unmixable
-

[2022-07-10 20:56] plowsof commented on #1934
Please close, issue solved :+1:

[2022-07-10 20:58] plowsof commented on #1944
Please close, issue fixed :+1:

[2022-07-10 22:55] #1944 closed

[2022-07-11 06:19] #1934 closed

[2022-07-20 19:27] eversinc33 commented on #1993
sweep_unmixable is available in the documentation as sweep_dust (where the former is an alias for the latter).

Came here to open an issue about the same thing though.

[2022-07-24 00:18] Mark-777-0 commented on #1947
@alphatomcat @erciccione let me know :)

[2022-07-24 00:19] Mark-777-0 commented on #1947
@erciccione would you like me to do the other languages as well now?

[2022-07-26 15:19] apertamono opened #2006 "Proposal: Sort the FAQ by more specific themes"
The FAQ has grown over the years, and with 38 questions, it needs more structure than the three current categories General, Advanced and Node and Wallet. The first two categories are meaningless anyway. After I saw a PR for a script that sorts the questions alphabetically, at least in English, in #1969, I thought there must be a better way. Let's use more specific categories, so we can group a han

[2022-08-03 13:57] UtopiaP2P opened #2009 "Add a new way in merchant category to buy Monero through CRP.IS anonymously"
[Crypton Exchange](https://crp.is/) (https://crp.is/) is an anonymous crypto exchange without KYC registration. It provides anonymous purchase, sale, exchange, or withdrawal of Monero (XMR).
The platform is unique in that it is backed by the private Utopia P2P ecosystem. [Utopia P2P](https://u.is/en/)  https://u.is/en/ is a decentralized anonymous ecosystem built based on blockchain. The ecosystem

[2022-08-04 08:22] erciccione opened #2011 "More prominently display wallets that don't send any data by default in the download section"
After the controversy risen in https://github.com/monero-project/monero-site/pull/2007, was pointed out that some wallets listed on getmonero might have a controversial privacy policy and/or ping home (sending sensitive data) without the user's specific consent. This can result in the privacy of the user being compromised.

Users of getmonero should be able to make an informed choice about what wa

[2022-08-04 08:25] r4v3r23 commented on #2011
i think a "warning" label for those wallets is more appropriate with an explanation that they leak sensitive data by default

[2022-08-08 09:14] erciccione commented on #2006
Thanks @ProkhorZ this sounds like a very good suggestions. I would change "Wallet" to "Wallets" and replace "Node" with something else, but it's definitely a very good start.

[2022-08-08 09:24] erciccione commented on #1980
Removing the broken resources pointed out by @HardenedSteel: https://github.com/monero-project/monero-site/pull/2012

[2022-08-08 09:27] erciccione commented on #1947
@Mark-777-0 language files shouldn't be edited on the repository or we risk conflicts on Weblate. The PR will do it fine :)

[2022-08-08 09:35] erciccione commented on #1976
Agreed the page needs an update.

This specific link won't be added. The author is unreliable (he has an history of manipulating data and logs for his personal gains), is known for harassing multiple Monero community members (including death threats) and is currently banned from most Monero for all kind of toxic behaviours (including doxxing Monero contributors).

[2022-08-08 09:48] ProkhorZ commented on #2006
Thanks for the feedback, @erciccione. Would you prefer to split the 'Node' segment into 'Network' and 'Blockchain'?

I'll wait for more comments before making a PR, and I still need to ask for that on the various channels.

[2022-08-08 19:58] LeoNero commented on #1976
@erciccione didn't know about that. Thank you for the update!!

[2022-08-09 19:05] ChristopherKing42 commented on #2011
To avoid duplicating work, why not just use the list of F-droid antifeatures? https://f-droid.org/docs/Anti-Features/#:~:text=certain%20Anti%2DFeatures.-,List%20of%20Anti%2DFeatures,-F%2DDroid%20currently

The intent of the anti-feature list seems to be the same as what this issue is trying to solve.

[2022-08-10 06:48] dginovker opened #2015 "getmonero.org/how-to-ccs Has strangely broken link"
If you visit https://ccs.getmonero.org/how-to-ccs/ and click the link under "[What is the CCS and What Are Its Rules and Expectations](https://ccs.getmonero.org/what-is-ccs)", you get getmonero.org on port 8080 like this:

[code]
![image](https://user-images.githubusercontent.com/32943174/183833837-9c766da4-fbf3-427e-9267-8ced15f74f0c.png)

[2022-08-10 20:35] ProkhorZ commented on #2015
The CCS is in a separate repository on Gitlab. [This error was reported and dismissed there](https://repo.getmonero.org/monero-project/ccs-front/-/issues/2). I think there's a slash missing at the end of the link. Might have been dismissed because it does work in the local preview there.

[2022-08-12 07:45] erciccione commented on #2011
@ChristopherKing42 that could be a good idea, but contributors will need to extensively test the wallets listed to make sure all the requisites are fulfilled. Maybe we could compile a list of our own anti-feature and publish it on the website, so that it will be clear for everyone.

In the meantime i opened #2019, that simply adds a disclaimer to the wallets i mentioned.

[2022-08-12 16:10] HardenedSteel commented on #2011
Feather and Monerujo wallet too pinging external sources to get their fiat prices. Currently Feather uses Tor for this but not Monerujo

[2022-08-12 16:27] SamsungGalaxyPlayer commented on #2011
Please make sure that if included, there's some obvious nuance between looking up "what's the price of XMR/USD" and "here, have my private view key for eternity."

[2022-08-15 01:49] dimalinux opened #2021 "ring_size listed as input to wallet RPC transfer method"
I thought the `ring_size` in Monero can no longer be changed.  Does it still belong as an input to `transfer` in the RPC documentation?
https://github.com/monero-project/monero-site/blame/28cfcdb38e735f5c35b83c067d8410ff4dc81ad4/resources/developer-guides/wallet-rpc.md#L659

[2022-08-15 03:30] dimalinux opened #2022 "blocks_to_unlock not listed as output to wallet RPC method get_balance"
The `get_balance` wallet RPC method has a `blocks_to_unlock` field (and possibly others) that are not documented here:
https://github.com/monero-project/monero-site/blame/28cfcdb38e735f5c35b83c067d8410ff4dc81ad4/resources/developer-guides/wallet-rpc.md#L173-L178

Implementation reference:
https://github.com/monero-project/monero/blob/v0.18.1.0/src/wallet/wallet_rpc_server_commands_defs.h#L108-L109

[2022-08-16 02:10] dimalinux opened #2026 "generateblocks is missing in daemon RPC documentation"
Developers need to test their code and `generateblocks` is quite handy. I've used it a lot, but still could use the guide entry so I could finally learn what the `prev_block` and `starting_nonce` input values are used for.

Where it is missing:
https://github.com/monero-project/monero-site/blob/master/resources/developer-guides/daemon-rpc.md

C++ reference:
https://github.com/monero-project/monero

[2022-08-16 23:00] Cactii1 opened #2027 "Make archived /bitmonero Available on getmonero.org for Download"
Currently there's a blockchain.raw file available on getmonero.org that allows people to download the blockchain and import it using the blockchain import tool. This is still very resource intensive so it's not suitable for a lot of people.

An alternative might be to archive a known good /bitmonero directory and make it available for download. Doing this would allow some users an option that is a

[2022-08-19 18:24] erciccione opened #2028 "Clarify why Monero is still on GitHub adn the contingency measures planned"
This question gets asked all the time, especially after a big project is banned from github.

[2022-08-23 04:46] #1947 closed

[2022-08-23 04:47] #1980 closed

[2022-08-24 15:36] Rucknium opened #2029 "MyMonero should be removed from Downloads until compatible with Fluorine Fermi network upgrade"
Many users are looking for a new wallet after their current wallet software, e.g. Exodus, did not update in time for the Fluorine Fermi hard fork. GetMonero.org should not point users to another wallet that is also currently not working.

Once MyMonero is confirmed to be working with the hard fork, it can be added to Downloads again.

[2022-08-24 16:38] nahuhh commented on #2029
Edge relies on Mymonero's update and has confirmed that
"The XMR update for edge is still inprogress, however the all other coins on Edge are still working"

Either full removal or a section / indication that these apps are non-functional

[2022-08-24 20:40] Cactii1 commented on #2029
I don't think this should happen immediately or automatically. We have a responsibility to other users to not recommend unreliable service providers and MyMonero should have to rebuild community trust before it's added back.

[2022-08-25 10:15] nahuhh commented on #2028
There is a reasonable ccs (1.5xmr) open:
https://repo.getmonero.org/monero-project/ccs-proposals/-/merge_requests/339

Auto backed up every 8hrs

Live here:
http://rjk5vwl4wxqozunx6rpaat7rwxkbtlcknkhyq5tuzmy7rc22rbxl4wyd.onion/monero_archive/

Perhaps we could host a few?

[2022-08-25 12:57] AslanPonies commented on #2029
Official update from MyMonero here: https://github.com/mymonero/mymonero-app-js/issues/513

[2022-08-25 12:58] LivBoss commented on #2029
Please find MyMonero’s official response here:

https://www.reddit.com/r/MyMonero/comments/wxbdb9/mymonero_important_announcement/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

[2022-08-25 13:10] LivBoss commented on #2029
See MyMonero's latest update here:
https://github.com/mymonero/mymonero-app-js/issues/513#issuecomment-1227235460

[2022-08-25 13:13] erciccione commented on #2029
I do appreciate that mymonero is speeding up things to fix the problem, but the issue here is that we are still pointing people to a wallet outside of Monero's network. Thousands of people visit the website every day. IMO #2030 should be merged and deployed immediately. We can re-add MyMonero easily as soon as they will be ready.

[2022-08-25 13:22] erciccione commented on #2028
That's unrelated to this issue, as the point is to list contingencies already in place and managed by the current maintaienrs of the project (core team).

[2022-08-25 14:07] AslanPonies commented on #2029
(https://github.com/monero-project/monero-site/pull/2030#issuecomment-1227311250)

[2022-08-25 16:54] PicoDeNero opened #2031 "Pruned Node Language and Bootstrap Mode"
To quote @rating89us, "Since https://github.com/monero-project/monero-gui/pull/3345, simple (bootstrap) mode now syncs a pruned blockchain from scratch." This was back in 2021.

Looking around, neither the GUI, the GUI Guide, nor the website mention anything about this.

The GUI does have a pending issue about it: https://github.com/monero-project/monero-gui/pull/3408

I respectfully disagree, but

[2022-08-25 17:02] #2029 closed

[2022-08-25 17:09] PicoDeNero commented on #2031
This originally came to my attention through a conversation I had with @dEBRUYNE-1 on reddit back in April. https://www.reddit.com/r/monerosupport/comments/tp8yno/comment/i2ggy5z/

There are a lot of people posting regularly on r/MoneroSupport and r/Monero asking about pruning their local nodes or running a pruned node, [as recently as yesterday](https://www.reddit.com/r/Monero/comments/wwfnvn/can

[2022-08-26 04:12] galenhuntington opened #2032 "Moneropedia says the ring size is 11."
https://www.getmonero.org/resources/moneropedia/ring-size.html

As I understand, it's now 16?

[2022-08-26 09:35] LivBoss commented on #2029
See MyMonero's latest official update here:

https://github.com/mymonero/mymonero-app-js/issues/513#issuecomment-1228276635

[2022-08-28 20:02] Snatchess opened #2037 "moneroaddress.org link broken under tools section"
Suggest remove the link for moneroaddress.org under "address generator" section under resources > tools.

[2022-08-29 09:16] erciccione commented on #2011
According to the report in #monero-site, Feather and Monerujo don't ping their servers by default when the app is turned on. There seems to be conflicting information about this, so some clarity is needed.

What i care about is if the apps pings external servers by default at launch or not. It doesn't matter if it's "for the price only", because this is something the final user cannot verify. Inst

[2022-08-31 21:27] binaryFate commented on #811
ping myself @binaryFate discussed on IRC again and todo

[2022-09-06 15:39] GraoMelo commented on #2037
evidences:

![moneroaddress_discontinued](https://user-images.githubusercontent.com/60477737/188676633-1fe1fdc3-1b3b-4927-a233-b15deed29b71.png)

last checked on archive dot org 09 June 2022

![fixedXMRAddrss](https://user-images.githubusercontent.com/60477737/188676754-56d27467-72e6-47a0-b3a4-5c526a9f889c.png)

please verify this @luigi1111 it's important.

domain information:

''
Domain Name: mo

[2022-09-07 12:14] DeeDeeRanged commented on #1953
@maltfield Saw something like that query bu t it had a syntax error in it. Managed to solved it like this in a script:

#!/bin/bash
#set -x
x=$(curl -sd '{"jsonrpc":"2.0","id":"0","method":"get_info"}' http://antec:18089/json_rpc | grep 'database_size' | sed -e 's/.*[^0-9]\([0-9]\+\)[^0-9]*$/\1/');
	y=$((x/1024/1024/1024));
	echo -e "\tCurrent uncompressed Monero block chain is: "$y"GB"

I'll try

[2022-09-08 17:33] maltfield commented on #1953
awesome! unfortunately I get a syntax error on that too

[code]

[2022-09-08 18:38] DeeDeeRanged commented on #1953
Actually it my mistake it should have been:

#!/bin/bash
#set -x
x=$(curl -sd '{"jsonrpc":"2.0","id":"0","method":"get_info"}' http://xmr.coinspace.net:18081/json_rpc | grep database_size | sed -e 's/.*[^0-9]\([0-9]\+\)[^0-9]*$/\1/');
	y=$((x/1024/1024/1024));
	echo -e "\tCurrent uncompressed Monero block chain is: "$y"GB"

I used HTTPS instead of HTTP and made an error in sed. Just double chechke

[2022-09-09 14:40] maltfield commented on #1953
Still sed errors :(

[code]

[2022-09-09 14:47] maltfield commented on #1953
Here's an alternative without sed :)

[code]

Example run:

[code]

[2022-09-09 14:48] maltfield commented on #1953
But how do we know that's the actual uncompressed, unpruned monero block chain size and not the pruned size?

[2022-09-10 20:17] HardenedSteel commented on #2037
should we completely remove or find alternative for moneropedia page?

[2022-09-10 20:58] HardenedSteel commented on #2011
AFAIK there's no option to disable and its enabled by default, in this case cake and monero.com wallet should ask to users before setting up the app. Most people would want this feature too @SamsungGalaxyPlayer

[2022-09-12 12:23] HardenedSteel commented on #2006
Replacing node with network sounds good for me.

[2022-09-12 16:08] HardenedSteel commented on #1976
I think we need to rename "Magazines" title because these resources are newsletter more than magazine.

[2022-09-12 16:15] HardenedSteel commented on #1970
Swapzone is more likely aggregator instead of an exchange or swapper. Creating another section for it would be better.

[2022-09-12 20:13] HardenedSteel commented on #1927
I can add this to #2045 but just checked out XMR <=> fiat offers and most of them only in Russian or/and Russian payment methods which is unusable for most users. Other than Monero, most offers require KYC.

[2022-09-12 20:20] HardenedSteel commented on #1981
[Merchants & Exchanges](https://www.getmonero.org/community/merchants/) page is not appropriate for this. It should be at [resources > tools](https://www.getmonero.org/resources/tools/)

[2022-09-12 20:26] nixt7 commented on #1981
Why not there? :) That's fine

[2022-09-12 22:58] mkalmutairi opened #2046 "forgot my Monero wallet key words and password"
hi all

I have created my monero wallet in 2017 and I was mining so after that I stopped mining for years then I just remembered that I have wallet and then I tried to open it but its ask me for key words and the password that I forgot it what should I do now ???

I need help please

best regards

[2022-09-13 11:32] HardenedSteel commented on #2046
Nobody can help you sorry, you have to remember your wallet password or seeds or private keys. Trying to find your wallet password would be easiest one

Also this repo is for getmonero.org, you can ask your questions at [stackexchange](https://monero.stackexchange.com/), [reddit](https://reddit.com/r/MoneroSupport) or [IRC/Matrix channels](https://www.getmonero.org/community/hangouts/)

[2022-09-13 11:53] HardenedSteel commented on #2009
1. Your platform uses USDT as one of main pair.
2. https://u.is/en/ doesn't work properly without javascript (for an example i can't change language)
3. Making Crypton's advertisement on getmonero.org is not really good idea.
4. Fiat to Monero is not available, many people already can buy Monero using with other cryptocurrencies. (Like BISQ or in future Haveno)
5. Crp.is centralized so censoring i

[2022-09-13 16:21] HardenedSteel commented on #1926
duplicate of #1970, issue can be closed @erciccione

[2022-09-16 19:23] plowsof commented on #2015
Thanks for raising the issue, had a quick look, it is indeed a missing slash at the end. A PR must be made to the CCS-front end repository on gitlab (not here)

https://repo.getmonero.org/monero-project/ccs-front/-/tree/master/how-to-ccs (easy fix but, my account isn't able to fork the repo)

[2022-09-17 09:35] erciccione commented on #2015
Closing this issue as it's unrelated to this repository. Please use the merge request on gitlab for further discussion.

[2022-09-17 09:35] #2015 closed

[2022-09-17 09:36] #2046 closed

[2022-09-25 23:11] HardenedSteel commented on #1035
There's a guide at [xmrguide](https://xmrguide.org/tails/gui/install/manual) by @tobtoht, maybe we can link it or if possible copy?

[2022-09-30 17:21] #2037 closed

[2022-10-07 09:53] HardenedSteel commented on #2027
Instead hosting ./bitmonero files on getmonero.org can we implement skip verifying blockchain as a feature? Like user can able skip 80-90% of the old blockchain.

[2022-10-07 16:42] Cactii1 commented on #2027
I would think that there would be a way to programmatically derive a hash at certain points in the blockchain and have nodes store the hash so that newer nodes that are syncing could just ask other nodes for the hash to be able to compare to its own. This way there's still some sort of verification going on.

[2022-10-08 21:26] #1937 closed

[2022-10-10 15:04] plowsof commented on #2022
Thanks. There is also a "strict" boolean that is missing. I have traced it back to here:
https://github.com/monero-project/monero/blob/master/src/wallet/wallet2.cpp#L5989

i will make a PR to update

[2022-10-15 07:03] plowsof opened #2071 "Display viewkeys of the general fund / ccs"
User selenze asks ' the ccs keys may need to be displayed somewhere along with the gf and to include their view keys. '

[code]
General fund info found in this blog post:
https://www.getmonero.org/2021/06/24/general-fund-2020-2021-report.html

Is there an easy place to display this somewhere on site? or should it be on the ccs front end (not here)

[2022-10-15 18:18] HardenedSteel commented on #2071
Duplticate of [Gitlab #4](https://repo.getmonero.org/monero-project/ccs-front/-/issues/4)

[2022-10-15 21:06] plowsof commented on #2071
Thanks, so putting this somewhere on the ccs front end would make the most sense, rather than on -site. in the 'Donate to the monero project' footer? , i will leave this open for a bit in case anyone has any wildly different ideas then close as its not for -site

[2022-10-16 06:19] dimalinux opened #2075 "incorrect description of suggested_confirmations_threshold in wallet RPC documentation"
`suggested_confirmations_threshold` has a description in 2 places [on this page](https://github.com/monero-project/monero-site/blame/7535c4c/resources/developer-guides/wallet-rpc.md#L1906) that says:

At minimum, that description is horribly confusing given that a transaction must be included in a block to have a confirmation. I'm not sure what it should say.  Maybe something like this?

Here's ho

[2022-10-16 11:36] plowsof commented on #2075
Thanks, it is confusing and seems wrong, i'll have to ask around for a more informed opinion than my own because im thinking  ' 10 conf's are when funds are confirmed ' but looking at that function, it's taking into account the block reward `(entry.amount + block_reward - 1) / block_reward;` and then it provides a different threshold for outputs that are locked, so there may be some kind of attack

[2022-10-18 02:24] dimalinux opened #2080 "Ring size in documentation needs update to 16"
The current documentation still says the ring size is 11:
https://www.getmonero.org/resources/moneropedia/ring-size.html
https://github.com/monero-project/monero-site/blob/master/_i18n/en/resources/moneropedia/ring-size.md

It should be updated to say that the ring size has been fixed at 16 since [Fluorine Fermi](https://github.com/monero-project/monero/releases/tag/v0.18.0.0).

[2022-10-18 12:27] plowsof commented on #2080
Duplicate #2032 closed with #2078

[2022-10-20 08:26] erciccione commented on #2071
If we want to add a view key, i would add it everywhere where the general fund address is displayed (beside past blog posts)

[2022-10-20 08:33] #1926 closed

[2022-10-20 08:40] erciccione commented on #1981
@nixt7 please open a new PR for adding this service in the "tools" section.

[2022-10-20 08:40] #1981 closed

[2022-10-20 20:34] #1982 closed, assigned to nobody

[2022-10-20 20:36] #1035 closed

[2022-10-21 07:47] erciccione commented on #2032
Resolved.

[2022-10-21 07:47] #2032 closed

[2022-10-22 03:02] dimalinux opened #2084 "documentation of the start_height field to the refresh RPC method is incomplete"
Reference:
https://github.com/monero-project/monero-site/blob/7535c4c62623166af4ce12033e30af2d7d19c40b/resources/developer-guides/wallet-rpc.md#L2514

Right now the description of `start_height` to the `refresh` wallet RPC method says:

It should say something like:

This change will prevent anyone from incorrectly thinking that `refresh` can  be used to force rescan the block chain.

[2022-10-23 13:58] plowsof commented on #2084
Thank you. Confused me also.. its clear that its meant to be used in combination with auto_refresh disabled OR - skip / fast forward the sync process (i believe featherwallet utilises this for insta-syncing if the user is certain theyv'e received no funds since the last time they opened their wallet). I've updated my PR with your addition and credited you.

[2022-10-23 14:30] plowsof opened #2086 "Merchants page: payment-gateways anchor none existent"
user cleo reports:
https://www.getmonero.org/get-started/accepting/  links to (under instructions for merchants) https://www.getmonero.org/community/merchants/#payment-gateways which is none existent

payment gateways exist here https://www.getmonero.org/resources/tools/

[2022-10-25 03:31] plowsof commented on #2021
On mainnet yes, but devs are still able to perform tests on older versions of the blockchain. so perhaps just a few words to clarify this e.g. "Not adjustable on mainnet" or something to that effect

[2022-10-25 04:03] dimalinux commented on #2021
Instead of "not adjustable on mainnet", I think the phrase "the field is completely ignored on mainnet" would be more helpful. Seeing that description, client developers of libraries not intended for testing older versions will just omit the field entirely. Developers won't waste time trying to figure out if they need to set it to exactly 16 or if setting it to an arbitrary number like 13 will gen

[2022-10-25 04:50] dimalinux opened #2088 "Create document on message flows between swapd instances"
It would be helpful if we had a document covering the message flows between maker/taker swapd instances. An internal protocol description.

[2022-10-26 14:15] plowsof opened #2089 "devguides: fees output not documented for get_fee_estimate"
woodser reports "get_fee_estimate returns an undocumented field, fees"
https://libera.monerologs.net/monero-dev/20221026#c153665

[2022-10-27 12:54] plowsof commented on #1641
Is primo worth listing? seems dead, but still interesting use of the technology none the less

[2022-10-30 13:38] plowsof opened #2092 "devguides: undocumented start/count in export_outputs walletrpc"
reported in: https://github.com/monero-project/monero/issues/8626

https://github.com/monero-project/monero/blob/66184f30859796f3c7c22f9497e41b15b5a4a7c9/src/wallet/wallet_rpc_server_commands_defs.h#L1788

[2022-10-30 22:42] #2088 closed

[2022-10-30 23:01] dimalinux opened #2093 "devguides: stop_wallet description needs clarification"
In the monero [wallet RPC documentation](https://github.com/monero-project/monero-site/blame/0d05edf78e2e1b41d36c905f967168b2d98d6561/resources/developer-guides/wallet-rpc.md#L1336-L1338):

The description of `close_wallet` is:

The description of  `stop_wallet` is:

Since the user can open and close different wallets on a single `monero-wallet-rpc` instance (and may not even have an open wallet o

[2022-11-01 11:24] plowsof commented on #2093
Thank you ( i've ctrl+f'd for exit many times .. i end up using the pid file to stop it )

[2022-11-03 00:03] plowsof opened #2095 "hangouts: matrix room links broken"
xfedex reported.

changing the room ids will fix it https://www.getmonero.org/community/hangouts/ , ill assign myself

[2022-11-04 14:26] plowsof opened #2098 "devguides: undocumented inputs for get_output_distribution"
https://github.com/monero-project/monero/blob/v0.18.1.0/src/rpc/core_rpc_server_commands_defs.h#L2376 TODO

[2022-11-10 11:45] plowsof commented on #2021
moneromoo - "It is not ignored if sending pre rct outputs."

[2022-11-10 23:25] dimalinux commented on #2021
@plowsof Did moneromoo give any advice on how the `ring_size` field should set for the standard use case of transferring Monero on the current mainnet? The `transfer` method only takes an `amount`.  You don't specify or easily know which outputs get used and if they are pre rct or not. I've just been leaving it unset or with a value of zero and it seems to be working.

[2022-11-10 23:47] plowsof commented on #2021
I will ask, i share the same feelings, for now i'm using "(Unless dealing with pre rct outputs, this field is ignored on mainnet)."

[2022-11-11 11:20] plowsof opened #2099 "swappers: MorphToken service not available"
user cryptoswpz reported. I've sent an email to their contact address asking about it (is it temporary, as i don't know)

[2022-11-19 14:24] plowsof opened #2102 "user-guides: add monero.fail to remote node gui guide"
@Gingeropolous requests to add monero.fail here https://www.getmonero.org/resources/user-guides/remote_node_gui.html

[2022-11-21 20:55] dimalinux opened #2103 "devguides: wallet-rpc query_key should list "spend_key" as a key_type value"
Right now the `query_key` wallet RPC method only mentions `mnemonic` and `view_key` as valid inputs:
https://github.com/monero-project/monero-site/blame/ac1602403936f18bfe08ad757ad428f418d55c5e/resources/developer-guides/wallet-rpc.md#L1240

Thankfully, the undocumented `spend_key` value worked when I tried it. I see it in the tests as well: https://github.com/monero-project/monero/blob/da9aa1f/te

[2022-11-21 21:18] #2095 closed

[2022-11-24 14:15] #2102 closed

[2022-11-24 14:16] plowsof commented on #2103
thanks, will do. (updating docs are paused now until the 'big one' is merged)

[2022-11-28 03:28] plowsof opened #2105 "payment-gateways: swirlpay.io offline"
https://swirlpay.io/

https://www.getmonero.org/resources/tools/

[2022-11-28 09:35] erciccione opened #2106 "Add monerotech.info to "Tools" page"
https://monerotech.info

[2022-11-30 03:19] zigomi commented on #1953
@maltfield what's the muzzle on your face for?