[2018-06-25 12:45] wgx commented on #606
Still not fixed for me - no privacy policy visible in firefox

[2018-06-25 12:51] erciccione commented on #606
I can see it properly on Linux with Firefox 60.0.2 64-bit. Anybody else able to test this on MacOS?

[2018-06-25 17:13] jspence425 commented on #777
Thank you @erciccione! Much appreciated.

[2018-06-25 20:59] UkoeHB commented on #777
Browser console:
SyntaxError: missing = in const declaration main.bundle.js:13:7724

[2018-06-26 11:11] el00ruobuob commented on #775
I share your opinion @erciccione however vp11 had a good point during the meeting. So if some *disgusting* platforms are used by a large number of community members, why not adding them to the page? We could have a disclaimer to explain why slack & whatsapp are bad, and why they should prefer IRC or Telegram, but our common goal is adoption right?

[2018-06-26 15:47] curumimxara commented on #775
I'm pretty sure we can find a middle ground so everyone can be happy. I completely agree that since the Monero Project is open source and promotes FOSS we should focus on these communication platforms. But we cannot and we should not close our eyes to other communication platforms, even more if we're talking about platforms that are exclusively used in specific geographical territories.

It's comp

[2018-06-26 16:39] rehrar commented on #775
After some thought, I agree with @curumimxara, the way to go is to encourage the platforms we want rather than discourage platforms we don't.

[2018-06-27 15:17] BitDials opened #783 "BitDials. The Crypto-Only Luxury Boutique"
BitDials is the world's first crypto-only luxury boutique that provides original and unique luxury watches and fine jewelry to the crypto community since 2016.

We are accepting Monero (XMR) from now on, as well as further crypto-currencies (BTC, BCH, ETH, LTC, DOGE and DCR) with our new payment processor which is GLOBEE.

We are offering new/unworn and also pre-owned luxury watches from Rolex, Au

[2018-06-28 02:33] #777 closed

[2018-06-28 09:20] erciccione commented on #783
Added in #784

+resolved

[2018-06-28 09:30] #783 closed

[2018-06-28 15:22] BitDials commented on #783
Will we be added?

[2018-06-28 16:21] erciccione commented on #783
@BitDials You are already added (by #784 ). You will see your service online once the server hosting the website will be updated

[2018-06-28 17:50] BitDials commented on #783
Great! Thank you!
André

Sent from my iPhone X

[2018-06-29 12:55] erciccione commented on #771
+resolved

[2018-06-29 12:56] erciccione commented on #768
thanks @el00ruobuob  :)

[2018-06-29 12:56] #768 closed

[2018-06-29 12:56] erciccione commented on #729
+resolved

[2018-06-29 13:00] #771 closed

[2018-06-29 13:15] #729 closed

[2018-06-30 20:35] jwoods94 opened #786 "Merchants & Services:::Exchanges"
2 exchanges could be added to this list:

[EXMO](https://exmo.com) which has a USD trade pair
[Switchain](http://switchain.com) which is an instant exchange

I have an affiliation with Switchain but I do love Monero.

Thank you!

[2018-07-01 09:41] erciccione commented on #786
Thanks! Added both in #787

+merchant
+in progress

[2018-07-04 12:27] DrCryptoKey opened #791 "Merchants & Services:::Goods"
CryptoKey now accepts Monero as payment (Selling various solutions for cryptocurrency seed word backup), please add to the list, thanks!
Site URL: [CryptoKey](https://www.getcryptokey.com)

[2018-07-05 12:40] Kukri1234 opened #792 "Merchant requesting to be added to store list."
Hi there, started accepting Monero on my store through Globee today.

https://namechains.myshopify.com

Cheers
P.

[2018-07-05 15:06] el00ruobuob commented on #791
I'm on it

[2018-07-05 15:09] el00ruobuob commented on #792
i'm on it

[2018-07-05 17:25] erciccione commented on #792
#793

+merchant
+in progress

[2018-07-06 08:40] el00ruobuob commented on #700
I'm not a rubyist, but after diving into the script, and thinking, rethinking, overthinking, i am testing something.
I do not say it will work for sure, but at least my new ruby script does not crash and site is building.

[2018-07-06 09:30] el00ruobuob commented on #700
first tests are satisfying...

[2018-07-06 15:54] el00ruobuob commented on #700
I respond to my OP:

- The terms **must** be hyphened, always
- The english terms **must** be kept before adding the localized terms

[2018-07-06 15:55] el00ruobuob commented on #700
to be put +inprogress @erciccione

[2018-07-07 05:29] FatBirdie opened #795 "New merchant"
Monero has been added as payment option to your online store.
I'm not sure if I did it correctly (never used GitHub before) so I'll drop this comment here as well, but I did modify the https://github.com/monero-project/monero-site/blob/master/_data/merchants.yml file and tried adding the website there, but don't know if it was rejected or if there is just a lack of oversight on progress.

I'd be h

[2018-07-07 10:13] el00ruobuob commented on #795
@FatBirdie Aparently you forked the site and did your change correctly in the merchants file. However you should now "pull request" your branch "patch 1" to this repo. Open your branch in GitHub and you'll find an option to do it. Then write a nice title and an explanation telling it solves #795.

[2018-07-07 10:53] FatBirdie commented on #795
Thank you.

Ok, still a bit confused on how GitHub works, but I think I found it and hopefully did it correctly. If not, please do correct me.

[2018-07-07 11:07] el00ruobuob commented on #795
You created the pull request on your own fork. Do it again and in the option for target branch select upstream/master

[2018-07-07 11:18] FatBirdie commented on #795
@el00ruobuob silly me,
I've re-submitted it now.

Thank you again!

[2018-07-07 12:32] erciccione commented on #795
+merchant
+in progress

[2018-07-08 17:31] el00ruobuob commented on #752
this has not been updated in a month. Obviously the banner is not part of the monero-site code (or i'm blind), and i think it's added on the hosting server itself. @rehrar could you tell? Who could then change the actual banner with the one we agreed upon? Is it @luigi1111 or @fluffypony ?

[2018-07-08 17:33] fluffypony commented on #752
@el00ruobuob is there broad consensus on that wording?

[2018-07-08 17:47] el00ruobuob commented on #770
I don't see the benefit of adding "Graphic User Interface". By oposition, the CLI is reference as "Command-Line tool only". So the average user should not want to download this one and will choose the "Windows, 64-bits".
However, i do agree regarding adding the wallet term somewhere, maybe in the header, just below Download:

[2018-07-08 17:51] el00ruobuob commented on #752
@fluffypony i think @SamsungGalaxyPlayer @erciccione @uncagedpotential @One-horse-wagon and me seemed to agree on this. At least, it's still better than the actual one.

[2018-07-09 03:09] Electricsheep01 commented on #770
Well it simply gives more clarity. A a link saying 'Windows 64-bits' does not indicate what so ever what you are downloading it should say 'Windows, 64-bit Graphic User Interface.'

People just want a wallet, if you had no idea what CLI or a GUI even was and you visited the downloads page for said wallet you would have no idea what to download.

I'd also reccomend indicating that the command-line

[2018-07-10 15:25] el00ruobuob commented on #735
@erciccione its +improvement + in progress through #798

[2018-07-10 15:57] uncagedpotential commented on #752
Sure, I would be okay with the proposed: "To continue using Monero, make sure your software is up-to-date with the April ~~6th~~~ **2018** network upgrade"

^ I removed the date, "6th" which is irrelevant now, and added the year for clarity.

-------------

Smaller commentary: Reading the above comments, there appear to be two considerations.
Consideration 1) Making sure that the before banner and

[2018-07-11 07:19] el00ruobuob commented on #752
@uncagedpotential, as the network upgrade occurs on a specific block height, it would be very complicated to have a core member behind the website to change the banner at this exact moment.

I think `To continue using Monero, make sure your software is up-to-date with the April 6th network upgrade` is valid before and after, as it is infinitive.

The point is the core team member has bigger things

[2018-07-11 09:52] serhack commented on #567
@uncagedpotential yes, Mastering Monero goal is approaching people to the Monero world, especially developers.

[2018-07-11 12:14] fluffypony commented on #752
Changed, closing this issue.

[2018-07-11 12:14] #752 closed

[2018-07-12 15:15] erciccione commented on #735
+improvement
+in progress

[2018-07-17 21:11] #786 closed

[2018-07-18 09:30] #795 closed

[2018-07-18 09:45] #792 closed

[2018-07-18 10:00] #791 closed

[2018-07-18 12:32] erciccione commented on #738
@el00ruobuob you can just close a PR if you opened it and it's solved.
btw:

+resolved

[2018-07-18 12:45] #738 closed

[2018-07-19 06:47] Electricsheep01 commented on #775
#openalias isn't listed on the hangouts page fyi

[2018-07-21 08:05] cvnghv opened #803 "Request to add BITEXBOOK crypto exchange to the merchants page."
Dear Monero Team,

Can you add BITEXBOOK crypto exchange to the merchant list as XMR/BTC pair has been recently added?
Here is the link: https://bitexbook.com/trading/xmrbtc

Please, feel free to ask for any additional information if necessary.

Thank you!

[2018-07-22 01:54] dginovker opened #804 "getmonero.org/resources/research-lab/ Typos, missing MRL-0006 and weird thing"
MRL-0004 writes

**Abstract:**We identify ...
Needs a space after Abstract:

MRL-0005 same thing

MRL-0005 doesn't link the MRL-005 paper with the same "Read Paper" format, but instead posts this [giant link](https://i.imgur.com/J4axrNf.png) with no "Read Paper"

MRL-0006 is missing

I would do it but my Jenkylls didn't install :C I might try again on my Debian later.

[2018-07-22 05:04] FatBirdie commented on #795
Hello again
Just curious, what is the estimated time for website to update after the git has been updated?

[2018-07-22 09:08] el00ruobuob commented on #795
Usually weeks

[2018-07-22 12:04] Onefox opened #805 "Add Bulletproofs to roadmap"
we should add something about the bulletproof status to the roadmap over here:
https://getmonero.org/resources/roadmap/

The reviews are going good and the plan as fare as I know is to enable it in the next protocol upgrade.

[2018-07-22 16:57] FatBirdie commented on #795
Many thanks clarifying @el00ruobuob

[2018-07-23 21:06] el00ruobuob commented on #805
In fact it is "More efficient range proofs for RingCT to reduce transaction sizes" but I reckon it's not really obvious.

[2018-07-24 21:46] SamsungGalaxyPlayer commented on #805
I believe I made that sentence @el00ruobuob before the bulletproof paper was released. It can be changed to mention bulletproofs.

[2018-07-24 21:49] Onefox commented on #805
Also it should be marked as Ongoing task.

[2018-07-24 21:50] SamsungGalaxyPlayer commented on #805
@Onefox can you take the initiative on this? It should be trivial to update, and it should be able to be completed entirely from within the browser.

[2018-07-25 05:31] el00ruobuob commented on #805
And off topic there is and update to push for kovri alpha version on 8/1 and upcoming beta.

[2018-07-27 06:54] cvnghv commented on #803
Dear Monero Team,

There is an answer from you for a long time.

Is something wrong?

[2018-07-27 06:56] el00ruobuob commented on #803
Sorry to have let this behind.
I'll take care of your request.

[2018-07-27 08:07] el00ruobuob commented on #803
Done.

[2018-07-27 08:10] cvnghv commented on #803
Thank you!

[2018-07-27 15:39] artyomsol opened #811 "Store binary checksums alongside with files being released"
`downloads.getmonero.org` holds historical releases for some reasons, but _canonical_ PGP-singed checksums `https://getmonero.org/downloads/hashes.txt` are for the last one release (tough it mentioned on every release note on github for all versions the same).
If previous releases are need to be available they must be provided with signed hashes files for every single version.
It would be convenie

[2018-07-27 15:58] el00ruobuob commented on #811
The old release are not removed from the website, but they are not available through any link on downloads.getmonero.org.
So, i do not believe we should offer the pgp hash from the website itself. Perhaps should we remove the old binaries.

[2018-07-27 16:39] erciccione commented on #803
Totally missed this one, sorry @cvnghv

+merchant
+in progress

[2018-07-27 21:02] clarencerobinsonpy opened #812 "AppleBitz New Crypto Market"
https://applebitz.org/

[2018-07-27 21:48] el00ruobuob commented on #812
First of all, hi.
I see you offer bitcoin but I can't see monero listed as a mean of payment.
Could you clarify?

[2018-07-28 07:47] el00ruobuob commented on #812
Please clarify how you support XMR @AppleBitz

[2018-07-28 18:18] dEBRUYNE-1 opened #814 "Update hardware section on the downloads page"
Currently the hardware section on the downloads page states "As well, Ledger is working on integrating Monero into their hardware wallets." whilst both the CLI and the GUI are currently able to directly generate a Ledger Monero wallet. Thus, the hardware section basically needs an update.

[2018-07-28 18:49] el00ruobuob commented on #814
You are correct.

[2018-07-29 17:01] Onefox opened #816 "Forum funding contribute page has no integrated addresses"
At the moment there is only a address and payment-ID option when contributing to a funding request.

Since integrated addresses are over all better and more human error resisted we should use the also here or?

[2018-07-29 18:20] el00ruobuob commented on #816
The FFS wallets are under the core team responsibilities. So even if I agree to your suggestion, I'll pass it over to @luigi1111

[2018-07-29 20:15] el00ruobuob commented on #804
I will try to fix this in the next few days.

[2018-07-30 12:43] ChangeHero opened #818 "ChangeHero - get listed at the list of exchanges"
Hello,

I am Monika from the ChangeHero. We are a new instant crypto exchange platform for the fastest assets swap with the best rates. Please, check our website: https://changehero.io/

Our platform allows customers to make crypto-to-crypto transactions and buy crypto with the credit card, including Monero.

We are working hard to develop our network and partnership It would be really helpful if

[2018-07-30 12:55] el00ruobuob commented on #818
Hello @ChangeHero is your platform really allowing to buy XMR with credit card? Buying BTC seems to work (but expansive), but for XMR:
![image](https://user-images.githubusercontent.com/37215310/43398514-99226990-9408-11e8-96b3-3af4f222a261.png)

[2018-07-30 13:51] ChangeHero commented on #818
Hello!
It is working correctly no, please try one more time.
Thank you!

Best regards,
[image: photo]
*Monika Helme*
Business Developer Manager, Change Hero

+37256763409 | monika.helme@changehero.io

https://changehero.io/ | Skype: Monika Helme
<https://mail.google.com/mail/u/1/#m_-4449889987911043574_>
<http://www.linkedin.com/in/monika-helme-a07aa9166/>
<http://twitter.com/Changehero_io>

2018-

[2018-07-30 13:52] el00ruobuob commented on #818
Yes it is.
On my way to add you.

[2018-08-01 14:08] ChangeHero commented on #818
Hello!

Could you please notify me once you add our logo on your website?
I attached it to this letter.

Also, we would like to make a post in twitter. Would you please repost it?
Here is the text:

We are excited to start the collaboration with @Monero
<https://web.telegram.org/#/im?p=%40Monero>. From now on, you can get #XMR
on changehero.io. Buy it with a credit card or exchange with the best
r

[2018-08-01 15:11] lh1008 opened #821 "Proof reading ledger-wallet-cli.md guide - 2. Mac OS X"
Hi @el00ruobuob,

In the file [user-guides/ledger-wallet-cli.md](https://github.com/monero-project/monero-site/blob/master/_i18n/en/resources/user-guides/ledger-wallet-cli.md), section 2. Mac OS X where it says:

"Where the full path is, intuitively, the actual path on your Mac OS X.

The CLI will, after executing aforementioned command, prompt your for a password. Make sure to set a strong passwo

[2018-08-01 17:04] el00ruobuob commented on #821
Yes, this is a typo copied from @dEBRUYNE-1 stack exchange. Do you want me to correct it in a new PR? Or are you already doing it.

[2018-08-01 21:05] lh1008 commented on #821
I'll do the PR. Let me update the fork I have, and submit it. :)

[2018-08-01 21:43] lh1008 commented on #821
Here it is #822.

[2018-08-04 10:03] dEBRUYNE-1 opened #823 "Fix typo in CLI Windows 64-bit SHA256 hash"
Site (downloads page) lists:

`5c06097acebf643857672e673258d16d66a71de504377399b7407318f9887ee3s`

Hashes.txt lists:

`5c06097acebf643857672e673258d16d66a71de504377399b7407318f9887ee3`

The latter is correct.

[2018-08-08 09:25] ChangeHero commented on #818
Hello!

It is a week since we talked last time about listing. Could you please tell
me when can we expect listing on your website?

Also, we would like to make a post on twitter. Would you please repost it?
Here is the text:

We are excited to start the collaboration with @Monero
<https://web.telegram.org/#/im?p=%40Monero>. From now on, you can get #XMR
on changehero.io. Buy it with a credit card

[2018-08-08 09:45] el00ruobuob commented on #818
You have been added to the code. Please wait for the site to be rebuild.
We do not add any merchants or exchanges logo. Only list them.
I have no idea who handle the tweeter account, so I can't guarantee it will be repost.

[2018-08-08 10:57] ChangeHero commented on #818
Ok, I see

Could you possibly give me the contact of a person from marketing?
We would also like to discuss marketing opportunities.

Thank you!

[image: photo]
*Monika Helme*
Business Developer Manager, Change Hero

+37256763409 | monika.helme@changehero.io

https://changehero.io/ | Skype: Monika Helme <#>
<http://www.linkedin.com/in/monika-helme-a07aa9166/>
<http://twitter.com/Changehero_io>
Cre

[2018-08-08 13:34] el00ruobuob commented on #818
Marketing contact from an open source project?? @SamsungGalaxyPlayer could you help here?

[2018-08-09 22:18] lh1008 opened #828 "Proof-reading mining_with_xmrig_and_docker.md guide "Why Docker" section"
Hi,

Not sure of the word "an".

"The container I **an** using is alpine-xmrig as per the name it is built on the Alpine Linux image".

Should it be **"am"**.

[2018-08-11 08:12] ordtrogen commented on #828
seems obvious to me. Go ahead and create a PR!

[2018-08-11 15:36] dginovker opened #829 "The Language Dropdown Should Show a Flag Instead of "English""
Just a thought -- I'm not sure how many foreigners wouldn't be able to tell what it means, but I don't think a flag representing the US would be too high-contrast and it's pretty universally known as a "What language am I on" type thing.

[2018-08-11 17:44] dginovker opened #830 "Small Typo in the Readme"
"..encouraged that you if you make a change, you - at the minimum..." should be changed to "...encouraged that if you make a change, you - at the minimum...".

Creating pull request for this now.

[2018-08-11 21:57] lh1008 commented on #828
@ordtrogen thank you. Made the PR #832.

[2018-08-12 04:10] el00ruobuob commented on #829
I'm not sure about that. It's limiting the language to one country, when we try to be decentralized. What about UK, Canada or Australia?

[2018-08-12 12:45] dginovker commented on #829
That was my first thought for sure. Perhaps there's a better move -- default language in the region that the IP originates, or the slightest popup?

I did notice, depending on the browser size it has a little image of letters instead of writing English however. That was neat.

[2018-08-12 13:14] erciccione commented on #829
This is a discussione we already had some months ago. Flags should be avoided when dealing with translations. The GUI wallet is in the process of being refactored to raplace flags with a text-based page (see monero-project/monero-gui#1092)

[2018-08-12 21:31] BlackLotus64 opened #834 "Use of "CLI" and its relation with translations"
We have had some discussion about the use of CLI in some pages of monero-site (getmonero), and we would like to open an issue about it so we can all be aware of its meaning and uses, and what should we do in translations to translate it, and make it clear if CLI is an acronym or it's a short name for ´monero-wallet-cli´.

[2018-08-12 21:40] BlackLotus64 commented on #834
One of the issues is that lh1008 and ordtrogen say that it stands for the program ´monero-wallet-cli´, and it should be left that way in translations, or use the translated word for console/terminal followed by CLI to make it view that it in reference to ´monero-wallet-cli´.

I can understand that CLI can just be used as a short of ´monero-wallet-cli´, but those particular letters are an acronym f

[2018-08-12 21:57] lh1008 commented on #834
I understand "CLI" stands for `monero-wallet-cli` without adding the complete `monero-wallet-cli` name. Saying "la CLI" is not a grammatical error, just as using "la internet" as "the internet". If it's confusing I suggest the following:

e.g.
"Use the CLI to send and receive transactions."

Translation:
 - "Use la **interfaz de línea de comandos (CLI)** para enviar y recibir transacciones." **(Th

[2018-08-12 22:33] BlackLotus64 commented on #834
"Use monero-wallet-cli para enviar y recibir transacciones."

That's a lot better than the other sentences you wrote. Just a personal note, it's not the same as "the internet" because it's not an acronym, we must be aware that that part of the wallet program of Monero is also an acronym, because it can't be monero-wallet-command-line-interface obviously. Is not that CLI is for another reason. And

[2018-08-13 13:12] dginovker opened #835 "Roadmap | Monero shows Kovri Alpha as unreleased"
https://getmonero.org/resources/roadmap/

Should say completed, as per 1 Aug 2018: https://twitter.com/getkovri/status/1024863651487010816

Edit:
I'm looking at the roadmap.yml right now and it shows that Kovri Alpha Release was completed, and Kovri Beta release is upcoming, but that does not reflect what's shown on the website. Does anyone have any insight?

Edit2: My local version shows the upda

[2018-08-13 13:30] dginovker commented on #835
I would like to fix this myself but the Readme says you edit the roadmap in _data/roadmap.yml -- but such a file does not exist. Perhaps the readme needs an update too?

[2018-08-13 13:30] erciccione commented on #834
No need to open an issue about this on monero-site. This is a very minor discussion who can happen in the many channels we have available: `#monero-es` since its related to the Spanish language; `#monero-translations`, since it's a translations-related issue. Or, even better, opening an issue on [monero-ecosystem/monero-translations](https://github.com/monero-ecosystem/monero-translations), where

[2018-08-13 13:45] #834 closed

[2018-08-14 05:52] mojaveCafe opened #838 "www.mojave.cafe accepts Monero as payment to its general goods store."
Hi there,

We accept Monero as payment at www.mojave.cafe. We sell general goods and add items every week.

:-)

[2018-08-14 15:26] erciccione commented on #838
Hi! Added in #839 . Thanks :)

+merchant
+in progress

[2018-08-14 16:42] ChangeHero commented on #818
Hello!

Could you please tell me, when your website will be updated? We want to
make a post about our listing on your website.

Thank you!

[image: photo]
*Monika Helme*
Business Developer Manager, Change Hero

+37256763409 | monika.helme@changehero.io

https://changehero.io/ | Skype: Monika Helme <#>
<http://www.linkedin.com/in/monika-helme-a07aa9166/>
<http://twitter.com/Changehero_io>
Create yo

[2018-08-15 00:16] SamsungGalaxyPlayer commented on #835
@dginovker you can close it, or else someone else with access to the bot tools can. It often takes a few days for the actual website source to be updated with the changes on Github.

[2018-08-15 00:28] #835 closed

[2018-08-15 11:40] erciccione commented on #818
Hi @ChangeHero
Your service has been added with #819 you'll see your website listed once getmonero.org will be updated.

+merchant
+resolved

[2018-08-15 11:45] #818 closed

[2018-08-15 22:01] #830 closed

[2018-08-15 22:06] #838 closed

[2018-08-16 13:42] monovm opened #842 "merchant listing request"
dear support
please add us in merchant list
we have 2 brands
https://monovm.com
https://1gbits.com

regards

[2018-08-16 14:51] el00ruobuob commented on #842
Hello @monovm, could you clarify how you support XMR as payment method?
Both the sites says you support cryptocurrencies, but there is no list. Is it through a payment gateway? Which one?

[2018-08-16 17:59] monovm commented on #842
Thanks we use coinpayments.net
Regards

[2018-08-16 22:13] directdepot opened #846 "We are accepting Monero"
We are now accepting Monero...

https://www.directdepot.net

[2018-08-16 23:35] directdepot commented on #846
Guess I should have mentioned this is a merchant listing request.  Thx...

[2018-08-17 00:39] Olsm opened #847 "Keys4Coins merchant listing request"
https://www.keys4coins.com/keys4coins-now-accept-monero/

[2018-08-17 05:56] el00ruobuob commented on #842
Done in #844

[2018-08-17 05:57] el00ruobuob commented on #846
done in #848

[2018-08-17 05:57] el00ruobuob commented on #847
Done in #848

[2018-08-17 12:13] jamesmorgancd opened #849 "Exchange listing request"
https://www.coindirect.com/buy/monero

Already listed on https://monero.org/services/exchange/

[2018-08-17 12:36] ordtrogen commented on #829
Unless you can find a country-neutral flag for English ... no flag

[2018-08-17 12:56] ordtrogen opened #850 "Establish and implement consistent capitalization of the word "monero" across projects"
I'm looking at the monero-gui project English source and it appears that in every occurrence, 'Monero' is capitalized.

At least when it's used as a currency name/unit of account, it should not be. Just like "ten dollars" or "fifty yen", it should be written as "twenty monero" with a lower case "m".
Here's a reference:
https://ell.stackexchange.com/questions/17517/why-arent-currency-names-capitali

[2018-08-17 13:30] erciccione commented on #847
+merchant
+in progress

[2018-08-17 13:30] erciccione commented on #846
+merchant
+in progress

[2018-08-17 13:31] erciccione commented on #842
+merchant
+in progress

[2018-08-19 20:29] Herroo opened #852 "Monero payments"
What can we do to help simple retailers and others to implement Monero payments on their websites? Would it make sense to add a section of "how to get paid in Monero" on the official website and have super simple video guides for how to get it implemented on e.g. your wordpress site?

Maybe here: https://getmonero.org/get-started/accepting/

How can I/we non-techies help out? Is there someone peda

[2018-08-20 05:45] el00ruobuob commented on #852
I believe we should create a user guide for this (or several) "how to integrate globee to wordpress" for instance. But I'm not sure an FFS might be needed on this. We could write it with the help of payment gateways whom interest is to be used, so they should collaborate easily. Any thoughts from globee perspective @fluffypony ?

[2018-08-20 05:48] el00ruobuob commented on #850
I like the moneropedia entry idea. We could also use it to clarify the esperanto plural `Moneroj`, as it is not widely used or understood today.

[2018-08-20 21:15] ordtrogen commented on #852
I seem to recall there was a lot of work done on Wordpress <--> Monero maybe a year ago?
Maybe it was @serhack who was doing it, or maybe he remembers.

Unless I misunderstand the topic on this thread, what you're asking for could already be available.

[2018-08-21 05:44] serhack commented on #852
Hi @Herroo, welcome to Github and Monero community!

I am the lead developer of [Monero Integrations project](https://github.com/monero-integrations). This project aims to give to merchants the most private payment gateway compatible with CMS (Content Managment System). At the moment we have Woocommerce, OpenCart, Prestashop, WHMCS payment gateways.

One year ago I opened a FFS to started work abo

[2018-08-21 06:00] el00ruobuob commented on #852
So I suggest we simply add a user guide which point to the different repositories with a few wording around, as well as a link to it in "accepting"

[2018-08-21 06:56] serhack commented on #852
Well, I was thinking to write a resource for developers so they could write own private payment gateway too!

[2018-08-21 06:59] Herroo commented on #852
All of this sounds very promising, especially @serhack 's dedication for the question in the Integrations Project. Special thanks for that!

I am for any suggestion which make the information available, in a VERY pedagogic format and is simple to find for those seeking information about Monero. In an ideal world I believe that the official Monero website should be the single source of information

[2018-08-21 07:42] serhack commented on #852
I agree with @Herroo . At the moment, the getmonero.org website is bare. Definitely, we need more content! 😄

[2018-08-23 08:51] Du34 opened #855 "Exchange Listing Request"
- name: Anycoin Direct
  url: https://anycoindirect.eu/buy/monero

[2018-08-23 13:38] el00ruobuob commented on #852
Damned, i think i responsed to it, but with my country-side internet, it has been lost.
So i suggest to:
- add each existing guides from the repo to a new "merchants" section within user-guide page;
- thanks and cheers @serhack for this dev-guide idee, which will be great to integrate.

If we have consensus on this, i can start with user-guides right away.

[2018-08-23 20:54] monovm commented on #842
thanks
i wan to follow up the matter
regards

[2018-08-24 14:38] erciccione commented on #855
Added in #856

+merchant
+in progress

[2018-08-24 14:39] erciccione commented on #849
+merchant
+in progress

[2018-08-25 05:18] el00ruobuob commented on #735
This could be closed

[2018-08-25 05:18] el00ruobuob commented on #700
This could be closed

[2018-08-25 05:19] el00ruobuob commented on #735
Fixed

[2018-08-25 05:19] #735 closed

[2018-08-25 05:19] el00ruobuob commented on #700
Fixed

[2018-08-25 05:19] #700 closed

[2018-08-25 14:50] erciccione commented on #849
+resolved

[2018-08-25 14:50] erciccione commented on #846
+resolved

[2018-08-25 14:50] erciccione commented on #847
+resolved

[2018-08-25 14:51] erciccione commented on #842
+resolved

[2018-08-25 15:00] #849 closed

[2018-08-25 15:15] #847 closed

[2018-08-25 15:30] #846 closed

[2018-08-25 15:45] #842 closed

[2018-08-25 20:08] monovm commented on #842
dear  erciccione

you mean sites are listed ?

[2018-08-25 20:11] el00ruobuob commented on #842
They are in codebase. Kindly wait for a site rebuild.

[2018-08-25 20:12] monovm commented on #842
;) thanks

[2018-08-26 06:51] senangonline commented on #852
Is this where we submit info on merchants accepting monero?

Or is there any form somewhere? TIA..

[2018-08-27 08:57] rehrar commented on #852
The Accepting page needs to be completely rewritten to talk about how people (businesses and users) can start accepting Monero. It should highlight things like Monero Integrations and Globee.

[2018-08-27 14:55] erciccione commented on #855
+resolved

[2018-08-27 15:00] #855 closed

[2018-08-27 23:45] MInersForLess opened #859 "Please add to Monero merchants"
Hello. We sell ASIC miners via cryptocurrencies with bulk discounts. This includes monero and we would like to be added to the list of monero merchants.

https://www.minersforless.com/

Thanks
Mark

[2018-08-28 01:40] #821 closed

[2018-08-28 01:42] #828 closed

[2018-08-28 06:36] el00ruobuob commented on #859
Well, as a cryptocurrency aiming to be ASIC resistant, I'm a bit confused here. I think other community members point of view would be appreciated here. @SamsungGalaxyPlayer @erciccione ?

[2018-08-28 13:34] el00ruobuob commented on #859
Indeed @MInersForLess i get the point. It's just a bit strange to me to list a merchant vending ASIC while in the meantime fighting ASIC in our network upgrades. That's why i asked for others' point of view.
But as we do not endorse any of the listed sites, it should be just fine. I just want others to share their feelings here.

[2018-08-28 17:15] erciccione commented on #859
I don't think it's a problem. As you said, being listed on getmonero doesn't mean endorsement.

[2018-08-29 12:16] erciccione commented on #859
+merchant
+in progress

[2018-08-29 13:02] cryptodiggers opened #861 "Add payment gateway"
Please add to XMR payment gateway services : https://www.cdpay.eu/

[2018-08-29 13:03] cryptodiggers opened #862 "Add ATM XMR provider"
Please add CryptoDiggers.eu as XMR ATM provider for buying XMR anonymously with cash <5000eur per transaction in Slovakia Bratislava

[2018-08-29 19:44] ChangeHero commented on #818
Hello!

We are happy to inform you that our instant exchange WIDGET is available
now:

You can integrate our widget to your website or app and make your visitors
buy with the credit card or exchange XMR with no redirect.
In comparison with other widgets Changehero widget it totally adaptable
with any device and deliver the best user experience. It could be installed
as a button as well.

Would you

[2018-08-29 22:11] senangonline opened #863 "Add merchant"
Been accepting Monero since JAN 2017

1oasis.net @ senang.online

SERVICES:
Registration for generic top-level and ccTLD domain names plus web+email hosting & cloud services including Google Suite, Weebly sitebuilder and Comodo SSL certificates for personal or business use. Stay anonymous as long as no abuse complaints.

http://1oasis.net

Thank you!

[2018-08-31 05:46] el00ruobuob commented on #852
Let's do a poll:

Do we add all the monero-integrations how-to to a new user-guide section?

* **Yes, we need more content**
* Only a link to github
* No, don't even pronounce its name

[2018-08-31 07:15] Herroo commented on #852
Great idea to have a vote. My vote falls on:
**Yes, we need more content**

[2018-08-31 13:10] erciccione commented on #859
+resolved

[2018-08-31 13:15] #859 closed

[2018-09-01 10:32] el00ruobuob commented on #812
The website is not accessible anymore, and the submitter has not respond in a month. This should be closed. @erciccione? @SamsungGalaxyPlayer?

[2018-09-01 10:33] el00ruobuob commented on #814
This could be closed, since #815 is merged. @erciccione?

[2018-09-01 10:33] el00ruobuob commented on #805
This could be closed since #806 is merged. @erciccione?

[2018-09-01 10:35] el00ruobuob commented on #804
This could be closed since #817 is merged. @erciccione?

[2018-09-01 14:08] directdepot commented on #852
The reason a lot of small merchants do not accept Monero is because of the price functions.  They sell a product and then have to purchase more of that product in their fiat currency.  So you not only need to provide an easy way to accept Monero, the merchant needs an easy way to quickly convert the currency  so they can purchase more product to sell.

[2018-09-01 14:14] el00ruobuob commented on #852
@directdepot this is exactly what Globee and other payment gateway are for. Globee allow you to accept XMR and hold in as fiat. That's why we need @fluffypony support to help user to integrate them from our website itself, or at least explain the concept.

[2018-09-01 16:33] el00ruobuob commented on #522
This will be solved in #854

[2018-09-01 17:13] cryptochangements34 commented on #852
I am 100% in favor of explaining how to easily accept Monero. However, if it is going to highlight certain services then I vote for Monero-Integrations as opposed to Globee because Monero-Integrations only supports Monero and is 100% free (both libre and gratis) while Globee is a for-profit company

[2018-09-02 14:36] erciccione commented on #804
thanks for the ping

+resolved

[2018-09-02 14:36] erciccione commented on #805
+resolved

[2018-09-02 14:37] erciccione commented on #814
+resolved

[2018-09-02 14:38] erciccione commented on #812
+resolved

[2018-09-02 14:39] erciccione commented on #522
+in progress

[2018-09-02 14:45] #814 closed

[2018-09-02 15:00] #812 closed

[2018-09-02 15:15] #805 closed

[2018-09-03 05:36] SamsungGalaxyPlayer commented on #862
@cryptodiggers your website refers to Monero as `MNR` under the donation section: https://cryptodiggers.eu/#atms

Can you please refer to Monero by its ticker `XMR`?

Also, I recommend adding the following wallets under the suggested wallets for Monero:

**Android**

* [Monerujo](https://monerujo.io)

**iOS**

* [Cake Wallet](https://cakewallet.io/)

* [X Wallet](https://xwallet.tech/)

[2018-09-03 05:38] el00ruobuob commented on #862
Nice catch!

[2018-09-03 14:28] dginovker opened #868 "The BSD link in the Downloads page doesn't go anywhere"
As seen in: https://getmonero.org/downloads/#bsd

[2018-09-03 20:59] el00ruobuob commented on #868
Should we just remove BSD then?

[2018-09-03 21:17] el00ruobuob commented on #868
This should be solved by #870

[2018-09-04 15:19] lh1008 opened #871 "@lang_tag_(en,es,fr,it,pl,ar) showing while building with jekyll"
Hi guys,

I caught the tag while building the website through jekyll. I thought I had messed something up (I hadn't done anything, but was about too), so I erased my fork and did a clean clone in a different directory using the direct url(https://github.com/monero-project/monero-site.git)  and found out that the tag was still showing up. I showed this to @el00ruobuob and now creating the issue. I

[2018-09-05 01:09] directdepot opened #873 "Merchant Add Request"
Merchant add request. Just added Monero to our store.

https://www.accessoryauthority.com/

Thanks...

[2018-09-05 05:53] el00ruobuob commented on #873
Added in #874

[2018-09-05 17:15] erciccione commented on #873
+merchant
+in progress

[2018-09-05 17:17] erciccione commented on #861
+merchant
+in progress

[2018-09-05 17:17] erciccione commented on #862
+merchant
+in progress

[2018-09-05 17:17] erciccione commented on #863
+merchant
+in progress

[2018-09-05 17:21] erciccione commented on #803
+resolved

[2018-09-05 17:30] #803 closed

[2018-09-05 20:13] cryptodiggers commented on #862
Hi,Perfect, thanks for feedback .. it was done almost 1 year back. BuggieS pozdravom / Best regardsCryptoDiggers Team-------- Original Message --------Subject: Re: [monero-project/monero-site] Add ATM XMR provider (#862)From: Justin Ehrenhofer To: monero-project/monero-site CC: cryptodiggers ,Mention @cryptodiggers your website refers to Monero as MNR under the donation section: https://cryptodigg

[2018-09-06 01:27] anonimal opened #876 "Roadmap | Monero shows inaccurate Kovri Beta"
https://getmonero.org/resources/roadmap/

Whoever added that wasn't paying attention to the fact that integration will come *before* Beta. Beta is just a name. Someone replace "Beta" with "Integration".

[2018-09-06 04:54] el00ruobuob commented on #876
I did this, sorry for my misunderstanding. I will correct it right away.

[2018-09-06 05:27] cryptodiggers commented on #862
We are also supporting payments with XMR on CDPAY.eu , could somehow arrange for us also adding to payment gateways please ?

Buggie

From: Justin Ehrenhofer [mailto:notifications@github.com]
Sent: Monday, September 03, 2018 07:37
To: monero-project/monero-site <monero-site@noreply.github.com>
Cc: cryptodiggers <info@cryptodiggers.eu>; Mention <mention@noreply.github.com>
Subject: Re: [monero-proj

[2018-09-06 06:48] el00ruobuob commented on #876
Corrected in #877 @anonimal

[2018-09-07 23:33] lh1008 opened #878 "Adding Quickfacts to Press-kit section"
Hi,

I have been working on adding the [Quick-Facts Sheet](http://www.monerooutreach.org/pubs/2018/QuickFacts/QuickFacts.pdf) to the getmonero.org/press-kit section, and I already added some new elements and style.
I took the library style, to begin with (took me a while to learn how to work inside the website, so sorry for those who have been waiting for this a long time ago). We haven' t decided

[2018-09-08 05:54] el00ruobuob commented on #878
At first site I can see a mismatch between yml and md files.
The yml is no construct the same way liquid is calling the tags.
I go deeper in in later today.

[2018-09-08 16:30] el00ruobuob commented on #878
I wasn't woke up when i read the code this morning.
So following our discussion on Telegram, i think you could do the following changes to always point to the up to date file:

*  on `presskit/_i18n/en.yml`:
  * replace `file: "QuickFacts.pdf"` with `url: "http://monerooutreach.org/pubs/2018/QuickFacts/QuickFacts.pdf"`
* on `presskit/press-kit/index.md`:
  * replace `<a href="{{ site.baseurl_root

[2018-09-08 18:31] alagoria opened #879 "New Merchant Add Request"
Hello, we just started accepting Monero.

https://alagoria.com/

we would prefer title "Alagoria - Crypto Retail Shopping" if possible

Thanks in advance

P.S. we don't mind if you put a referral link there, we are glad to help the community

[2018-09-08 20:50] el00ruobuob commented on #879
added in #880

[2018-09-09 16:59] sakibarifin opened #882 "Why is megachange.is a scam site listed in the site as a merchant?"
This site is a known scammer with complains all over the internet. He stole 31 dollars from me (I was lucky to send only the minimum amount).

Here are some of the links to complains:

https://bitcointalk.org/index.php?topic=2946755.0

https://www.trustpilot.com/review/megachange.is

https://alternativeto.net/software/megachange-is/reviews/

[2018-09-10 15:08] erciccione commented on #882
Well, the amount of complaints cannot be ignored. Merchant listed on our website are not endorsed by the community in any way, but in cases like this, where the scam seems objective, i think there are all the basis to remove them from our list. opened #883
Thanks @sakibarifin :)

+merchant removal
+in progress

[2020-04-06 03:20] jtomtan opened #893 "Ownbit wants to be listed"
Hi Menero team,

Ownbit wants to be listed as one of 3rd wallets that support XMR. As one of the mobile wallets that support XMR, Ownbit implemented BulletproofV2 in JS by its own.

Website: https://ownbit.io

Thanks for the help.

[2020-04-06 12:08] erciccione commented on #893
Please follow the instructions at the top of the merchants page to add a new merchant: https://web.getmonero.org/community/merchants/

This repository is not active yet.

[2020-04-07 09:27] erciccione opened #894 "ToDo list for migration from gitlab"
We are migrating the monero-site repository from [Gitlab](https://repo.getmonero.org/monero-project/monero-site) to this repository. See discussion in https://github.com/monero-project/meta/issues/236.

This is a todo list of what needs to be done to complete the migration:

- [x] Clean old issues from this repo
- [x] Import issue labels
- [x] import commits from Gitlab
- [x] Import issues
- [x] i

[2020-04-07 09:28] erciccione commented on #893
Opened on gitlab: https://repo.getmonero.org/monero-project/monero-site/-/issues/1079

[2020-04-07 09:28] #893 closed

[2020-04-07 09:28] #149 closed

[2020-04-07 09:29] erciccione commented on #249
This was tracked and then closed on gitlab.

[2020-04-07 09:29] #249 closed

[2020-04-07 09:31] erciccione commented on #393
This issue was discussed and closed on gitlab.

[2020-04-07 09:31] #393 closed

[2020-04-07 09:33] erciccione commented on #414
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:33] #414 closed

[2020-04-07 09:34] erciccione commented on #463
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:34] #463 closed

[2020-04-07 09:34] erciccione commented on #476
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:34] #476 closed

[2020-04-07 09:35] erciccione commented on #508
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:35] #508 closed

[2020-04-07 09:35] erciccione commented on #522
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:35] #522 closed

[2020-04-07 09:36] erciccione commented on #567
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:36] #567 closed

[2020-04-07 09:36] erciccione commented on #606
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:36] #606 closed

[2020-04-07 09:37] #689 closed

[2020-04-07 09:37] #753 closed

[2020-04-07 09:39] erciccione commented on #765
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:39] #765 closed

[2020-04-07 09:39] erciccione commented on #770
This issue is old and was discussed and closed on gitlab.

[2020-04-07 09:39] #770 closed

[2020-04-07 09:39] erciccione commented on #774
This issue is old and was discussed and closed on gitlab.

[2020-04-07 09:39] #774 closed

[2020-04-07 09:40] erciccione commented on #775
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's still relevant.

[2020-04-07 09:40] #775 closed

[2020-04-07 09:41] erciccione commented on #780
This issue is old and was discussed and closed on gitlab.

[2020-04-07 09:41] #780 closed

[2020-04-07 09:42] erciccione commented on #816
This issue is old and was discussed and closed on gitlab.

[2020-04-07 09:42] #816 closed

[2020-04-07 09:42] erciccione commented on #823
This issue is old and was discussed and closed on gitlab.

[2020-04-07 09:42] #823 closed

[2020-04-07 09:42] #829 closed

[2020-04-07 09:44] erciccione commented on #852
This issue is old and was discussed and closed on gitlab. Please reopen if you feel it's worth it.

[2020-04-07 09:44] #852 closed

[2020-04-07 09:44] #861 closed

[2020-04-07 09:44] #862 closed

[2020-04-07 09:44] #863 closed

[2020-04-07 09:45] #868 closed

[2020-04-07 09:45] #871 closed

[2020-04-07 09:45] #876 closed

[2020-04-07 09:45] #878 closed

[2020-04-07 09:46] #882 closed

[2020-04-07 09:46] #879 closed

[2020-04-07 09:46] #873 closed

[2020-04-09 08:49] erciccione commented on #731
This issue was opened on GitLab for some time (closed now in preparation for the migration) and got 2 additional comments: https://repo.getmonero.org/monero-project/monero-site/-/issues/731

[2020-04-12 08:50] erciccione opened #895 "Change "Developers" and "Contributors" pages into "Coordinators" and "Hall of Fame""
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/935*

---
I just had a literal showerthought. At the moment the team page is not very useful if somebody is looking for info about wh

[2020-04-12 08:53] erciccione opened #896 "Make getmonero.org/community/sponsorships list what the sponsors did"
*Issue originally created by @OsrsNeedsF2P*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/981*

---
This was brought up in the Monero Coffee Chat (Aug 24th), and some ideas were

[2020-04-12 08:56] erciccione opened #897 "Explicitly mark images as available under specific licenses"
*Issue originally created by @SamsungGalaxyPlayer*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/897*

---
Google Images and other search engines offer the ability to refine sear

[2020-04-12 08:58] erciccione opened #898 "Can we add a list of IRL meetups to the Hangouts page?"
*Issue originally created by @ProkhorZ*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/945*

---
It would be nice if people discovering Monero could see whether there are regular

[2020-04-12 09:00] erciccione opened #899 "Consider add "key image" in moneropedia"
*Issue originally created by @spartucus*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1003*

---

[2020-04-12 09:02] erciccione opened #900 "Document new "Pay for service" system"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1014*

---
The new "Pay for service"(RPC pay) system is one of the most interesting features of 0.15, i think would be useful to have

[2020-04-12 09:03] erciccione opened #901 "New daemon RPC calls introduced with release 0.15 need to be added to daemon-rpc dev guide"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1015*

---
These three commands, which were added with 0.15, need to be added and described in the [daemon-rpc.md](https://repo.getmo

[2020-04-12 09:06] erciccione opened #902 "Downloads page should have a source tarball"
*Issue originally created by @asymptotically*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/993*

---
It would be nice if the website had a tarball of the Monero source instead o

[2020-04-12 09:07] erciccione opened #903 "Website isn't detecting browser/OS language"
*Issue originally created by @asdrub*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1030*

---
The website doesn't change automatically to the language of the Browser or OS, even

[2020-04-12 09:09] erciccione opened #904 "Create a .onion mirror of the site"
*Issue originally created by @Electricsheep01*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/958*

---
It is quite probable that the FATF is going to start cracking down on priva

[2020-04-12 09:10] erciccione opened #905 "add "Transaction Weight" to Moneropedia"
*Issue originally created by @stooge_coaster*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1033*

---

I'm suggesting ArticMine's description of transaction weight to be include

[2020-04-12 09:12] erciccione opened #906 "Update press kit quick facts pdf"
*Issue originally created by @SamsungGalaxyPlayer*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1029*

---

The press kit quick facts PDF has not been updated since May 2018. Se

[2020-04-12 09:13] erciccione opened #907 "Add RandomX Moneropedia entry"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1034*

---

[2020-04-12 09:14] erciccione opened #908 "Change title of *Importing Blockchain* user guide"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1041*

---
Change title of user guide *Importing Blockchain* to *Importing the Blockchain to Monero GUI wallet (Windows)*.

Ref https

[2020-04-12 09:16] erciccione opened #909 "[Feature] TailsOS User Guide"
*Issue originally created by @jdjnvjdnajns*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/987*

---
**Feature**: [TailsOS](https://www.wikipedia.org/wiki/Tails_(operating_system)

[2020-04-12 09:18] erciccione opened #910 "It's time to talk about the removal of Kovri from the website"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/990*

---
As we know, Kovri is not developed anymore, but we mention it everywhere on the website. I think it's time to make some cle

[2020-04-12 09:19] erciccione opened #911 "Add reference to disclaimer to top of Merchants page"
*Issue originally created by @koe*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1042*

---
[This](https://bitcointalk.org/index.php?topic=5219589.0) recent post brought to light

[2020-04-12 09:20] erciccione opened #912 "Add tx_extra page to moneropedia"
*Issue originally created by @SamsungGalaxyPlayer*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1006*

---
There should be a populated page describing and documenting tx_extra i

[2020-04-12 09:21] erciccione opened #913 "Moneropedia entry 'Scalability' needs to be updated"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1054*

---
The content is outdated.

https://web.getmonero.org/resources/moneropedia/scalability.html

[2020-04-12 09:22] erciccione opened #914 "Add to FAQ why Monero is "reasonably" private"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1045*

---
see https://repo.getmonero.org/monero-project/monero-site/merge_requests/1136#note_7452

[2020-04-12 09:25] erciccione opened #915 "Add "Daemon" entry to Moneropedia"
*Issue originally created by @timetherewere*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1060*

---
Interaction with a daemon is a prerequisite to using the Monero software. Th

[2020-04-12 09:26] erciccione opened #916 "Improve RSS experience"
*Issue originally created by @sanecito*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1066*

---
Problem: Currently the RSS feed isn't in a location where it's likely to be seen

[2020-04-12 09:27] erciccione opened #917 "wallet-rpc.md: "restore_height" is defined as a a long integer, but it should be defined as an integer"
*Issue originally created by @timetherewere*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1068*

---
"restore_height" is labeled "long" but, but it is defined as a "uint64_t" in

[2020-04-12 09:28] erciccione opened #918 ""Restoring your Monero Wallet" guide does not address the CLI prompt for a seed offset"
*Issue originally created by @timetherewere*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1064*

---
Presumably, this guide was written before developers introduced the offset f

[2020-04-12 09:29] erciccione opened #919 "Create a guide to using seed offsets"
*Issue originally created by @timetherewere*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1063*

---
Seed offsets have the potential to be a pretty useful security measure for p

[2020-04-12 09:37] erciccione opened #920 "Update screenshots of verification-windows-beginner.md"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1072*

---
As mentioned in !1242: *i couldn't update the screenshots in the *verification-windows-beginner.html* guide, since i don't

[2020-04-12 09:39] erciccione opened #921 "Remove possibility to translate developer guides"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1074*

---
The structure of the user and dev guides needs to be changed. I stated in past (for example https://repo.getmonero.org/mon

[2020-04-12 09:40] erciccione opened #922 "Update `Securely purchasing and storing Monero` user guide"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1078*

---

https://web.getmonero.org/resources/user-guides/securely_purchase.html

It's very outdated (last updated in 2017 and star

[2020-04-12 09:41] erciccione opened #923 "Signed checksums for pdfs"
*Issue originally created by @koe*

*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1081*

---
Following [this comment on ztm2](https://www.reddit.com/r/Monero/comments/fvk68v/zero_

[2020-04-12 09:42] erciccione opened #924 "Change emoji icons to something more consistent"
*This issue was created on gitlab and then migrated here. Only the original post was migrated, not the comments. Please take a look at the discussions on the original Gitlab issue before commenting here: https://repo.getmonero.org/monero-project/monero-site/-/issues/1075*

---
Emojis look different on each device and some can be ugly (for example the check on Chrome appears grey). Right now we use

[2020-04-12 10:26] erciccione commented on #894
Issues imported and labelled.

Waiting for the repository to be syncronized with the master on gitlab before asking people to migrate their merge requests (https://repo.getmonero.org/monero-project/monero-site/-/merge_requests) to avoid accidental rebases against an outdated master.

[2020-04-13 09:37] 00-matt commented on #902
monero-gui-source-v0.15.0.1.tar.bz2
monero-source-v0.11.0.0.tar.bz2
monero-source-v0.11.1.0.tar.bz2
monero-source-v0.12.0.0.tar.bz2
monero-source-v0.12.3.0.tar.bz2
monero-source-v0.13.0.0.tar.bz2
monero-source-v0.13.0.1.tar.bz2
monero-source-v0.13.0.2.tar.bz2
monero-source-v0.13.0.4.tar.bz2
monero-source-v0.14.0.0.tar.bz2
monero-source-v0.14.0.2.tar.bz2
monero-source-v0.14.1.0.tar.bz2
monero-sourc

[2020-04-18 12:52] erciccione opened #941 "Add FAQ: "Where can i buy monero for fiat?""
This question gets asked like 3 times a week on /r/monero. Worth making a dedicated answer or maybe we should just improve [How can i get Monero?](https://web.getmonero.org/get-started/faq/#anchor-buy) to include more info for the conversion from fiat. A mention to how to convert BTC -> XMR is probably good to have, since that's another very common question.

[2020-04-19 09:57] erciccione commented on #731
I don't think this is still relevant, especially now that we have CI process. Closing it, but feel free to reopen it if still relevant

[2020-04-19 09:57] #731 closed

[2020-04-19 11:39] erciccione commented on #894
Everything was migrated, expect some merge requests where the input of the original opener is needed. So, i think we can consider the migration completed and this issue resolved. I also [posted an update on Reddit](https://www.reddit.com/r/Monero/comments/g463jj/getmoneroorg_updated_migration_to_github_new_faq/).

I asked for people interested in having triage permissions on this repo, but got no

[2020-04-19 11:39] #894 closed

[2020-04-20 08:36] erciccione opened #945 "Matomo analytics not working"
Our analytics service is not functional and has been down for some months. @rehrar mentioned @danrmiller is working on it. Would be great to have it up as soon as possible, so that we can use it to make more aimed changes and updates.

[2020-04-20 16:50] danrmiller commented on #945
I'll talk to @rehrar and we'll set this up.

[2020-04-26 09:59] erciccione opened #951 "The 'promo' video needs to be updated"
https://web.getmonero.org/media/Monero_Promo.m4v

It's outdated and needs to be updated. Opening this issue for discussion and progress tracking.

[2020-04-26 10:31] erciccione commented on #896
This is blocked until we get to know what each sponsor did, so that we cann add it to the page. I don't know who has these info.

[2020-04-26 10:33] erciccione commented on #904
@danrmiller Please let us know when there are progresses on this :)

[2020-04-27 13:31] jseibel-circle opened #955 "Add iCryptoNode to the merchants page"
#### What's the name of your business?

iCryptoNode

#### What's the URL of the website?

https://icryptonode.com/

#### Write a brief description of your business/service (max 50 characters)

Seller of Raspberry Pi Monero Nodes and open source software provider.

#### Enter the URL where a Monero mention can be found

https://icryptonode.com/products/monero-icryptonode-raspberry-pi-device

"We ac

[2020-04-27 14:13] erciccione commented on #955
Legit.

[2020-04-28 12:57] erciccione opened #957 "Change structure of the sections in en.yml that are not easily parsed by Weblate"
The structure of some sections of `en.yml` needs some changing if we want Weblate to parse everything correctly. We had a problem few weeks ago (reported by @netrik182 on `#monero-translations`) where some sections got messed up and a lot of work was necessary in order to have everything working as intended.

I already started the refactoring with #934 (the library), but other sections need to be

[2020-04-29 02:43] #911 closed

[2020-04-30 10:37] erciccione commented on #895
@rehrar are you still interested in working on this (as stated here: https://repo.getmonero.org/monero-project/monero-site/-/issues/935#note_5489)? Otherwise i'll just go ahead and work on it, because that sections really need to be refreshed.

[2020-04-30 14:10] sylph1o opened #960 "Add AnonAddy to merchants"
#### What's the name of the business?

AnonAddy

#### What's the URL of the website?

[anonaddy.com](https://anonaddy.com)

#### Write a brief description of the business/service (max 50 characters)

Anonymous email forwarding service.

#### Enter the URL where a Monero mention can be found

[https://anonaddy.com/help/category/subscriptions](https://anonaddy.com/help/category/subscription)

#### H

[2020-05-01 08:03] erciccione commented on #960
This page doesn't seem to exist

[2020-05-02 04:36] #917 closed

[2020-05-03 11:27] Thunderosa opened #964 "Suggestions for Monero logo .ai file on Press Kit page"
1. The .ai logo file has quite a few unneeded vector points. It's a matter of craftmanship, but it also means that .svg files based off of it are more bloated than they need to be and the files can sometimes be more difficult to work with.

2. I would suggest offering the logo in .svg instead of Illustrator. Everyone can work with an .svg

3. I would suggest including the white background behind t

[2020-05-03 13:29] erciccione commented on #964
Thanks @Thunderosa. Fine for me to change the logo if you think it worth it. I will add the updated versions soon.

[2020-05-03 15:00] Thunderosa commented on #964
I think the first 3 items on the list are fairly straightforward,

#4 is my opinion, I do think the small typography fixes on the logotype are worth doing. I don't think it's urgent. I don't know if it's a consensus thing or not, I think it's more a of craftsmanship thing than a "change" but you'll be able to decide that better than me.

[2020-05-03 16:30] dsmith46v opened #965 "Monero Betting"
#### What's the name of your business?

Monero Betting (Darknet)

#### What's the URL of the website?

http://moneroeetsad6quaq4weauz5ndsx5jf6y3z5zwtckhudciapom26byid.onion/

#### Write a brief description of your business/service (max 50 characters)

Very simple Monero betting game!

#### Enter the URL where a Monero mention can be found

Index page
http://moneroeetsad6quaq4weauz5ndsx5jf6y3z5zwtc

[2020-05-04 09:32] erciccione commented on #965
Hi.

We never listed merchants on onion services. Personally i have no problem to add tor-only websites, as long as they don't offer illegal services/goods. Let's wait for more opinions.

[2020-05-04 13:47] erciccione commented on #964
I misunderstood your comment, i thought the 2 files you posted were the replacement for the 2 versions of the logos. I don't really know much about this, so, let's see what people think about it. Fine for me to replace what we have with new versions, if they are more convenient.

[2020-05-04 19:36] Thunderosa commented on #964
The two svgs are the final product of all 4 suggestions. If consensus is to not fix the logotype, I can roll that back to just address the stray points and put in the white background. The first svg is "normal" as a master working file. The second is the same except optimized for filesize for online usage.

When a decision is reached, I can make you the whole group of files ready to go.

[2020-05-05 09:56] 00-matt commented on #965
We could have an icon with a tooltip next to all onion websites explaining that you need to use the Tor browser to access them.

[2020-05-05 15:41] SamsungGalaxyPlayer commented on #964
I 100% agree on the first three. The non-white version is used far too often (including on the @monero Twitter account). Also, SVG files are much easier to work with. They even work in Office.

Regarding the logomark:

I can't tell the difference between the new and old icon. It looks like you simply straightened out lines everyone assumed were already straight. I'm fine with that.

Regarding the

[2020-05-05 20:08] Thunderosa commented on #964
First, there's something wrong with the jpg of the edits that's in your comment. The updated version is heavily distorted. The font is not shunk, the x-height was carefully preserved.

Second,...the goal was to change as little a possible while fixing the typography issues. These are indeed very subtle things. I did all these edits back in the fall of 2018 and sat on them because it didn't seem th

[2020-05-05 23:07] SamsungGalaxyPlayer commented on #964
On closer inspection @Thunderosa, I was talking nonsense about the heights. I notice now your version is the same height as before. However, I also noticed that your edits are narrower, allowing us to make the font taller. I think we should consider this.

![image](https://user-images.githubusercontent.com/12520755/81124440-07fa4880-8efb-11ea-8b7d-bc7a0c18408c.png)

In the above example, the **red

[2020-05-06 11:00] willbrowningme commented on #960
@erciccione I've just added a short article there. I'll be adding more details and an automated option for cryptocurrency subscriptions in the future.

[2020-05-06 14:08] SamsungGalaxyPlayer commented on #896
I'll update this chart if people can tell me how to fill it in.

| Sponsor | Benefit |
| --- | --- |
| MyMonero | |
| JetBrains | |
| Dome9 Security | |
| Kitware | |
| Fork Networking | |
| Araxis | |
| Navicat | |
| Symas | |

[2020-05-06 14:09] SamsungGalaxyPlayer commented on #951
@ajs-xmr is working on this.

[2020-05-09 16:37] SamsungGalaxyPlayer commented on #914
I think this should be closed, since we should instead remove the word "reasonably" in my opinion. It doesn't actually convey the nuances it intends to convey, and we should point people to other resources (like the MRL papers and Breaking Monero) for specific questions.

[2020-05-09 16:45] SamsungGalaxyPlayer opened #971 "Remove "reasonably" from "reasonably private" on the homepage"
Initial MR: https://repo.getmonero.org/monero-project/monero-site/-/merge_requests/1136

Related discussion: https://repo.getmonero.org/monero-project/monero-site/-/merge_requests/1219

Related discussion: https://www.reddit.com/r/Monero/comments/f2m7la/a_reasonably_private_digital_currency_why_say/

While I agree that being careful about wording is prudent, I think this wording causes more confus

[2020-05-10 12:45] 00-matt opened #974 "Move Libraries and Helpers away from merchants page"
From IRC:

[code]

[2020-05-10 12:48] erciccione commented on #971
My opinion is [on the old MR on Gitlab](https://repo.getmonero.org/monero-project/monero-site/-/merge_requests/1219#note_8930)

[2020-05-11 20:53] dginovker commented on #971
If Monero wants to keep people private, we want people to be use the tools most easily adopted for privacy. We should encourage and promote Monero, not hide behind the word "reasonably" in case someone does something silly like share their private key.

[2020-05-11 21:03] geo-nic commented on #971
+1 for “reasonably”. It appeals to people who identify as reasonable and has the added benefit of not pigeonholing Monero as a “privacy coin”. I.e. it is reasonably private in the same way that it is reasonably fast and reasonably scalable.. the description is inclusive rather than exhaustive.

[2020-05-11 21:06] geonic1 commented on #971
+1 for “reasonably”. It appeals to people who identify as reasonable and has the added benefit of not pigeonholing Monero as a “privacy coin”. I.e. it is reasonably private in the same way that it is reasonably fast and reasonably scalable.. the description is inclusive rather than exhaustive.

[2020-05-11 21:19] geonic1 commented on #971
+1 for “reasonably”. It appeals to people's sense of reasoning and has the added benefit of not pigeonholing Monero as a “privacy coin”. I.e. it is reasonably private in the same way that it is reasonably fast and reasonably scalable.. the description is inclusive rather than exhaustive.

[2020-05-11 21:26] vp1111 commented on #971
Particularly speaking, I would remove that word, I do not necessarily see how much benefit it brings versus the misinterpretation it can cause to new users.

Semantically this word is the most accurate description, because there are specific scenarios where an entity with unlimited resources could decrease the efficiency of certain elements of the protocol that integrate the privacy aspect of Mone

[2020-05-11 22:04] SomaticFanatic commented on #971
While we’re at it, can we please remove the “Monero is Untraceable” paragraph? Technically I love Moneros untraceability but for the layperson it sounds like it’s made for people to do crimes and not get caught.

[2020-05-11 22:08] geonic1 commented on #971
![81612908-8e0b0900-93ab-11ea-8dd6-6df3235e7d8d](https://user-images.githubusercontent.com/48529862/81616892-3663a200-9399-11ea-86e0-eedfb693e37c.png)
That looks good!

[2020-05-12 12:07] Gingeropolous commented on #971
Or, yah know, we just call it MONERO: A Digital Money

I still think calling money private is like calling water wet.

its inherently private, due to needing a fungible nature to be money.

Its only because of bitcoin and the other transparent cryptocurrencies that privacy is even thought to be a novelty.

are we to carry the semantic (or perhaps technical) debt of flawed technology?

to carry the

[2020-05-12 13:11] binaryFate commented on #971
I would remove "reasonably" from the homepage. I was fairly neutral on this but now I I think it makes a point that is only understood in nerdy circles, otherwise it seems to confuse most people.

There are ample resources presenting an honest and cautious picture to users, this phrasing in particular is overdoing it.

[2020-05-13 07:02] erciccione commented on #971
[The last discussion on reddit](https://www.reddit.com/r/Monero/comments/ghuwsx/discussion_remove_reasonably_from_reasonably/) seems to suggest most people (at least who replied to that post) are ok with keeping "reasonably". For now the community appear to be split on this.

[2020-05-13 10:56] selsta opened #978 "Remove all JavaScript tracking (Piwik, Matomo)"
Monero as a a privacy coin should lead by example and remove all JavaScript tracking from their website.

Basic analytics can be extracted from webserver logs, Matomo even supports this: https://matomo.org/log-analytics/

[2020-05-13 11:41] erciccione commented on #978
Important to note that Matomo hasn't been working for some time (#945).

I would find very useful to have info about what people visit on getmonero, the language they speak and where the people come from (meaning, what website directed them to getmonero.org), so to be able to make aimed changes and improvements to the website.

If these info can be retrieved from server logs using Matomo (and from

[2020-05-13 12:31] selsta commented on #978
All of this should be possible with log parsing.

[2020-05-13 17:30] t-900-a opened #979 "Add rpc_access_data / rpc_access_info method to monerod rpc documentation"
https://www.getmonero.org/resources/developer-guides/daemon-rpc.html

[2020-05-14 10:52] erciccione commented on #965
As we say on the disclaimer in the merchants page:

So, i don't think it should be a problem to list a website hosted on an onion address.

[2020-05-14 11:09] erciccione commented on #910
Thinking of going ahead with this, but i would like community input on a related issue: Should we remove kovri-specific entries from [the Moneropedia](https://web.getmonero.org/resources/moneropedia/)? At the moment we have several, but i don't see the point in keeping them.

Most of these entries are not even specific to Kovri, but more related to I2P in general:

- Base32
- Base64
- Eepsite
- Fl

[2020-05-14 13:43] SamsungGalaxyPlayer commented on #910
Agreed, these seem to clutter the Moneropedia and are not terms that people will likely look up. If some service is integrated properly, then users should ideally never come across these terms.

I agree about keeping Kovri for historical purposes. If anything, we can say "Kovri was a proposed but never-implemented Java i2p router" or similar.

[2020-05-14 21:15] #907 closed

[2020-05-15 18:44] #957 closed

[2020-05-18 17:22] Sunray-Nucleon commented on #971
I say yes we should remove it.
**A Reasonably Private Digital Currency**
and the **A** suggests there are more like this, but i think Monero is unique. So i think we should go for **Private Digital Currency** as it already is, by the way, in the German version **Private Digitale Währung** is **Private Digital Currency**

[2020-05-18 17:54] Sunray-Nucleon commented on #951
.3 XMR per minute is still correct because its .6 in two minutes - thats how i see it. But the term "will never drop below" is maybe not good, because who knows what will be in more far future. It could be said "is fixed at 0.6 per two minutes" or so

[2020-05-18 17:57] binaryFate commented on #971
"Privacy-preserving digital currency"

it is longer and more convoluted, but that conveys the best meaning

[2020-05-18 18:05] Sunray-Nucleon opened #985 "Replace integrated address with subaddress for Donations"
There are still several 4... addresses, for example on https://web.getmonero.org/get-started/contributing/ should we replace with 8... addresses?

In my understanding Subaddresses are principally preferable before 4...main-addresses. So is it possible to replace it, also here on Github and other places like https://revuo-monero.com/issue-60.html

We would want to propagate the use of 8... addresse

[2020-05-18 19:57] Sunray-Nucleon commented on #971
"currency" sounds like something abstract to trade with, for professionals; why not Privacy-protecting digital **money** - true we know it is more as money, can also be utilized for messaging and so on, but money sounds more catchy for all sorts of people. And a main aspect is to be like money, to behave like money. And money has a world-wide meaning somehow. Currency sounds like something regiona

[2020-05-18 19:59] Sunray-Nucleon commented on #971
"currency" sounds like something abstract to trade with, for professionals; why not Privacy-protecting digital money - true we know it is more as money, can also be utilized for messaging and so on, but money sounds more catchy for all sorts of people. And a main aspect is to be like money, to behave like money. And money has a world-wide meaning somehow. Currency sounds like something regional or

[2020-05-18 19:59] Sunray-Nucleon commented on #971
"currency" sounds like something abstract to trade with, for professionals; why not Privacy-protecting digital **money** - true we know it is more as money, can also be utilized for messaging and so on, but money sounds more catchy for all sorts of people. And a main aspect is to be like money, to behave like money. And money has a world-wide meaning somehow. Currency sounds like something regiona

[2020-05-18 20:14] geonic1 commented on #971
Should we get a vote on "Privacy-preserving digital money"?

[2020-05-18 21:17] Sunray-Nucleon commented on #971
i was thinking that privacy is used to much and has a negative connotation because of all the privacy debates and privacy breaches - some people are maybe averse to the term. maybe they don't understand it at all or just thinking like "i don't want to have anything to do with privacy, i have nothing to hide" tbh i've been hearing this a hundred times the last years even making me sick to talk abou

[2020-05-18 21:23] Sunray-Nucleon commented on #971
i was thinking that privacy is used to much and has a negative connotation because of all the privacy debates and privacy breaches - some people are maybe averse to the term. maybe they don't understand it at all or just thinking like "i don't want to have anything to do with privacy, i have nothing to hide" tbh i've been hearing this a hundred times the last years even making me sick to talk abou

[2020-05-18 21:24] Sunray-Nucleon commented on #971
i was thinking that privacy is used to much and has a negative connotation because of all the privacy debates and privacy breaches - some people are maybe averse to the term. maybe they don't understand it at all or just thinking like "i don't want to have anything to do with privacy, i have nothing to hide" tbh i've been hearing this a hundred times the last years even making me sick to talk abou

[2020-05-20 08:57] erciccione opened #987 "'Securely purchasing and storing Monero' user guide is outdated"
https://getmonero.org/resources/user-guides/securely_purchase.html

[2020-05-20 09:29] erciccione opened #989 "Improve user guide "How to fix locked up funds""
https://web.getmonero.org/resources/user-guides/howto_fix_stuck_funds.html

Right now the guide simply suggests the user to restore the wallet from seed, but we already have a guide for that purpose.

Would be better to rewrite the guide, adding suggestions on what to check and the steps to follow in case funds appear stuck. We should suggest to restore from seed only if no other alternative worke

[2020-05-20 17:48] #921 closed

[2020-05-21 18:59] cryptoflooring opened #991 "CryptoFlooring"
#### What's the name of your business?

CryptoFlooring

#### What's the URL of the website?

cryptoflooring.com

#### Write a brief description of your business/service (max 50 characters)

We sell plank flooring that is shipped by freight to local terminals across the U.S. We accept cryptocurrency as payment, including monero.

#### Enter the URL where a Monero mention can be found

https://www.c

[2020-05-22 08:25] erciccione commented on #991
Looks legit.

[2020-05-22 09:03] erciccione commented on #910
I PRd the change to the 'kovri' Moneropedia entry: #993

[2020-05-23 09:53] Sunray-Nucleon opened #995 "Replace Link in RandomX Moneropedia 'an article dedicated to RandomX'"
Link 'an article dedicated to RandomX' should be https://www.monerooutreach.org/stories/RandomX.html

[2020-05-23 10:14] erciccione commented on #995
Thank you, i must have done something stupid while reviewing. Fixing it now.

[2020-05-23 10:19] erciccione commented on #995
Fixed in #996

[2020-05-23 15:04] Sunray-Nucleon opened #998 "Link visible to Zero-to-Monero-2-0-0.pdf"
Link to the Paper https://web.getmonero.org/library/Zero-to-Monero-2-0-0.pdf 'zero to monero second edition v2.0.0' preferably at a visible place like https://getmonero.org/resources/research-lab/ (Coinbase is linking to that page as whitepaper-page) and/or https://web.getmonero.org/blog/tags/community.html

[2020-05-23 15:43] Sunray-Nucleon opened #999 "Poke owner of website or replace Link - getmonero.org/resources/user-guides"
https://web.getmonero.org/resources/user-guides/mine-to-pool.html
 certificate of moneropools.com is over three years expired and the quality of the content of the website is questionable! miningpoolstats.stream/monero has been a way more reliable source, i don't know if we should or can link there?

[2020-05-23 19:47] #995 closed

[2020-05-23 20:28] Sunray-Nucleon commented on #999
just a few minutes after writing this here the 'let's encrypt' certificate ended - i think it was 20 March 2018 - seem to got removed, very fast.

[2020-05-23 20:36] Sunray-Nucleon commented on #999
just a few minutes after writing this here the 'let's encrypt' certificate (ended - i think it was 20 May 2018) seem to got removed, very fast.

[2020-05-24 08:19] erciccione commented on #998
I don't know if would make sense to move zero to monero to the research lab page. We would need to create a dedicated section only for that. Personally, i think it's fine where it is. We could link to it from other parts of the website, but i wouldn't do more than that.

[2020-05-24 08:39] erciccione opened #1001 "Replace 'Recent News' menu and submenus with one single 'Blog' tab"
At the moment we have a "Recent News" tab in the navigation menu and when we hover on it, we will see 5 submenus (Urgent, Releases,Community, Meeting logs, all posts).

I propose to replace the "Recent Nnews" menu and submenus in a single "Blog" tab, without submenus. This way people will just need to click on "Blog" and all posts will show up (same effect of clicking "All posts") then we can give

[2020-05-24 16:21] Sunray-Nucleon opened #1003 "Link to https://moneroecosystem.org/"
i would like to see a link to https://moneroecosystem.org/

[2020-05-24 16:25] Sunray-Nucleon commented on #1003
found the link at https://web.getmonero.org/resources/developer-guides/

[2020-05-24 16:25] #1003 closed

[2020-05-24 21:35] 00-matt opened #1005 "Rewrite pool mining guide"
The [pooled mining guide](https://web.getmonero.org/resources/user-guides/mine-to-pool.html) needs to be updated after the PoW changed to RandomX.

xmr-stak-cpu does not support RandomX, so instructions for configuring another miner (like XMRig or xmr-stak-rx) should be written instead.

Also the number of hugepages reserved should be increased too.

[2020-05-24 21:37] 00-matt commented on #1005
Also #999 - moneropools.com is dead.

[2020-05-25 00:20] castormaster opened #1006 "Add Merchant: Capsul.org"
#### What's the name of your business?

Capsul

#### What's the URL of the website?

https://capsul.org

#### Write a brief description of your business/service (max 50 characters)

Simple, Fast, Private Virtual Machines

#### Enter the URL where a Monero mention can be found

https://capsul.org/payment

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.

[2020-05-25 01:37] Samuel-Pedraza opened #1007 "Clicking homepage video to pause will not pause"
When I click "Play" on the video on the homepage, it will play.

However, if I click the body of the video in order to pause it, it will not pause. It only pauses when I click the pause button.

I could see how this could be determined as "expected behavior", but I thought I would bring it someone's attention as it surprised me.

I am using Chrome Version 81 on Windows 10.

I reproduced using Chro

[2020-05-25 08:51] erciccione commented on #1007
I could reproduce this on the live version using chromium, but not locally. Actually, the video doesn't really work locally on chromium. I tried with #994 but i didn't notice any difference.

[2020-05-25 09:00] erciccione commented on #999
@Sunray-Nucleon This can be closed in favour of #1005

[2020-05-25 09:40] 00-matt opened #1008 "Refresh NiceHash guide"
Some of the links to NiceHash are broken, and the guide still mentions CryptoNight/R (Monero uses RandomX now). Also I think that we should add a warning to NiceHash stating that it is not profitable to use and it is more effective to just use an exchange.

[2020-05-25 09:55] erciccione commented on #1001
If there are no objections i will start working on this soon.

[2020-05-25 10:15] erciccione commented on #898
This issue has been open for more than an year, if there is no interest in implementing this, i will just go ahead and close it. Consider that such feature would require a considerable amount of time in maintainance.

Ping people who partecipated to the discussion on gitlab: @el00ruobuob @lh1008 @ProkhorZ

[2020-05-25 10:19] erciccione commented on #913
@SarangNoether Would somebody from the research lab willing to update this entry? Maybe @articmine?

It's not necessary to build a dev environment for the website. It would be fine to simply provide the updated text, then i'd take care of adding it to the repo.

[2020-05-25 10:21] erciccione commented on #906
To my Knowledge the Outreach workgroup is working on this. Is it still the case @xmrhaelan?

[2020-05-25 10:23] erciccione commented on #850
This issue is easy to implement, but require time and i don't know if it worth it. Since it's old and has stalled, if nobody picks it up i will just close it soon.

[2020-05-25 10:24] erciccione commented on #914
This is blocked until #971 is resolved.

[2020-05-25 10:51] erciccione commented on #985
From @binaryfate on `#monero-site`:

 I'll make a PR to replace address for general fund (44AFFq...)

[2020-05-25 14:43] SarangNoether commented on #913
I'm not sure how "into the weeds" this article should go into the details of how block size interacts with the block reward. Besides, this is likely not what people think of when they hear the word "scalability" anyway.

[2020-05-25 18:23] Sunray-Nucleon opened #1011 "blockchain download obsolete?"
It's a while ago i've been trying to download the blockchain at https://web.getmonero.org/downloads/#blockchain (https://downloads.getmonero.org/blockchain.raw) - I could never successfully download the whole file. It did not work (abort at some random point) with Firefox nor Chromium and also not with download-manager. I am the only one who can not download this whole file? If not, can we disable

[2020-05-25 18:37] binaryFate commented on #985
Also see https://repo.getmonero.org/monero-project/ccs-front/-/merge_requests/30 fixing same issue on the CCS repo

[2020-05-25 18:45] #999 closed

[2020-05-25 19:06] Sunray-Nucleon commented on #1005
Can i suggest to also have a hint about mining to .onion address? It should include the steps install tor relay (https://community.torproject.org/relay/setup/guard/) set "Limiting bandwidth usage" (https://support.torproject.org/operators/bandwidth-shaping/) to avoid congestion cause of traffic (or link to tor-post-install good practices https://community.torproject.org/relay/setup/post-install/)

[2020-05-25 19:10] 00-matt commented on #1005
Yes I think that telling people that they have the option to mine to a
hidden service pool (or to a clearnet pool via an exit mode) with Tor is
a good thing. But I don't think that we should be showing people how to
set up relay nodes in a mining article.

[2020-05-25 19:30] Samuel-Pedraza commented on #1001
I think this sounds great. My request is that we make the filtering methodology prominent enough so that it is obvious to visitors to use. But, it sounds like a great way to reduce complexity.

[2020-05-26 08:36] Sunray-Nucleon commented on #1005
Can you maybe write it so, that it is incentivizing the reader to use i2p or Tor? I would even call it 'preferred' or 'to prefer' to mine via hidden service or i2p in the rewritten mining guide. Maybe you can write it somehow like:

"Because it is hiding the origin (the miners IP) a miner should utilize i2p or set up a tor relay and mine to a .onion address via socks5. For some people and in some

[2020-05-26 08:42] 00-matt commented on #1005
Yes I think this is a good idea.

Miners should be made aware that mining reveals that they use Monero,
that the pool operator can link their IP address and wallet address, and
that if they do not use TLS when mining their wallet address is visible
for all to see.

[2020-05-26 08:52] erciccione commented on #1001
@Samuel-Pedraza I'm not a big fan of the idea, since it adds vulnerabilities, but if you are interested in adding a search field, please open a new issue, so the proposal can be discussed there.

[2020-05-26 08:56] Sunray-Nucleon commented on #1005
i would **avoid** calling it dangerous (or so) but **propagate good behavior** in the first place

also we should call it preferred to use of 8... subaddress

"When mining to a pool use a pool that supports mining to subaddresses and mine to a subaddress. Usually pools can do this, however its possible that a pool are still did not enable the support of subaddresses; so its also possible to mine t

[2020-05-26 08:58] erciccione commented on #1011
There were some problems when downloading anything from the website not long ago, but the issue was fixed. Could you try to download the raw blockchain now and see if it fails?

[2020-05-26 09:27] erciccione commented on #1005
Please keep in mind this should be a simple guide aimed to the average user. I don't think would be wise to overcomplicate it by suggesting people to use tor/i2p to mine. I think would be great to mention the possibility, but keep in mind that this guide is not aimed to expert miners.

We could create an advanced guide for mining if we want to, with references to Tor/I2P and more, but the basic "m

[2020-05-26 09:29] 00-matt commented on #1005
What about just a footnote that links to Tor's documentation explaining
that you might want to consider using it?

[2020-05-26 09:30] erciccione commented on #913
I think we should keep it as simple as possible. I'm ok with changing the content btw.

[2020-05-26 09:32] erciccione commented on #1005
Sure, we could mention that it's possible to mine through Tor for increased anonimity and then link to the foot notes for more details and links.

[2020-05-26 10:17] Sunray-Nucleon commented on #1005
Yes, bad idea scare or overwhelm new arriving users. A foot note or link to 'mining good practices' for use of Tor and subaddress seems reasonable imo.

[2020-05-26 13:17] Sunray-Nucleon commented on #1011
1 try failed pretty soon

[2020-05-26 14:05] Sunray-Nucleon commented on #1011
It is still breaking.

[2020-05-26 14:26] SarangNoether commented on #913
Here are a couple of incomplete musings about scaling that try to keep things simple and accurate.

Digital assets like Monero scale in different ways.

The size of Monero blocks (which contain transactions) is flexible and can accommodate many transactions as demand changes. Formulas determine how the reward miners receive interacts with the number of transactions they choose to include in blocks

[2020-05-26 15:01] erciccione commented on #1011
Seems to be working fine for me. Are you sure it's not a connection problem? or something related to your browser? The file it's big and can be that it fails during the download, especially on slow connections.

[2020-05-26 15:20] Sunray-Nucleon commented on #1011
I am on wired connection and more than 50 mBit connection, there was no connection abort, i am using internet/streaming paralell. Still i am surprised how fast it was breaking today already after 4GB. The last times, several month ago on a raspi it was usually breaking after more than 70%

[2020-05-26 15:21] Sunray-Nucleon commented on #1011
I am on wired connection and more than 50 mBit connection, there was no connection abort, i am using internet/streaming parallel. Still i am surprised how fast it was breaking today already after 4GB. The last times, several month ago on a raspi it was usually breaking after more than 70%

[2020-05-26 16:58] Samuel-Pedraza commented on #1011
Just to jump in here - I saw this issue yesterday and tested by downloading the entire blockchain from the provided link, and it downloaded completely over the period of about 12 hrs.

[2020-05-26 19:00] Sunray-Nucleon commented on #1011
Thank you for this feedback, whats your location? Can maybe someone try from central europe? I get repeatedly abortion and could never successful download the whole file.

[2020-05-27 03:10] Samuel-Pedraza commented on #1011
Yes, I am US based, West Coast.

[2020-05-27 07:27] erciccione commented on #1011
I tried multiple tests and they all succeeded with no issues. I used two VPS from central europe. @Sunray-Nucleon I think the problem is on your side.

[2020-05-27 08:17] erciccione commented on #913
@SarangNoether personally i would be fine with what you wrote. We could add some references to other resources (on getmonero or external). Can be further improved later if we want. The important now is to remove the obsolete info.

[2020-05-27 15:17] Sunray-Nucleon commented on #1011
True, after installing a amplifier (house-distributor) in my room between wall and modem i could download it. (Data over cable - Docsis 3.1) Thanks for your efforts, glad to have it resolved. It was my end witch i could'nt imagine after many attempts.

[2020-05-27 15:17] #1011 closed

[2020-05-27 20:24] Sunray-Nucleon commented on #1005
Agree, we don't want to overwhelm (or even scare) new arriving users. A foot note or link to 'mining good practices' for use of Tor (as well subaddress for mining) seems reasonable.

[2020-05-28 07:20] erciccione commented on #1006
Looks legit.

[2020-05-28 17:48] #985 closed

[2020-05-28 17:48] #913 closed

[2020-05-31 08:15] #898 closed

[2020-05-31 08:16] #850 closed

[2020-05-31 08:41] erciccione opened #1021 "FAQ: add 'Why is my Monero wallet/daemon flagged as malware by my antivirus/browser'"
This keeps happening, especially after releases. We should have a FAQ about it.

[2020-06-01 22:21] rzel opened #1022 "Request to be added to 'Merchants' page"
#### What's the name of your business?

**bitni.com**

#### What's the URL of the website?

[https://bitni.com](https://bitni.com)

#### Write a brief description of your business/service (max 50 characters)

The Anonymous Cryptocurrency Exchange • Trade 100+ Coins

#### Enter the URL where a Monero mention can be found

(There are dozens of pages like this on the site, this is only a sample.)

ht

[2020-06-02 00:54] Samuel-Pedraza opened #1023 "_config.yml baseurl differs from live URL"
The baseurl defined in _config.yml differs from the live URL, which causes all the links in the navbar to be formatted:

`https://getmonero.org/example-url/
`

instead of

`https://web.getmonero.org/example-url/
`

This causes every link to return a 301 status code, instead of a 200 status code.

Is it a good idea to change it? Or is there a better reason to just leave it?

Thanks

[2020-06-02 04:23] Samuel-Pedraza commented on #1007
I think this bug can be closed, as I just tested this after the most recent Chrome update (version 83), and it seems to be working fine now.

[2020-06-02 04:23] #1007 closed

[2020-06-02 08:50] erciccione commented on #1022
Looks ok.

[2020-06-02 11:56] erciccione opened #1024 "Add FAQ "Can i import the blockchain manually?" or something like that"
see https://github.com/monero-project/monero-site/pull/1009#issuecomment-637392812

[2020-06-02 12:03] erciccione commented on #1023
IIRC that's on purpose. `web.getmonero` was confusing and looked scammy to some people (like `ww.getmonero`). I dont see a reason to change it.

[2020-06-02 15:56] dEBRUYNE-1 opened #1025 "Update version number to v0.16.0.0 in 'Verify binaries on Windows (beginner)' guide"
The guide currently uses v0.11.1.0 twice in this paragraph:

In order to streamline user experience, we ought to update it to the current version (i.e. v0.16.0.0). Accordingly, the screenshot also ought to be updated.

[2020-06-02 17:23] erciccione commented on #1025
#920. I created a Win VM for Monero stuff few days ago. I'll take care of adding the screenshots when i have some time (if nobody else does before), but it's not high in my priorities.

[2020-06-02 17:56] Samuel-Pedraza commented on #1023
Eric - I'm just having some trouble understanding what the original intent of having web.getmonero.com on the main website if it looks scammy?

Additionally, I know that from an SEO perspective on web.getmonero.org, it would be considered best practice to link to the place that these pages exist, not rely on 301 redirects to get there.

I apologize if this isn't the medium to ask these questions -

[2020-06-02 19:57] castormaster commented on #1006
We are Very Legit.

[2020-06-03 12:11] erciccione commented on #1023
Honestly i don't remember why we were using web.getmonero.org, but iirc it was related to cloudflare.

I suggest you to join `#monero-site` on Freenode, matrix and other platforms. That's a better place for questions than this issue tracker :)

[2020-06-03 21:29] Samuel-Pedraza commented on #1023
Great, thanks!

[2020-06-03 21:29] #1023 closed

[2020-06-04 15:12] kaspotz opened #1026 "Request to be added to 'Merchants' page"
#### What's the name of your business?

Cryptocurrency Posters

#### What's the URL of the website?

https://www.cryptocurrencyposters.com/

#### Write a brief description of your business/service (max 50 characters)

We're a crypto merchandise website that also publishes educational blogs and interviews.

#### Enter the URL where a Monero mention can be found

Our Monero specific merchandise URL

[2020-06-05 10:46] erciccione commented on #1001
#1027

[2020-06-05 10:51] erciccione commented on #1026
Looks legit.

[2020-06-05 12:29] erciccione commented on #971
@SamsungGalaxyPlayer I would say let's discuss this next community meeting, so we can take a final decision. What about that?

Also @moneromooo-monero could be interested, since he initially suggested to add "reasonably".

[2020-06-05 16:04] erciccione opened #1028 "Add warning about binaries potentially flagged as malware by antiviruses/firewalls"
We are getting a spike of reports from people saying their antivirus/firewall is flagging the binaries as malware. This is a [known issue](https://github.com/monero-project/monero-gui/issues/1747) that isn't resolved yet, but the problem is being discussed.

I think it's necessary to warn users about this issue. We could add a warning on the 'Downloads' page.

related: #1021 <- We could point to t

[2020-06-06 00:21] DreamTrims opened #1029 "Request to be added as a new merchant"
#### What's the name of your business?

Drippin Junkies

#### What's the URL of the website?

https://drippinjunkies.co.uk/

#### Write a brief description of your business/service (max 50 characters)

Drippin Junkies is an innovative brand of E Liquids.

#### Enter the URL where a Monero mention can be found

In footer and on payment screen:
https://drippinjunkies.co.uk/

#### How do you accept M

[2020-06-07 08:44] erciccione commented on #971
During yesterday' community meeting it was decided to remove "reasonably".

#1032

[2020-06-07 08:46] erciccione commented on #914
We are removing 'reasonable' from the homepage (#1032). This is not needed anymore

[2020-06-07 08:46] #914 closed

[2020-06-07 08:47] erciccione commented on #1029
Looks legit.

[2020-06-07 08:51] erciccione opened #1033 "Add FAQ "why is Monero called 'Monero'?""
Suggested [on reddit](https://www.reddit.com/r/Monero/comments/gxnqmf/lets_improve_the_monero_faq_page_on_getmonero/ft4pc6u/)

[2020-06-07 08:55] erciccione opened #1034 "Create 'Beginner guide to verify binaries' for Mac"
[From reddit](https://www.reddit.com/r/Monero/comments/gxnqmf/lets_improve_the_monero_faq_page_on_getmonero/ft49k07/):

The beginners guide is only available for Windows.

[2020-06-07 08:56] erciccione commented on #1034
We need a Mac user willing to create this guide. I'm completely unfamiliar with that environment.

[2020-06-07 09:02] erciccione opened #1035 "Add guide 'How to install the GUI on Tails?'"

[2020-06-08 14:16] #955 closed

[2020-06-08 14:16] #960 closed

[2020-06-08 14:16] #965 closed

[2020-06-10 23:59] johnmeek37830 opened #1041 "AltCoinPostage"
#### What's the name of your business?

altcoinpostage

#### What's the URL of the website?

https://www.altcoinpostage.com

#### Write a brief description of your business/service (max 50 characters)

You can buy US Postage with Monero

https://www.altcoinpostage.com

https://www.altcoinpostage.com

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.com/

[2020-06-12 08:05] erciccione commented on #1041
Looks good.

[2020-06-12 08:18] erciccione commented on #978
@danrmiller could you set up Matomo to only use the server logs?

[2020-06-12 08:20] erciccione commented on #904
ping @danrmiller

[2020-06-12 13:48] #1005 closed

[2020-06-12 13:48] #1021 closed

[2020-06-12 13:49] #1028 closed

[2020-06-12 13:49] #971 closed

[2020-06-12 13:50] #991 closed

[2020-06-12 13:50] #1006 closed

[2020-06-12 13:50] #1022 closed

[2020-06-12 13:50] #1026 closed

[2020-06-12 13:50] #1029 closed

[2020-06-13 14:08] Daniel-Leedan opened #1043 "RTL support for Arabic language"
Any plans for RTL support? based on the issues search, it wasn't mentioned since [#800](https://github.com/monero-project/monero-site/pull/800#issuecomment-405259760).

I'm willing to spend some time looking into it.

LTR:
![monero-ltr](https://user-images.githubusercontent.com/8020386/84570752-0f4a2700-adc2-11ea-8c85-f7f0d20968c8.png)

RTL:
![monero-rtl](https://user-images.githubusercontent.com/

[2020-06-13 14:15] erciccione commented on #1043
Would be good to have RTL support, but to my knowledge the plugin we use to make the website multilingual (https://github.com/kurtsson/jekyll-multiple-languages-plugin) doesn't support it. Would be good to investigate though, so thanks if you are willing to do it :)

[2020-06-16 10:13] MoneroGamer opened #1047 "Please consider adding monerocardgames.com"
#### What's the name of your business?

Monero Card Games

#### What's the URL of the website?

https://monerocardgames.com

#### Write a brief description of your business/service (max 50 characters)

Provably fair Monero card games.

#### Enter the URL where a Monero mention can be found

https://monerocardgames.com

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integra

[2020-06-16 14:26] erciccione commented on #1047
Looks ok.

[2020-06-19 07:31] erciccione commented on #1043
Resolved

[2020-06-19 07:31] #1043 closed

[2020-06-21 15:50] erciccione commented on #912
There is an ongoing discussion about removing the `tx_extra` field, except for coinbase transactions: https://github.com/monero-project/monero/issues/6668. If this proposal is accepted, i don't think would be particularly useful to have a dedicated Moneropedia entry for that field. Let's see the results of the discussion.

[2020-06-22 14:38] erciccione commented on #916
#1051

[2020-06-24 14:32] erciccione opened #1052 "Add MRL SVG logo to 'press kit' page"
I have an SVG version of the MRL logo that could be included in the press kit page. The layout of the page needs to be slighlty edited and the logo will have to be added to the `monero-press-kit.zip` archive as well.

Thanks to @SarangNoether  for the suggestion and to @Fluffypony for the logo.

[2020-06-24 18:44] #1033 closed

[2020-06-24 19:50] SarangNoether commented on #1052
@erciccione my GitHub username is @SarangNoether!

[2020-06-24 19:57] SarangNoether opened #1053 "Update the link format for MRL preprints"
Some preprints on the [MRL](https://web.getmonero.org/resources/research-lab/) page are hosted on the site, while others link to the [IACR preprint archive](https://eprint.iacr.org/), which is a generally trusted source for hosted cryptography preprints. I recommend the links to preprints be updated in two ways:
1. For external links, identify the destination: `Read paper (on IACR)`
2. For all pre

[2020-06-25 10:35] 00-matt opened #1054 "Moneropedia links are broken in dev guides"
Moneropedia links in the dev guides show up as `@entry-name` instead of a link.

![moneropedia-1](https://user-images.githubusercontent.com/48835712/85704154-f3a32280-b6d7-11ea-8034-6b38159de574.png)
![moneropedia-2](https://user-images.githubusercontent.com/48835712/85704158-f43bb900-b6d7-11ea-9fae-9cde8c775cfd.png)

[2020-06-25 11:47] erciccione commented on #1054
I think that's happening because we changed the location of the developer guides, which are now in `/resources/developer-guides` instead of `_i18n/LANG/resources/devloper-guides`. I guess the `moneropedia.rb` script in `_plugins` needs to be adapted to catch the files in `/resources/developer-guides`.

[2020-06-26 03:19] Ella-park opened #1055 "Exchange listing Request"
#### What's the name of your business?

HollaEx

#### What's the URL of the website?

https://www.hollaex.com/

#### Write a brief description of your business/service (max 50 characters)

HollaEx is an open digital asset exchange built by cryptocurrency veterans and professionals for traders and businesses.

#### Enter the URL where a Monero mention can be found

https://pro.hollaex.com/trade/xmr

[2020-06-26 06:30] erciccione commented on #1055
Looks OK.

[2020-06-26 12:48] erciccione opened #1058 "Add the 'GUI guide' to the user guides"
The [guide of the GUI wallet](https://github.com/monero-ecosystem/monero-GUI-guide/blob/master/monero-GUI-guide.md) could be added to the 'Wallets' section of the 'User Guides' page: https://web.getmonero.org/resources/user-guides

Instead of adding the guide itself, i think would be better to add a link to the guide on GitHub. We could list it with the other guides, but we would warn the users ab

[2020-06-26 13:02] MoneroArbo commented on #1058
I also want to note that erciccione's guide overlaps with some of the other guides. For example, it overlaps completely for this one: https://web.getmonero.org/resources/user-guides/remote_node_gui.html

Others contain instructions for both CLI and GUI, so overlap partially, like this one: https://getmonero.org/resources/user-guides/view_only.html

I think it would be best not to have redundant do

[2020-06-27 06:26] erciccione commented on #1058
I don't see that as a problem. The goal of the guides is different. The GUI guide aims to give a deep overview of how the GUI works, since it goes through the complete software, there will definitely be content that it's already in some specific guide.

[2020-06-27 13:30] antonegorov opened #1059 "Exchange listing Request"
#### What's the name of your business?

SwapSwop

#### What's the URL of the website?

https://swapswop.io/

#### Write a brief description of your business/service (max 50 characters)

SwapSwop is an instant anonymous crypto exchange with a high level of security.

#### Enter the URL where a Monero mention can be found

https://swapswop.io/ (Monero can be found in the drop-down list of all curren

[2020-06-28 10:59] erciccione commented on #1059
Looks OK.

[2020-06-28 11:08] erciccione opened #1060 "Add brief description of the Moneropedia"
The Moneropedia page immediately shows the entries, but should give a short description of what the Moneropedia actually is and how it works.

[2020-07-07 18:41] garlicgambit opened #1063 "Add a checksum to all downloads including media files"
Please add a sha256 checksum to all downloads including media files. Currently there are no sha256sums for .pdf and .epub files.

For any real security the checksums would need to be uploaded to other places as well. For example the monero subreddit and online chat rooms. Members from the community can proactively post checksums of media files. This is similar to how the checksums of the binaries

[2020-07-07 18:47] garlicgambit opened #1064 "Make media files deterministically reproducible"
Where applicable make media files deterministically reproducible. This applies to pdf and epub files that are available for download on the website.

Motivation: same reasons as with reproducible builds for the binaries. Independent verification and trust minimization.

[2020-07-07 18:53] garlicgambit commented on #1063
Duplicate: https://github.com/monero-project/monero-site/issues/923

[2020-07-07 18:53] #1063 closed

[2020-07-07 19:07] garlicgambit commented on #923
Having (unsigned) sha256sums available on the website and in the wild would be a start. Lets make it a habit to post checksums of files.

[2020-07-11 07:27] erciccione commented on #908
Closing. See https://github.com/monero-project/monero-site/pull/1009#issuecomment-657007758

[2020-07-11 07:27] #908 closed

[2020-07-11 13:52] erciccione commented on #987
Just realized i opened this issue twice (#922 alredy existed). Sorry for the duplicate. Closing.

[2020-07-11 13:52] #987 closed

[2020-07-11 21:10] x86txt commented on #1034
I'll handle this. I can get the content with screenshots, can someone format it and make it pretty?

[2020-07-12 13:46] erciccione commented on #1034
@x86txt That would be great, thanks. I can take care of the format.

[2020-07-12 23:43] sanecito opened #1077 "Update Hangouts to include icon/link for Discord, Matrix"
[Hangouts](https://web.getmonero.org/community/hangouts/) should be updated to include links to both Discord (https://discordapp.com/invite/XVKK6hX) which is bridged to IRC and a link to the Matrix bundle ('Community') of bridged Monero IRC channels (https://matrix.to/#/+monero:matrix.org). This is to make it easier join and engage with the Monero community.

Logos for reference for adding to the

[2020-07-13 08:53] erciccione commented on #1077
The Hangouts page needs to be updated and probably restyled. This is in my todo list.

[2020-07-13 14:09] SamsungGalaxyPlayer commented on #1077
I will also add the Discord and Matrix links to the Community Meeting invite templates.

[2020-07-13 15:13] erciccione commented on #915
#1078

I think the Moneropedia should be as simple and easy as possible. I only wrote a short description and added foot notes, including a link to the monerodocs 'Daemon' page, which includes detailed info and more in-dept instructions.

[2020-07-15 09:34] adrelanos opened #1081 "monero download with curl enforcing https broken"
`https://downloads.getmonero.org/gui/linux64` is the download link provided at `https://web.getmonero.org/downloads/`.

    curl --tlsv1.2 --proto =https --location --remote-name-all --remote-header-name --output /tmp/test https://downloads.getmonero.org/gui/linux64

Dropping `/gui/linux64` works.

    curl --tlsv1.2 --proto =https --location --remote-name-all --remote-header-name --output /tmp/te

[2020-07-15 11:14] 00-matt commented on #1081
I think that this is because you get a long chain of redirects, some of which are plain HTTP.

[2020-07-15 18:33] erciccione opened #1082 "Fix insane number of duplicated png files used for user guides"
While upgrading a user guide I realized that the files contained in /resources/user-guides/png are useless. All screenshots used by the guides are in _i18n/$LANG/resources/user-guides/png. The thing is that every language has its own png folder, but most of the screenshots are in english. This means we have a total of **1430**  (110 * 13 languages) pictures used for the user guides in the reposito

[2020-07-15 19:19] erciccione commented on #1082
Removing the "priority" label after a discussion in #monero-site:

[code]

In any case would remain a problem if we want to add languages or guides (and we want to add both, possibly). Also, changing 10 screenshots will result in actually creating a PR which changes 130 screenshots (10*13) and that is just more noise and efforts. So i think we should change it, but it's not urgent anymore. Beside

[2020-07-16 09:48] adrelanos commented on #1081
I guess so. Imo very worthwhile to fix since any intermediate redirect
to HTTP could be mitm'd.

[2020-07-16 16:06] fluffypony commented on #1081
FIXED! We originally support HTTP for updates.getmonero.org (used by the auto-updater), but now that it can handle HTTPS (and everyone's mostly updated since that change) we no longer require it. We've also enabled HSTS, applied for it to get added to the HSTS pre-load list, and enforced HTTP->HTTPS for everything on getmonero.org including all subdomains.

[2020-07-16 16:06] fluffypony commented on #1081
FIXED! We originally support HTTP for updates.getmonero.org (used by the auto-updater), but now that it can

[2020-07-16 16:06] #1081 closed

[2020-07-16 16:08] SarangNoether commented on #1081
I just tested the original HTTPS query, and it redirects properly now.

[2020-07-16 16:54] erciccione opened #1085 "Set up Matomo to parse server logs for analytics"
This should be possible natively with Matomo. See discussion in #978

Note that Matomo is not working at the moment (#945) and we are in the process of removing all analytics-related Javascript (#1084).

[2020-07-16 17:02] erciccione commented on #945
@danrmiller please see #1085

[2020-07-20 09:51] erciccione commented on #1053
@SarangNoether If we want to go ahead with this, we should have the TeX sources updated to a repository, as we discussed. How to move forward? IIRC one option was to create a "publishing" repository inside "monero-project" where to load all the sources, i think that could be a good option.

[2020-07-20 18:22] sanecito commented on #1077
Updated issue to reference logo resource for Matrix. I was originally skeptical this was the logo/icon to use, but I've seen it used multiple notable places this past week like Mobian's website so this is what we should use

[2020-07-21 00:21] bitvape opened #1088 "Exchange listing Request"
#### What's the name of your business?

Bitvape

#### What's the URL of the website?

https://bitvape.com.au

#### Write a brief description of your business/service (max 50 characters)

Australia's top rated JUUL store.

#### Enter the URL where a Monero mention can be found

https://bitvape.com.au/we-are-now-accepting-monero-xmr/

#### How do you accept Monero? *(choose only one option)*

MyCryp

[2020-07-21 06:40] 76o89e opened #1089 "BITEXBOOK exchange tickers update"
Hello,

Since XMR/ETH and XMR/UAH trading pairs have appeared on BITEXBOOK exchange (https://bitexbook.com/en/trading/xmreth, https://bitexbook.com/en/trading/xmruah), I want to ask you to update tickers on your "[Merchants](https://web.getmonero.org/community/merchants/)" page: at the moment only XMR/BTC, XMR/USD and XMR/RUB pairs are listed.

Thank you!

[2020-07-21 10:20] erciccione opened #1090 "Upload nginx config file"
An old nginx.conf is stored in this repo '_config/nginx.conf', but it's outdated. We should upload an updated one, so that in case we lose access to the current server, a mirror could be set up quickly using the config file.

@binaryfate already stated he will upload the nginx.conf file to this repo. Opening this issue mostly for tracking purpose.

[2020-07-22 17:20] erciccione commented on #1088
Looks legit.

@bitvape would be cool if you could add a "Monero accepted" sticker at the bottom of the page, like you already do for Bitcoin :)

See https://www.themonera.art/2017/09/22/monero-promotional-graphics-badges-and-stickers-for-websites/

[2020-07-24 09:33] erciccione commented on #1089
@76o89e Since adding more trading pairs is not doable (if they start being too many they would go in a newline and that doesn't look nice), i simply removed the existing pairs `(XMR/BTC, XMR/USD, XMR/RUB)` and simply added `Multiple trading pairs`. see #1094. If you wish to suggest a better description, please feel free to do so, but keep it under 50 characters.

[2020-07-26 02:17] Daniel-Leedan opened #1099 "Mobile design issue on 'Downloads' page"
I found a issue viewing the downloads page when browsing from mobile. I checked it on Galaxy s10, Iphone 8 and Iphone 6.

The rest of the pages displayed perfectly.

## Screenshot:
![image](https://user-images.githubusercontent.com/8020386/88469886-97c2f800-cf28-11ea-8bdd-f0c3dba4b198.png)

## Zoom-in:
![image](https://user-images.githubusercontent.com/8020386/88469889-a5787d80-cf28-11ea-947d-20c5

[2020-07-26 06:13] 76o89e commented on #1089
@erciccione Thank you for the explanation. Please add the following description then: BITEXBOOK (XMR/USD, RUB, UAH, BTC, ETH)

[2020-07-26 15:40] erciccione commented on #1099
Fixed in #1099, thanks for reporting the problem :)

[2020-07-27 00:04] Daniel-Leedan commented on #1099
It looks great. Thanks!
I planned to work on it today but you was faster than me :)

[2020-07-27 05:11] ElenaIncognito opened #1103 "Exchange listing Request"
#### What's the name of your business?

Incognito

#### What's the URL of the website?

https://incscan.io/pdex/overview

#### Write a brief description of your business/service (max 50 characters)

Completely anonymous decentralized exchange

#### Enter the URL where a Monero mention can be found

https://incscan.io/pdex/markets/PRV-pXMR
https://incscan.io/shielded-coins/evolution/pXMR
https://we

[2020-07-27 14:30] erciccione commented on #1103
Briefly discussed in #monero-community. Legit.

[2020-07-27 14:41] erciccione commented on #1089
That doesn't really make much difference in the long term, but i changed it for now, we will see what to do in the future.

[2020-07-27 14:42] erciccione commented on #1099
No problem, it was fun to debug.

If you can, please test and review the PR, so we can merge it soon :)

[2020-07-28 02:33] #1001 closed

[2020-07-28 02:36] #978 closed

[2020-07-28 02:44] #1099 closed

[2020-07-30 07:36] erciccione opened #1107 "Create "I2P" Moneropedia entry"
https://github.com/monero-project/monero-site/pull/993#issuecomment-648798525

[2020-07-31 19:07] ocotopdf opened #1113 "New Merchant: monerojobs.com"
#### What's the name of your business?

monerojobs.com

#### What's the URL of the website?

monerojobs.com

#### Write a brief description of your business/service (max 50 characters)

The goal of Monero Jobs is to provide a platform for genuine commerce in Monero. Monero Jobs is a job posting service companies can use to hire talent and pay them in Monero.

#### Enter the URL where a Monero ment

[2020-07-31 20:09] #916 closed

[2020-07-31 20:09] #1041 closed

[2020-07-31 20:09] #1047 closed

[2020-07-31 20:09] #1055 closed

[2020-07-31 20:09] #1059 closed

[2020-07-31 20:10] #1060 closed

[2020-07-31 20:10] #915 closed

[2020-07-31 20:12] #922 closed

[2020-07-31 20:13] #1089 closed

[2020-08-01 17:28] erciccione commented on #1113
Looks legit.

[2020-08-04 08:47] ocotopdf commented on #1113
@erciccione Can we get this in?

[2020-08-04 10:40] erciccione commented on #1113
I will make a new PR to add some new merchants shortly. You could also open the PR yourself referencing this issue.

[2020-08-06 16:16] erciccione commented on #1054
Fixed with #1122

[2020-08-10 08:13] erciccione commented on #1077
I opened #1125, but it doesn't include Discord, only Mattermost and Matrix, which are FOSS.

[2020-08-10 08:21] erciccione commented on #910
I believe that #1120 and #1125 remove the last Kovri-related content (Except for the 'Kovri' Moneropedia entry). IMO this issue can be closed after those 2 PRs are merged.

[2020-08-10 13:20] wintermut9 opened #1130 "Add NOWNodes to the list of merchants"
#### What's the name of your business?

NOWNodes

#### What's the URL of the website?

nownodes.io

#### Write a brief description of your business/service (max 50 characters)

NOWNodes is Explorer & Node API provider. It is meant for start-up entrepreneurs and crypto enthusiasts who would like to gain access to major blockchain networks without having to invest their time and money into establish

[2020-08-10 14:14] erciccione commented on #1130
Looks ok. PR already opened: #1129

[2020-08-12 17:03] erciccione commented on #974
#1131

[2020-08-14 09:28] erciccione commented on #1052
#1134

[2020-08-14 19:11] #1088 closed

[2020-08-14 19:11] #1103 closed

[2020-08-14 19:11] #1113 closed

[2020-08-14 19:11] #1054 closed

[2020-08-14 19:11] #1077 closed

[2020-08-15 17:32] #1130 closed

[2020-08-17 11:26] cohcho opened #1137 "Add Cockbox to the list of merchants"
#### What's the name of your business?

Cockbox

#### What's the URL of the website?

https://cockbox.org/

#### Write a brief description of your business/service (max 50 characters)

It's a Tor-friendly, privacy-oriented VPS provider.

#### Enter the URL where a Monero mention can be found

https://cockbox.org/

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations

[2020-08-18 07:33] erciccione commented on #1137
Looks OK.

[2020-08-18 08:08] wiktorglowacki opened #1139 "Xchange.me - "new" merchant"
#### What's the name of your business?

xChange.me

https://xchange.me http://xchangen24yn24b6.onion/

Fully anonymous cryptocurrency exchanger with only one time, small fixed fee. We do not collect any data and have fully native Tor mirror available.

https://xchange.me

https://xchange.me

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.com/monero-in

[2020-08-18 09:14] erciccione opened #1141 "Add 'CLSAG' Moneropedia entry"

[2020-08-18 11:08] erciccione opened #1142 "Add 'Subaddresses' Moneropedia entry"

[2020-08-18 14:15] fouzkov opened #1143 "Add AUGET to the list of merchants"
#### What's the name of your business?

AUGET

#### What's the URL of the website?

https://auget.paris/en/

#### Write a brief description of your business/service (max 50 characters)

AUGET is a new French brand of scented candles. 100% made in France : designed in Paris & made in Grasse.

#### Enter the URL where a Monero mention can be found

https://auget.paris/en/faq/#1567853531584-4bafee09-

[2020-08-19 16:11] erciccione commented on #1139
Looks ok.

[2020-08-19 16:38] erciccione commented on #1143
Looks ok.

[2020-08-21 18:49] SamsungGalaxyPlayer opened #1147 "Add DV Chain to the list of merchants"
#### What's the name of your business?

DV Chain (OTC)

#### What's the URL of the website?

https://dvchain.co

#### Write a brief description of your business/service (max 50 characters)

DV Chain is a cryptocurrency OTC desk that offers buying and selling of Monero.

#### Enter the URL where a Monero mention can be found

Monero logo in the "deep global liquidity" icon.

https://dvchain.co

###

[2020-08-21 18:52] SamsungGalaxyPlayer opened #1148 "Add Newton to the list of merchants"
#### What's the name of your business?

Newton

#### What's the URL of the website?

https://newton.co

#### Write a brief description of your business/service (max 50 characters)

Newton is a Canadian cryptocurrency exchange.

#### Enter the URL where a Monero mention can be found

https://www.newton.co/coin/buy-monero

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integ

[2020-08-24 06:26] erciccione commented on #1058
#1154

With #1145 external links will be flagged with an icon.

[2020-08-24 06:29] erciccione commented on #964
@Thunderosa What's the progress on this? What files do you think should be edited?

[2020-08-24 06:35] erciccione commented on #1064
This will be probably unnecessary soon. See #1053. The idea is to replace our self hosted PDFs with links to an external source (IACR) and the LaTex source.

[2020-08-24 07:15] erciccione commented on #909
#1155

Would be good to also add @tobtoht's guide 'Setting up a Monero full node on Tails'. See [the discussion on reddit](https://www.reddit.com/r/Monero/comments/h8pbc2/guide_setting_up_a_monero_full_node_on_tails/fusiq0x/). I'll contact them asking the progresses on this, if they are busy, i will adapt it and upload it.

[2020-08-25 00:51] Thunderosa commented on #964
Nothing has really changed from my perspective. My initial file has all my proposed corrections, I believe they still make sense.

I would like to again emphasize that I consider this to be an act of gardening, not a redesign. I'd be against a redesign or exploring a redesign. The goal was to change as little as possible while fixing a couple minor craftsmanship issues and widening accessibility.

[2020-08-25 08:45] fluffypony commented on #964
I think the vertical alignment alone makes a big difference. I don't have a strong opinion on the kerning changes.

[2020-08-25 10:25] Wegerich opened #1156 "Add CryptoWoo to the list of gateways"
#### What's the name of your business?

CryptoWoo Monero Plugin

#### What's the URL of the website?

https://www.cryptowoo.com/

#### Write a brief description of your business/service (max 50 characters)

Cryptowoo is a gateway that allows WooCommerce users to accept payments in Monero directly to their private wallet with no intermediary.

#### Enter the URL where a Monero mention can be found

[2020-08-25 15:49] erciccione commented on #1156
Looks ok.

[2020-08-25 16:45] erciccione commented on #1137
#1159

[2020-08-25 16:45] erciccione commented on #1139
#1159

[2020-08-25 16:45] erciccione commented on #1147
#1159

[2020-08-25 16:46] erciccione commented on #1148
#1159

[2020-08-25 16:46] erciccione commented on #1156
#1159

[2020-08-26 20:32] #974 closed

[2020-08-26 20:33] #1052 closed

[2020-08-26 20:34] #1143 closed

[2020-08-26 20:36] #1058 closed

[2020-08-27 07:27] erciccione commented on #910
This is resolved.

[2020-08-27 07:27] #910 closed

[2020-08-28 09:08] azuchi opened #1162 "Duplicate link URL in feed.xml"
URL in feed.xml is duplicated as below.

[code]

https://web.getmonero.org/feed.xml

Maybe you need to modify the `baseurl` setting in `_config.xml`?

[2020-08-28 17:09] erciccione commented on #1162
Looks like the plugin for the feed is using both `url` and `baseurl`. Will check.

[2020-08-29 09:35] erciccione commented on #1162
This was actually symptom of a deeper problem: we enforce a baseurl with a wrong structure and that conflicts with jekyll's structure and consequently, most of the plugins, like `jekyll-feed`, which we use to generate the feed.xml file. We are looking into solutions.

[2020-08-30 08:44] erciccione commented on #1024
#1024

[2020-08-30 12:31] erciccione commented on #1162
#1164

[2020-08-30 18:02] garlicgambit opened #1166 "Small fix blog post network upgrade 17th October 2020"
Change "final user" to "end user". Or remove final.

[2020-08-31 23:46] l33d4n commented on #1166
#1167

[2020-09-01 10:32] erciccione opened #1168 "Remove unactive sponsors and add active ones in the "Sponsorships" page"
Let's also consider #896 when making the change.

[2020-09-01 11:45] erciccione commented on #1168
According to @fluffypony MyMonero, JetBrains, Dome9, Kitware, Navicat and Araxis can be removed

Tari Labs (sponsors the CDN @ $5150 a month), GloBee (sponsors the main Monero website infrastructure @ $2000 a month) and Macstadium (sponsor a hosted Mac Mini used for development ~$80/month) need to be added. Waiting to know if Macstadium wish to be added to the list or not.

[2020-09-01 11:48] erciccione commented on #896
@SamsungGalaxyPlayer see https://github.com/monero-project/monero-site/issues/1168#issuecomment-684792450 for updates reguarding the list of sponsors.

[2020-09-01 12:08] hyc commented on #896
Symas pays for my time when I do development on Monero code.

[2020-09-02 12:51] erciccione opened #1172 "Add "Inputs" Moneropedia entry"

[2020-09-02 12:52] erciccione opened #1173 "Add "Outputs" Moneropedia entry"

[2020-09-02 14:17] erciccione commented on #1168
#1174

[2020-09-02 14:19] erciccione commented on #896
#1174

Thanks @hyc, i added a description of symas' sponsorhip terms. Please let me know if you prefer to use different wording.

[2020-09-02 14:21] ZRFLDF commented on #1173
add  "Median block"?

[2020-09-02 14:33] hyc commented on #896
That's probably too specific at this point. After all, I've worked on the wallet, the daemon, the PoW algo, etc. etc.

[2020-09-02 15:04] erciccione commented on #896
My intent was to specify the sponsored work you have done, differentiating it from your work as a "free" contributor. That might just be me misunderstanding the terms of the sponsorship. If you prefer, i can write something more general.

[2020-09-02 15:05] erciccione commented on #1173
@ZRFLDF If you are suggesting a new Moneropedia entry, please open a dedicated issue.

[2020-09-03 21:01] erciccione opened #1176 "Add user guide "How to run a pruned node""
Should mention all possibilities: Run pruned node from scratch, create pruned node from full node, etc.

[2020-09-04 07:54] erciccione commented on #896
@hyc i changed the text to `Symas sponsors its CTO Howard Chu (hyc) for his work on the Monero codebase.`.

[2020-09-04 09:32] hyc commented on #896
Thanks.

[2020-09-07 02:50] xenpods opened #1179 "Add XenPods to the list of merchants"
#### What's the name of your business?

XenPods

#### What's the URL of the website?

https://xenpods.com.au

#### Write a brief description of your business/service (max 50 characters)

E-cigarette supplier

#### Enter the URL where a Monero mention can be found

https://xenpods.com.au/2020/09/07/we-are-now-accepting-monero-xmr/

#### How do you accept Monero? *(choose only one option)*

MyCrypto

[2020-09-07 12:32] dEBRUYNE-1 commented on #1179
Perhaps worthwhile to post on our subreddit (https://www.reddit.com/r/Monero/) too such that our community can provide feedback?

[2020-09-07 16:33] erciccione commented on #1179
Looks legit.

yeah posting on reddit for visibility is always a good idea.

[2020-09-07 19:24] #1137 closed

[2020-09-07 19:24] #1139 closed

[2020-09-07 19:24] #1147 closed

[2020-09-07 19:24] #1148 closed

[2020-09-07 19:24] #1156 closed

[2020-09-07 19:26] #1024 closed

[2020-09-07 19:26] #1166 closed

[2020-09-08 11:49] erciccione commented on #1141
#1181

[2020-09-12 09:37] erciccione opened #1184 "Edit Moneropedia entry 'Coinbase' to clarify it has nothing to do with the exchange"
Many confuse it with the exchange.

[2020-09-12 21:08] #1179 closed

[2020-09-13 09:29] erciccione commented on #903
I did some research on this. Without using javascript, autodetecting a language is quite annoying. There are other solutions, like serving a cookie and use PHP, but this would be more complex from a legal point of view.

I'm by no mean an expert in this, if somebody has deeper knowledge about this or have a solution in mind, please share your thoughts.

[2020-09-13 09:34] 00-matt commented on #903
We can look at the user's Accept-Language header in nginx and redirect appropriately. Maybe something like this:

[code]

We could also store a cookie when a user selects a language, and then redirect them next time based on that.

[2020-09-13 09:43] erciccione commented on #903
Yes, that's probably the best solution.

That would create problems from a legal point of view and will force us to show an annoying disclaimer.

[2020-09-14 06:26] #896 closed

[2020-09-14 06:26] #1168 closed

[2020-09-14 08:01] erciccione opened #1187 "Improve visibility of the videos in the "What is Monero?" page"
Some [users report](https://www.reddit.com/r/Monero/comments/iaww0p/getmoneroorg_updated_improved_rss_feed_new/g57j2xq/) they are easy to miss. We could move them somewhere else or make them more visible.

[2020-09-14 08:04] erciccione opened #1188 "Add video "Community & Key Aspects" to "What is Monero?" page"
https://www.youtube.com/watch?v=lTdxUpkarjE

#1187 should be kept in consideration when adding this.

[2020-09-15 11:47] Wegerich opened #1189 "Add menu option for "merchants" into the "Get Started" menu"
I am looking at the homepage, wanting to find the "merchants" page to share with someone. Only I can't see the option because I instinctively looked under "Get Started" for information on how to spend monero.

If I was new to monero then I would not consider myself part of the "community" so I would not look there for information about the merchants. Also, I think many stores accepting monero are

[2020-09-15 18:29] erciccione commented on #1189
I would argue that if you accept Monero, you are actually part of the community, so the current placement makes sense IMO. I don't have a strong opinion about moving the tab under "Get Started", beside the fact that people might be used to find it under "community" and i don't see a strong reason to move it. Let's see what others think about it.

[2020-09-16 08:51] Wegerich commented on #1189
I do agree that a justification could be made for the current location of this menu item. However, thinking about the purpose of a menu (to help people find the information they are looking for), I am wondering if putting it in an alternative, also justified location would make navigation more intuitive.

At the end of the day I'm _not_ new to the topic so I can't truly approach from the perspecti

[2020-09-16 10:18] erciccione commented on #1187
#1190

Note that 1190 doesn't address the problems reported in the reddit post about videos not playing. I tried to reproduce but i wasn't able to. The structure of our videos should be supported by all browsers. @selsta reported he doesn't have any problems with Chrome, but i am having issues playing videos on chromium. I couldn't find an obvious explanation. I'm creating a dedicated Windows syst

[2020-09-16 10:20] selsta commented on #1187
It does also not show up with Chrome, I didn’t understand the issue initially. There is still the problems that videos keep playing if you click on next.

[2020-09-16 10:20] erciccione commented on #1189
In any case i would avoid this option. It would just create confusion. A redirect to the new page would do it.

[2020-09-16 10:25] erciccione opened #1191 "Investigate problems with videos not starting or misbehaving"
see discussion in #1187

[2020-09-16 10:25] erciccione commented on #1187
I created #1191 to keep track of the problem.

That's related to the way the videos are displayed (the carousel thing), which is removed by #1190.

[2020-09-16 10:46] 00-matt commented on #1008
No longer needed. #1192

[2020-09-16 10:46] #1008 closed

[2020-09-17 08:27] LyraHosting opened #1194 "Add <LyraHosting> to the list of merchants"
#### What's the name of your business?

LyraHosting

#### What's the URL of the website?

https://lyrahosting.com/

#### Write a brief description of your business/service (max 50 characters)

LyraHosting is a solid offshore hosting company.

#### Enter the URL where a Monero mention can be found

https://lyrahosting.com/ (on footer)

#### How do you accept Monero? *(choose only one option)*

- [

[2020-09-17 12:24] erciccione commented on #1194
What's the URL of the website?
Write a brief description of your business/service (max 50 characters)
Enter the URL where a Monero mention can be found
How do you accept Monero? (choose only one option)

You need to fill up all fields if you want the merchant to be listed.

[2020-09-17 13:13] rating89us opened #1197 "Rename "Downloads" page to "Wallets""
I suggest to rename the Downloads page to Wallets:
- This page is focused in wallets in general
- It also includes hardware wallets, which cannot be downloaded
- Changing the name, we could add additional items like paper wallets and metal wallets to store seed

[2020-09-17 13:24] LyraHosting commented on #1194
I think that i misswrote the format above

What's the name of your business?
- LyraHosting

What's the URL of the website?
- https://lyrahosting.com/

Write a brief description of your business/service (max 50 characters)
- LyraHosting is an Offshore hosting company with own infrastructure and dedicated network.  Selling from virtual to dedicated servers. Costumers privacy is our main goal!

Enter

[2020-09-17 14:24] erciccione commented on #1197
I'm not sure if it worth the change. We have a ton of documentation pointing to the "Downloads" page. We should consider if it really worth the possible confusion. Also, consider that we offer the blockchain boostrap in that page, which is not a "Wallet".

[2020-09-18 20:47] leonklingele opened #1201 "feed: invalid links"
Every link in the [feed](https://www.getmonero.org/feed.xml) is prefixed with `https://www.getmonero.org/`, resulting in invalid URLs. Example:

[code]

[2020-09-19 13:46] erciccione commented on #1201
This is a duplicate of #1162. The problem is fixed with #1164, which will be merged soon.

[2020-09-19 13:46] #1201 closed

[2020-09-23 13:14] LyraHosting commented on #1194
Just a friendly reminder that message has been updated.
Best regards

[2020-09-23 17:25] erciccione commented on #1194
Looks. Ok.

@LyraHosting please also edit the content of the original issue with the deails.

[2020-09-23 18:45] #1162 closed

[2020-09-24 02:07] bonedaddy opened #1207 "Monero Wallet RPC Check Reserve Proof Documentation Is Missing Information"
The [monero-wallet-rpc](https://www.getmonero.org/resources/developer-guides/wallet-rpc.html#check_reserve_proof) `outputs` section is missing two fields `spent`  and `total`. Not really a big deal as the RPC examples given do show the correct output and all of the fields of the RPC response, however I figured it would be best to open an issue as if you dont look at the examples and just the `inpu

[2020-09-24 08:51] LyraHosting commented on #1194
Hello,
Also edited main post.
Best regards

[2020-09-25 00:16] l33d4n commented on #1194
@LyraHosting The brief description of your service is longer than the max 50 characters.

[2020-09-25 07:51] LyraHosting commented on #1194
Hi,
Thank you for let me know that.
I've edited it.
Best regards

[2020-09-25 23:07] SomaticFanatic opened #1211 "GUI has a link for “Source” on Downloads page but CLI does not"

[2020-09-26 06:53] erciccione commented on #1211
Thanks (for mobile only)

[2020-09-26 07:02] erciccione commented on #1211
#1211

[2020-09-26 14:02] SomaticFanatic commented on #1211
Fixed in #1213

[2020-09-26 14:02] #1211 closed

[2020-10-07 08:24] cryptocove opened #1229 "Add <Crypto Cove> to the list of merchants"
#### What's the name of your business?

Crypto Cove

#### What's the URL of the website?

<https://cryptocove.io/>

#### Write a brief description of your business/service (max 50 characters)

Crypto Cove - Crypto merch and apparel store

#### Enter the URL where a Monero mention can be found

https://cryptocove.io/collections/Monero_Merchandise_and_Apparel

#### How do you accept Monero? *(choose

[2020-10-07 08:39] erciccione commented on #1229
Looks good.

Just a personal comment: Monero is not bitcoin. The HODL meme is usually not well seen in the community. For the technology to work and efficiently protect people's privacy, users have to *spend* Monero, not accumulate it. More people use Monero, better will be the protection offered by the technology. Your designs seem to be of high quality, would be cool to see at least some designs

[2020-10-07 08:47] cryptocove commented on #1229
Well noted. I will add some more privacy themed designs. The monero masks give you some nice irl privacy. The I accept Monero desings would be then more in line with your comment. We actually get alot of payments in monero because of presence on r/monero.

Glad you liked the bitconnect section. Its completely unironic :P

[2020-10-07 20:52] moderniz opened #1231 "Add Codify Global to the list of merchants"
#### What's the name of your business?

Codify Global

#### What's the URL of the website?

https://codify.global/

#### Write a brief description of your business/service (max 50 characters)

AWS consulting and technology stack modernization

#### Enter the URL where a Monero mention can be found

https://codify.global/help-center/

#### How do you accept Monero? *(choose only one option)*

- [ ]

[2020-10-08 15:23] #1207 closed

[2020-10-08 15:25] #1194 closed

[2020-10-08 18:10] LyraHosting commented on #1194
Hi mate,
Have you approved my listening?

[2020-10-10 07:15] erciccione commented on #1231
Ok.

[2020-10-12 13:15] Clientvps opened #1237 "Add ClientVPS Hosting to the list of merchants"
#### What's the name of your business?

ClientVPS

#### What's the URL of the website?

https://www.clientvps.com/

#### Write a brief description of your business/service (max 50 characters)

ClientVPS Offshore Hosting

https://www.clientvps.com/payment-methods

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.com/monero-integrations)*
- [ ] Globee
- [

[2020-10-12 21:34] bitgearau opened #1238 "Add Bitgear Australia to the list of merchants"
#### What's the name of your business?

Bitgear Australia

#### What's the URL of the website?

https://www.bitgear.com.au/

#### Write a brief description of your business/service (max 50 characters)

Australian hardware wallet retailer

#### Enter the URL where a Monero mention can be found

https://www.bitgear.com.au/ (footer accepted payment methods)

#### How do you accept Monero? *(choose on

[2020-10-13 06:39] l33d4n opened #1239 "Issue with the 'downloads' page link"
There seems to be an issue with the link to the 'Downloads' page:
https://www.getmonero.org/get-started/faq/#import-blockchain

`<a href="{{ site.baseurl }}/downloads/#blockchain">the 'Downloads' page</a>`

https://github.com/monero-project/monero-site/blob/693eab2bf30fcdd3a6a0e8fe3385fd308c3995d1/_i18n/en.yml#L385

![image](https://user-images.githubusercontent.com/8020386/95824025-32c9b200-0d61-

[2020-10-13 10:00] erciccione commented on #1239
Thanks :)

Fixed in #1240

[2020-10-13 18:02] SamsungGalaxyPlayer commented on #1194
@LyraHosting yes, it has been approved and will go out with the next website update

[2020-10-14 07:23] erciccione commented on #1238
Looks ok.

[2020-10-14 07:26] erciccione commented on #1237
Looks Ok.

[2020-10-15 02:40] l33d4n opened #1244 "Remove 'Hosting Canada' ftom the list of merchants"
'Hosting Canada' does not offer any kind of hosting services and referring to other hosting affiliate programs for commission.
These companies do not offer payment through Monero and should not be listed.

---

![image](https://user-images.githubusercontent.com/8020386/96025727-1ffdcd00-0e88-11eb-8e7f-f12fa947f218.png)

---

For example, one of the most recommended company on this website is 'Host

[2020-10-16 13:57] erciccione commented on #1025
#1083

[2020-10-18 05:48] Clientvps commented on #1237
Hi
i can't see my website on your list, something is wrong ?

[2020-10-18 15:55] erciccione commented on #1237
Hi @Clientvps, we haven't added your website yet. We will first add it to the website then the server will need to be updated. It usually takes between few days and a couple of weeks

[2020-10-19 10:59] erciccione commented on #895
#895

[2020-10-19 11:00] erciccione commented on #895
#1260

[2020-10-21 20:39] #920 closed

[2020-10-21 20:39] #1025 closed

[2020-10-21 20:41] #909 closed

[2020-10-21 20:53] #1229 closed

[2020-10-21 20:54] #1231 closed

[2020-10-21 21:11] #1239 closed

[2020-10-21 21:11] #1238 closed

[2020-10-21 21:11] #1244 closed

[2020-10-21 21:12] #1237 closed

[2020-10-22 05:07] timetherewere opened #1267 "Fix website serving outdated version "v0.17.1.0" of the Linux 64-bit gui Monero software"
https://downloads.getmonero.org/gui/linux64

[2020-10-22 05:08] timetherewere opened #1268 "Fix website serving outdated version "v0.17.0.1" of the Linux 64-bit CLI Monero software"
https://downloads.getmonero.org/cli/linux64

[2020-10-22 08:35] erciccione commented on #1268
This is a problem of caching. Try cleaning your browser cache or opening an incognito window and then use that link again. The correct version will be downloaded. We are aware of the issue and will be fixed soon.

[2020-10-22 08:35] erciccione commented on #1267
see https://github.com/monero-project/monero-site/issues/1268#issuecomment-714329280

[2020-10-24 14:13] erciccione opened #1270 "Introduce i18n system for user guides"
User guides and Moneropedia entries are currently translated manually one by one, which makes impossible to track the status of a translated file and to reliably update the entries. Furthermore, changing/adding an entry requires editing a huge amount of files. This was recently mitigated for the Moneropedia (#1198), but the system as a whole remains broken and unmaintanable.

About half website wa

[2020-10-24 14:21] erciccione commented on #1268
Links are ok. Closing this and #1267

[2020-10-24 14:21] #1268 closed

[2020-10-24 14:21] #1267 closed

[2020-10-25 10:57] fabatmo opened #1271 "Add <symbolika.com> to the list of merchants"
#### What's the name of your business? symbolika.com

symbolika.com

#### What's the URL of the website?

https://symbolika.com

#### Write a brief description of your business/service (max 50 characters)

Psychedelic Apparel and accessories Brand
#### Enter the URL where a Monero mention can be found

https://symbolika.com/pages/terms-of-service

#### How do you accept Monero? *(choose only one o

[2020-10-26 11:28] l33d4n commented on #1271
@fabatmo The brief description of your service is longer than the max 50 characters.

[2020-10-26 13:20] fabatmo commented on #1271
Hi
Thanks for letting mr know I have updated it.
Cheers
Fabian

[2020-10-26 13:49] erciccione commented on #1271
@fabatmo i see the mention of Monero in the terms of service, but i also see you add the logos of the currencies you accept there. Would be nice to see Monero as well (bitcoin is present). [Take a look at these](https://www.themonera.art/2017/09/22/monero-promotional-graphics-badges-and-stickers-for-websites/).

Beside, looks OK.

[2020-10-26 17:29] fabatmo commented on #1271
Hi
Ok yes I see it automatically appears in my new web theme  which I will publish in a few days.
Attached is a picture. I can also add it here for sure its just really a matter of days before the new shop is published.
I am totally for crypto and I intend to offer a discount to anyone who pays with crypto on my site I just need to figure out the tech.
Many thanks
Fabian

[2020-10-27 11:24] erciccione commented on #1191
All videos from getmonero and #1190 seem to be working fine on Chrome, Chromium and Firefox.

@selsta does the video show up now? If it does we can close this as resolved.

[2020-10-27 22:06] viperperidot opened #1273 "Update the blockchain.raw download"
Would it be possible to get the blockchain.raw download updated at https://downloads.getmonero.org/blockchain.raw?

It is currently under the 2 million block height mark so it is a bit outdated.

This would be much appreciated.

Thank you

Edit: If this is better suited as a pull request please let me know and I can move it.

[2020-10-29 18:57] dmillerone opened #1276 "Add <Miller Technical Services> to the list of merchants"
#### What's the name of your business?

Miller Technical Services

#### What's the URL of the website?

http://www.miller-technical.com/

#### Write a brief description of your business/service (max 50 characters)

Discreet Product Development Services

#### Enter the URL where a Monero mention can be found

http://www.miller-technical.com/

#### How do you accept Monero? *(choose only one option)

[2020-10-30 08:51] erciccione commented on #1276
Looks OK.

[2020-10-30 14:52] erciccione commented on #1090
#1279

[2020-10-31 18:29] viperperidot commented on #1273
Didn't realize there was a Downloads repo so I made an issue there as well: https://github.com/monero-project/monero-downloads/issues/1

[2020-11-01 09:50] erciccione commented on #1273
@viperperidot this is being worked on. I'll post an update on this issue.

[2020-11-02 03:56] viperperidot commented on #1273
Thanks!

[2020-11-02 09:08] fabatmo commented on #1271
Hi
I still dont see symbolika listed in the list of merchants, is there an issue
please let me know

[2020-11-02 13:46] erciccione commented on #1271
@fabatmo This is a pull request to add your service to the list. As you can see the PR is still 'open' not 'merged'. After it will be merged the website will be updated and your service will show up.

[2020-11-03 13:12] l33d4n opened #1283 "Remove ' VPNtesting' from the list of merchants"
'VPNtesting' does not offer any kind of VPN services and referring to other VPN affiliate programs for commission.

![image](https://user-images.githubusercontent.com/8020386/97989159-162d1100-1e19-11eb-946d-ce405e5b332a.png)

https://github.com/monero-project/monero-site/blob/7a7ae92be334e2261ed1daf99cb5a624530b88ab/_data/merchants.yml#L189-L190

[2020-11-04 01:04] l33d4n opened #1285 "Remove 'Indacoin' from the list of merchants"
'Indacoin' offers dozens of cryptocurrencies available for purchase but Monero isn't one of them.

![image](https://user-images.githubusercontent.com/8020386/98056940-16122d00-1e7c-11eb-9e8e-475a1d890431.png)

---
List of supported cryptocurrencies:

![image](https://user-images.githubusercontent.com/8020386/98056483-08a87300-1e7b-11eb-9560-b9463f8b6a36.png)
---
https://github.com/monero-project/m

[2020-11-04 06:48] andrealiuu opened #1286 "Listing of Crypto.com"
Hi Monero team,

This is Andrea from Crypto.com and I hope your team is doing all well under the backdrop of COVID-19.

I am responsible for outreach on behalf of Crypto.com and I am outreaching to you because I have found there would be potential opportunities to deepen the relationship between Crypto.com and the Monero team.

Crypto.com was founded in 2016 with the mission to accelerate the worl

[2020-11-04 09:02] erciccione commented on #1286
Please use [the template](https://raw.githubusercontent.com/monero-project/monero-site/master/.github/ISSUE_TEMPLATE/new-merchant.md) to request to add a new service, as requested in the "Merchants" page.

[2020-11-04 09:15] erciccione commented on #1285
Yes, Monero is not listed. I agree should be removed

[2020-11-04 11:19] erciccione commented on #1191
selsta confirmed the videos are loading correctly now. It was probably a temporary issue. Closing.

[2020-11-04 11:19] #1191 closed

[2020-11-06 03:41] l33d4n opened #1289 "W3C Validator errors list"
|#|URL|# Error|# Warning/Info|Total|Review|
|--- |--- |--- |--- |--- |--- |
|1|https://www.getmonero.org/|11|1|12|[Review](https://validator.w3.org/check?uri=https%3A%2F%2Fwww.getmonero.org%2F)|
|2|https://www.getmonero.org/blog/|12|1|13|[Review](https://validator.w3.org/check?uri=https%3A%2F%2Fwww.getmonero.org%2Fblog%2F)|
|3|https://www.getmonero.org/community/hangouts/|9|2|11|[Review](https://v

[2020-11-06 09:59] erciccione commented on #1289
I often run Getmonero on the W3C validator. The vast majority of those errors are caused by the "unusual" way we create dropdowns, the rest are minor issues. Fixing some of those warnings/errors (mostly in the roadmap) is already in my todo list.

This issue in this format cannot be resolved, please edit it with more specific information or narrow it to only one page.

[2020-11-06 18:39] apezio opened #1290 "Add Fork Networking to the list of merchants"
#### What's the name of your business?

Fork Networking, Inc.

#### What's the URL of the website?

https://www.forked.net/

#### Write a brief description of your business/service (max 50 characters)

Provides Dedicated Servers and Virtual Private Servers (VPS).

#### Enter the URL where a Monero mention can be found

https://www.forked.net

#### How do you accept Monero? *(choose only one option

[2020-11-06 19:41] erciccione commented on #1290
When trying to access the website through TLS, i get a BAD_CERT error. Please fix. We already link to `https://www.forked.net/` in [Sponsorships](https://www.getmonero.org/community/sponsorships/)

[2020-11-08 17:37] erciccione commented on #1273
The blockchain snapshot has been updated.

[2020-11-08 17:37] #1273 closed

[2020-11-08 18:42] t-900-a opened #1296 "broken link how to ccs page"
On webpage: https://ccs.getmonero.org/how-to-ccs/

A link: <a href="/what-is-ccs">What is the CCS and What Are Its Rules and Expectations</a>

Why is it broken: the user is redirected to https://ccs.getmonero.org:8080/what-is-ccs/
It should be redirected to https://ccs.getmonero.org/what-is-ccs/

[2020-11-08 21:21] 00-matt commented on #1296
I think that this bug should be reported in the [ccs-frontend](https://repo.getmonero.org/monero-project/ccs-front) repository instead. This repository is just for the main getmonero.org website.

[2020-11-08 21:58] t-900-a commented on #1296
done: https://repo.getmonero.org/monero-project/ccs-front/-/issues/2
close

[2020-11-08 21:58] #1296 closed

[2020-11-09 03:37] viperperidot commented on #1184
I was going to start working on this but it looks like there is already a coinbase entry in Moneropedia. Or were you looking for one with more detail than this?

https://www.getmonero.org/resources/moneropedia/coinbase.html

[2020-11-09 06:17] andrealiuu commented on #1286
name: Crypto.com
about: Propose a new merchant to add to the 'Merchants' page
title: 'Add <Crypto.com> to the list of merchants'
labels: "\U0001F3EA merchant, \U0001F50D Needs investigation"
assignees: ''

---

#### What's the name of your business?

<Crypto.com>

#### What's the URL of the website?

<https://crypto.com/price/monero>

#### Write a brief description of your business/service (max 50

[2020-11-09 10:43] erciccione commented on #1184
You are right. I think would be good to specify that it's something difference from the exchange. I'm gonna edit the title.

Better to not work on user guides and moneropedia for now. We will change the way they are localized soon (#1270)

[2020-11-09 10:59] erciccione commented on #1286
Please edit the original comment. Also, your brief description is longer than 50 characters requested and you didn't choose any option for "How do you accept Monero?"

[2020-11-09 12:59] #1289 closed

[2020-11-10 02:27] andrealiuu commented on #1286
Our site doesn't support Monero currently, however, we have a page created for Monero at https://crypto.com/price/monero. Would it be possible to get listed on the Tool section at  https://www.getmonero.org/community/merchants/, linking to https://crypto.com/price/monero?
Thanks

[2020-11-10 11:16] erciccione commented on #1286
@andrealiuu I don't see the point of adding you to the list of merchants who accept Monero if you don't accept Monero yet. We can add you once you actually support Monero :)

[2020-11-10 13:02] erciccione commented on #1286
I'm closing this issue for now. We don't add to the Merchants list merchants who don't presently accept Monero and i don't see why crypto.com would fit in the Tools section. Feel free to reopen when Monero will be accepted :)

[2020-11-10 13:03] #1286 closed

[2020-11-10 19:26] #1187 closed

[2020-11-10 19:27] #1271 closed

[2020-11-10 19:28] #1276 closed

[2020-11-10 19:29] #1283 closed

[2020-11-10 19:29] #1285 closed

[2020-11-11 13:51] erciccione commented on #1290
ping @apezio

[2020-11-11 15:34] SamsungGalaxyPlayer commented on #1286
Agreed, crypto.com can easily be included if Monero was supported.

[2020-11-14 10:37] erciccione opened #1308 "Delete or simplify Moneropedia entry 'Canonically unique host'"
Is it really useful for the user? If it is, would be better to simplify it.

We can start working on this after #1270 is resolved.

[2020-11-14 11:46] 3ach1T3ach1 opened #1310 "DNS Cache Poisoning - Downloads Page"
Please excuse if posting issue to the wrong location, forum or group.

I had a suspected dns spoofing event today multiple times while navigating to the downloads from the monero.org site.

I was repeatedly being taken to a non https site that obviously looked different to the authentic site. I am able to navigate to what appears to be the https authentic site from my ip however notification of su

[2020-11-14 12:04] erciccione commented on #1310
Hi @3ach1T3ach1. The Monero website is https://getmonero.org.

monero[.]org is owned by a domain squatter and should be avoided and considered malicious.

[2020-11-14 12:29] erciccione opened #1311 "Moneropedia: Remove 'kovri' section in 'Encryption' entry"
It's obsolete. To be resolved after #1250 and Norwegian equivalent (at the moment #1305) are merged to avoid conflicts and unnecessary headaches.

[2020-11-14 13:14] 3ach1T3ach1 commented on #1310
@erciccione Ah yes that is the plebs site. Thanks. I found it through a search while not paying enough attention. Any chance you have a protonmail I could contact you directly though? Privacy related issue concerning crypto. m461ck@protonmail.com

Thanks

[2020-11-14 13:14] #1310 closed

[2020-11-14 14:37] erciccione commented on #1310
erciccione[at]protonmail[dot]com

[2020-11-16 12:31] erciccione opened #1315 "Restyle 'Mining' page"
https://www.getmonero.org/get-started/mining/

It's very ugly and could use a refresh.

[2020-11-16 17:10] SamsungGalaxyPlayer commented on #1311
For clarity's sake, the task is to remember the reference to kovri in the encryption entry, not the korvi entry correct? The kovri entry should stay imo as a reference (mostly to say we don't plan to ever use it).

[2020-11-16 19:10] #1082 closed

[2020-11-16 19:19] airos999 opened #1316 "Veldt Gold"
#### What's the name of your business?
Veldt Gold

#### What's the URL of the website?

https://veldtgold.com/

#### Write a brief description of your business/service (max 50 characters)

Buy and sell gold and silver bullion with Monero

#### Enter the URL where a Monero mention can be found

https://veldtgold.com/payment-shipping-information/

#### How do you accept Monero? *(choose only one opt

[2020-11-17 10:15] erciccione commented on #1311
Correct. I don't intend to delete the Kovri entry. Sorry if my wording as unclear.

[2020-11-17 10:26] erciccione commented on #1316
Looks ok, but i would categorize your business as "Goods" not "Exchange".

[2020-11-17 11:08] erciccione opened #1317 "Add new FAQ: "i haven't touched my Moneroj in a long time, did i lose them as a consequence of a hard fork?""
Common question after network upgrades. We had a [mini-FAQ in the announcement of the network upgrade](https://www.getmonero.org/2020/08/18/network-upgrade-october-2020.html), which explains why hard forks don't cause coin splits in Monero, but it's better to put it in a FAQ, so that we can easily link to it.

(inspired by https://www.reddit.com/r/Monero/comments/jvpf84/havent_touched_my_xmr_for_2

[2020-11-20 13:06] erciccione commented on #1090
Resolved.

[2020-11-20 13:06] #1090 closed

[2020-11-22 12:24] erciccione commented on #1189
FYI i added the Merchants page to the footer with #1292. That should give it more visibility.

[2020-11-22 12:32] erciccione commented on #941
#1248

[2020-11-22 17:43] kgsphinx opened #1324 "Add SphinxLogic to the list of merchants"
#### What's the name of your business?

SphinxLogic

#### What's the URL of the website?

https://sphinxgadgets.com

#### Write a brief description of your business/service (max 50 characters)

Maker of Alternative Password Manager Gadgets

#### Enter the URL where a Monero mention can be found

The Monero Collection page mentions it, plus there are Monero icons in the footer of most pages alongsi

[2020-11-23 12:40] erciccione commented on #1324
Looks ok.

[2020-11-23 19:32] nieuwamsterdam opened #1329 "Add Backtestking to the list of merchants"
#### What's the name of your business?
Backtestking

#### What's the URL of the website?

https://www.backtestking.com

#### Write a brief description of your business/service (max 50 characters)

Build or buy your own trading strategy/bot.

#### Enter the URL where a Monero mention can be found

https://www.backtestking.com/build-trading-bot

#### How do you accept Monero? *(choose only one optio

[2020-11-24 17:47] erciccione commented on #1329
The cookies pop up is quite annoying, but beside looks ok.

[2020-11-24 20:25] nieuwamsterdam commented on #1329
Thanks, Does the popup stay? It is supposed to be a one-time event.

[2020-11-25 13:40] erciccione commented on #1329
I don't know. i couldn't click on it, but that's because of my strict browser settings (for privacy reasons)

[2020-11-25 16:11] erciccione commented on #951
@ajs-xmr any news about the video?

[2020-11-27 22:41] #1316 closed

[2020-11-27 22:45] #1324 closed

[2020-11-27 22:45] #1329 closed

[2020-11-30 10:42] erciccione commented on #998
Do we want to have that file somewhere else? Otherwise i would just close this issue.

[2020-12-02 19:52] 1Bit-Group opened #1349 "Add 1bit.group Anonymous exchange to the list of merchants"
#### What's the name of your business?

1Bit.Group

#### What's the URL of the website?

https://1bit.group

#### Write a brief description of your business/service (max 50 characters)

Anonymous Monero exchanger

#### Enter the URL where a Monero mention can be found

https://1bit.group

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.com/monero-integ

[2020-12-03 12:30] erciccione commented on #1349
They list Monero.

[2020-12-04 10:04] erciccione opened #1352 "Moneropedia links (created by _plugins/moneropedia.rb) are always lower case"

[2020-12-05 18:34] RohanLaw commented on #577
Updated Monero wallet address for business payments…
monero: 49qAa59VfVn7eZksq7CWm6TeiiC152S2MT6cbt7vV3VYXk5vVg4uPhuLE5sKvt1E13CFpDGcbEFXWi6VNf3Eoq8h3ngxTyT

Kind regards,
Douglas Brooks Rohan,   		Esq.
Tu mejor opción legal

t.	(404) 923-0446
e.	doug@rohan.law <mailto:doug@rohan.law>
w.	www.rohan.law <http://www.rohan.law/>
s.	375 Northridge Road, Suite 120, Atlanta, GA 30350
 <https://www.facebo

[2020-12-07 10:32] 1Bit-Group commented on #1349
Good afternoon.
And we are not currently on the Exchanges list.
We will appear after updating your site as we understood correctly?

[2020-12-07 14:10] erciccione commented on #1349
You will be listed after this PR will be merged and the website updated.

[2020-12-07 16:53] erciccione opened #1356 "Add Moneropedia entry 'Network Upgrade'"
In it we could point out that Network Upgrades (hard forks) are non-contentious and no new coin will be created. We have multiple blog posts we could link to.

[2020-12-07 19:34] erciccione commented on #1317
#1357

[2020-12-13 18:00] erciccione opened #1371 "Add FAQ: 'How big is the Monero blockchain?'"
Maybe 'Why does the blockchain need so much space?' will need to be adjusted.

[2020-12-14 18:05] #1141 closed

[2020-12-14 18:09] #895 closed

[2020-12-14 18:17] #1349 closed

[2020-12-14 19:45] erciccione opened #1375 "Add csharp-monero-rpc-client to 'Library and Helpers'"
We are adding it to the Monero Ecosystem project: https://github.com/monero-ecosystem/meta/issues/72#issuecomment-744149987

https://github.com/Agorist-Action/csharp-monero-rpc-client (soon Agorist-Action will be replaced by monero-ecosystem)

[2020-12-15 01:05] iPhonePKAndroid opened #1377 "SSL timeout!"
https://api.mymonero.com:8443/

https://wallet.mymonero.com/

https://*.mymonero.com/

[2020-12-15 01:07] iPhonePKAndroid commented on #1377
Has expired!

[2020-12-15 01:09] cutff commented on #1377
I have some coins on mymonero ? what happened to my coins lost ?

[2020-12-15 01:19] selsta commented on #1377
You can import your MyMonero seed into a different monero wallet if you have to access your funds.

[2020-12-15 01:21] iPhonePKAndroid commented on #1377
Do you have any recommendations?

[2020-12-15 01:22] selsta commented on #1377
https://www.getmonero.org/downloads/

[2020-12-15 01:27] iPhonePKAndroid commented on #1377
thanks

[2020-12-15 01:30] selsta commented on #1377
I assume MyMonero will be fixed in the next 12-24h.

[2020-12-15 01:31] iPhonePKAndroid commented on #1377
maybe

[2020-12-15 01:32] iPhonePKAndroid commented on #1377
There are so many people using it, why it expires, they should receive the expired email in advance, a reminder from the SSL service provider.

[2020-12-15 01:48] cutff commented on #1377
I have used cake wallet and I have tried to restore all my funds. but after it done it shows like some new wallets

One calls
Hateful Red and one Scaly Panties ?

What is that ? please anyone can help me out here. I feel like I have lost my coins or what ?

Thank you

[2020-12-15 01:49] cutff commented on #1377
and there is no funds

[2020-12-15 01:50] selsta commented on #1377
You did nor lose your funds. MyMonero will should back online in 12-24 hours.

Which restore height did you set in cake wallet?

[2020-12-15 02:00] cutff commented on #1377
I have just tried Cake wallet as I was afraid I am gonna lose my funds. by after synchronization. there were no funds and two more wallets automatically created as above. I don't know really What I am supposed to do now. can I be back tomorrow in case mymonero is back online again? Thank you very much

[2020-12-15 02:01] selsta commented on #1377
Yes.

[2020-12-15 02:04] cutff commented on #1377
so tomorrow I can just use the same seeds I had before with them to log in again? and just forget about cake or what? I am really sorry I am new to Monero. so much appreciated  with feedbacks here

[2020-12-15 02:04] selsta commented on #1377
Correct.

[2020-12-15 02:06] cutff commented on #1377
oh God! I am back to life again. Thank you very much. sincerely appreciated.
❤️

[2020-12-15 08:28] selsta commented on #1377
The issue appears resolved.

[2020-12-15 09:10] erciccione commented on #1377
This is the repository for getmonero.org, not mymonero.

[2020-12-15 09:10] #1377 closed

[2020-12-15 14:15] cutff commented on #1377
my bad bringing the topic here.  my apologizes!

[2020-12-15 19:57] Thunderosa opened #1380 "Workgroup Page and For-Profit Workgroups"
As far as I know, Monero Space is the first private, for-profit company wanting to be listed as a Monero Workgroup, so this is a new decision for getmonero to make. As such, it would make sense to me that a general policy be established in case other corporations would like to be listed in the future.

MoneroOutreach will need to do likewise, although we've tended to take our guidance from getmone

[2020-12-16 10:37] erciccione commented on #1380
As mentioned in [my reddit comment](https://www.reddit.com/r/Monero/comments/kd4t7j/the_old_team_page_on_getmoneroorg_has_been/gfxh8m1/), i've been thinking about adding a disclaimer for the monero-space workgroup, but at the end i avoided it.

It's true that this sets a precedent and personally i agree would be better put a disclaimer if the workgroup is managed by a corporation, especially since

[2020-12-16 13:53] Thunderosa commented on #1380
No, we are absolutely not considering becoming a company. Sorry about that, I was meaning that like getmonero we'll also need to arrive at a policy for listing workgroups on our site.

MO has not had that discussion yet, I'd expect that if we decided to list a company as a Monero Workgroup we'd probably create a separate section for those so it's clear and list the full business name with LLC or I

[2020-12-16 14:06] SamsungGalaxyPlayer commented on #1380
In my opinion (as an organizer of Monero Space), this removal would do far more harm than good. Monero Space functions just like any other workgroup and functionally meets any reasonable definition of a Monero workgroup. For example, we host monthly Monero Meet gatherings, conduct various community interviews, and have an active discussion in #monero-space. Though new, Monero Space is already an i

[2020-12-16 14:29] erciccione commented on #1380
@SamsungGalaxyPlayer this discussion is about adding a warning on the square of Monero Space, nobody is suggesting a removal.

I don't see how the two are related. The section you are mentioning lists *only* external wallets/projects, that's why we have a disclaimer to make people do their own researches before using the software listed there. Doesn't matter if they are companies or not, because w

[2020-12-16 14:37] SamsungGalaxyPlayer commented on #1380
I don't see the difference when linking to external resources/efforts. If you want to have a disclaimer that any workgroup not run by Core is run by an external, possibly-malicious entity, then advocate for that. But since the Monero community is purposefully organized into such self-organized groups, I think a disclaimer is far more likely to confuse people and put them off from contributing than

[2020-12-16 14:57] erciccione commented on #1380
I think it's useful and important to make people know that unlike the rest of the workgroups listed on that page, this particular one differs in the fact that it's managed by a US-based company (and all the tools are owned by this company as well). This has privacy-specific implications that a visitor/potential contributor needs to be aware of, especially since the only way to find out about the L

[2020-12-17 00:23] lh1008 commented on #1380
I think the disclaimer is necessary. We need to protect the real minority, the user, call the user, a company, a corporation, an individual, or a person.

[2020-12-17 00:31] lh1008 commented on #1380
So the disclaimer should say who you're dealing with. A company/corporation/enterprise or a group of individuals not grouped together into a legal representation.

[2020-12-17 19:41] xmrhaelan commented on #1380
I think a disclaimer makes sense given everything that’s been said here, but it would be important to ensure the wording used is neutral as possible to avoid anyone passing undue judgement. I agree with Justin that not having Monero Space listed would be a bad thing. We should also recognize they are active in the community and have put a lot of their own time and resources into helping build what

[2020-12-17 22:16] SamsungGalaxyPlayer commented on #1380
My position remains that the distinction discussed here is completely arbitrary. If you are worried about a workgroup being run by bad actors, then remove them from the page. Any distinction has no relevance to a user who is viewing the page unless we want them to be the target of the fear-mongering derived from a complete misunderstanding of how organizations work.

[2020-12-18 09:37] erciccione commented on #1380
@xmrhaelan Again: nowhere in this issue somebody is suggesting to remove monero-space from the list. Let's make that clear :)

@SamsungGalaxyPlayer this is false and misleading. We are not talking about people "viewing" pages, but subscribing to services that are forced to strictly follow US legislation, which includes retaining logs and making them available to police forces. The US is one of the

[2020-12-18 13:57] SamsungGalaxyPlayer commented on #1380
You keep moving the bar. Why do we allow wallets maintained by companies in the US? Surely by your logic they could be forced to collect information. Plus we still link to other services such as GitHub, Reddit, and Twitter which are US based and run by a company in the same workgroups page. You are imposing a higher standard on MS.

Even if you argue that GitHub is a necessary evil, that doesn't e

[2020-12-18 14:29] Thunderosa commented on #1380
Some wallet companies are listed, not all. All wallet companies are being listed in their own section and/or with a disclaimer.

So, it sounds like we're all in agreement that we should list workgroups the same way we've always listed wallets.

If Github, Reddit and Twitter ask to be on the workgroup page, we can handle it the same way.

[2020-12-18 14:43] SamsungGalaxyPlayer commented on #1380
Github, Twitter, and Reddit links are on the workgroup page currently, and I think adding disclaimers that these services operate in the US would be pointless. All a user is going to do is get confused, and we don't want to be putting people off from joining various areas of the community.

We already describe workgroups at the top of the page in a way that describes them as self-organizing:

Maki

[2020-12-18 14:50] lh1008 commented on #1380
Justin you're advocating for your personal interests and it's okay, but you're forgetting about the most important actor in Monero, and it's the users. We are advocating for the interests of the them, the user. I never liked listing any type of company to the site but you all pushed it anyway.
Why I don't like listing companies of any type? Because we forget about building money and instead we bui

[2020-12-18 14:54] lh1008 commented on #1380
So this is not a talk about Monero Space, it's a talk about Monero users. Users could be, companies, individuals, corporations, natural persons, juridical persons, etc.
Adding the disclaimer is a social responsibility to make aware users about their own responsibility/liability to work with community members.

[2020-12-18 15:52] rbrunner7 commented on #1380
How about something like a compromise?

On the one hand I think using the word "Warning" is too strong. If we start to put warnings in all places where we have "US inside" somehow that quickly escalates and does not make sense anymore.

On the other hand it currently is the only workgroup that is a legal entity, and it is a legal entity in the US, with that country having a somewhat special state

[2020-12-18 16:23] lh1008 commented on #1380
Yeah, @rbrunner7 with a disclaimer will be enough. Disclaimers are not only warnings but to specify obligations, liabilities, responsibilities, delimit rights, etc. In any case a user relates also with an individual they will have to acknowledge these liabilities too.

[2020-12-22 11:16] erciccione commented on #1380
Probably the word "warning" was a mistake. I think @rbrunner7's suggestion is very good.

Added with #1383

[2020-12-23 18:36] ProkhorZ commented on #1380
I wouldn't call it a disclaimer. Just call it a company when it's a company.

[2020-12-24 18:29] binaryFate commented on #1380
First a meta point: it is super important that key historical contributors are able to interact with each other in good faith. We need to be excellent to one another, even in disagreement, if we want to produce something excellent together. You'll forgive me the patronizing tone, but I find these discussions sometimes unnecessarily painful not for what is said but for how it is said.

Now on this

[2020-12-25 13:51] erciccione commented on #1380
@binaryFate

This is an extremely dangerous way of thinking IMO. First, they are a company, doesn't matter our personal opinions. Second, you may trust needomoney and sgp, but the board of directors include a total of 5 (?) people and the members could change any time. Will we constantly check the board members to make sure we trust them all?

This actually already happened when i made the post on

[2020-12-25 14:13] fluffypony commented on #1380
@erciccione I don't believe binaryFate was trying to say "trust this company" now and forever, he was merely pointing out that we cannot paint everyone with the same brush, especially when it involves long-time contributors that have, like you, given a great deal of their time, money, and effort to advance Monero.

In addition, I feel like much of the "fight" here is because some in the community

[2020-12-25 20:49] rehrar commented on #1380
**TL;DR I think a reasonable compromise is that Monero Space update their website and have a page disclosing what they are. As far as I'm concerned, Monero Space is a workgroup, and that workgroup is funded by an LLC. So let the workgroup stay on the workgroup page as a workgroup without disclaimer, and when people do digging to say where they get their funding, they can go to their website and se

[2020-12-25 22:41] ProkhorZ commented on #1380
@rehrar Nothing in your rant is a valid argument for not calling a company a company. It's not just about funding. It's not just about a precedent. **We are not Ripple**, we call things what they are. It's not presented as a big deal in #1383, and users who don't care can ignore that 12-word sentence. You know that many ignore much stronger warnings, like the advice to verify the hashes of downloa

[2020-12-26 00:02] umma08 commented on #1380
So far, I have seen these arguments put forward for not having a disclaimer:

1. The directors are known, trusted, and have committed time and effort to Monero.
2. The LLC helps to account for the tax bookkeeping of the directors (which in turn aids the supply of services for the community).
3. That users don't care that a workgroup is a "for profit entity".
4. That a disclaimer will "put people o

[2020-12-26 05:54] fluffypony commented on #1380
Just to add to my previous comment, I hold no strong opinion on whether or not there should be disclaimers, but I *am* advocating for people to act honourably and kindly to each other.

[2020-12-26 08:43] actio-fast-pay opened #1388 "Add Actio-fast-pay.net to the list of merchants"
#### What's the name of your business?

Actio-fast-pay.net

#### What's the URL of the website?

https://actio-fast-pay.net/

#### Write a brief description of your business/service (max 50 characters)

Automatic exchanger 24x7

#### Enter the URL where a Monero mention can be found

https://actio-fast-pay.net/

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *

[2020-12-26 10:06] erciccione commented on #1380
I don't think so, but it's probably heated because some dislike MS and deem them unethical (that's the case for me, at least). Personally, i have enough experience with collective and orizzontal organizations that i know what to expect from a large community. I think the discussion here is swifting to an abstract argument about monero ethos and what we would like the community to be, when it's not

[2020-12-26 11:01] binaryFate commented on #1380
I don't believe that readers are approaching the workgroup page and then potentialy getting involved, with expectations that all people and infrastructure will preserve their privacy. I do not believe this is a realistic baseline position from which we must try to protect them.
For ex. all discussions taking place on IRC are public (and probably monitored in many channels), but we do not try to ad

[2020-12-26 11:29] erciccione commented on #1380
I struggle to understand how the phrase *"It is incorporated in the US as an LLC (Limited Liability Company)"* is gatekeeping or confusing. Anyway, at the moment the consensus (between here and #1383) is clear:

7 people are for adding *'[...]. It's incomporated in the US as a LLC (Limited Liability Company)'*
3 people are for adding nothing (including 1 core team member)
2 people proposed alterna

[2020-12-26 11:37] erciccione commented on #1388
Lists Monero.

[2020-12-26 15:55] erciccione opened #1389 "Add user guide 'How to create a private remote node?'"
Could also be more in general 'How to create a remote node?' and then add instructions for both public and private remote nodes. We could link to it from the "Remote Node" Moneropedia entry.

[2020-12-26 17:32] binaryFate commented on #1380
Fwiw I think it would be nice if MS made it clear enough on their website (aka @rehrar's suggestion), in the interest of appeasing concerns that are understandable. Though I wouldn't make the workgroup page (lack of) wording necessarily conditional on that.

[2020-12-26 19:57] SamsungGalaxyPlayer commented on #1380
Just to reiterate a few points:

1. Saying "maybe the company will seek to earn profit in the future" is nonspecific to a company. What if Monero Outreach stated trying to make money by selling ads on their site? Workgroups change over time and the site can be updated if a workgroup starts becoming abusive. Suggesting this is specific to companies only is incorrect.

2. If people truly are scared

[2020-12-26 20:33] rbrunner7 commented on #1380
@SamsungGalaxyPlayer : Some comments about the proposal to state your form of organization somewhere on the Monero Space website? I could imagine that as a third link beside "email" and "github" named "legal form" or similar that leads to a page that basically contains the sentence that this PR wants to add directly to the workgroup page?

[2020-12-26 20:59] SamsungGalaxyPlayer commented on #1380
I'm happy to include a link to our corporate docs.

https://wyobiz.wyo.gov/Business/FilingDetails.aspx?eFNum=148182127005251116092123125219038058020252005207

[2020-12-26 22:46] johnr365 opened #1390 "Add "General Fund" Viewkey to the ccs.getmonero.org page"
Currently the https://ccs.getmonero.org/ page shows the general fund address, but it doesn't show the viewkey for this address.

To see the viewkey you pretty much need to know it's at Github, part way down this page: https://github.com/monero-project/monero

I would suggest that for the CSS homepage, in the footer, where the text says:

"Donate to the Monero Project

By donating to the following

[2020-12-27 09:25] erciccione commented on #1380
@SamsungGalaxyPlayer  as pointed out in this issue many times, there is a huge difference in legal terms (responsabilities, risks, legal obbligations, etc) between a natural entity (physical person) and a legal entity (company) owning services or tools. You keep assuming that they are the same thing, but they are absolutely not, your comparison is meaningless. The difference is fundamental in Roma

[2020-12-27 10:37] erciccione commented on #1390
The repository for ccs.getmonero.org is here: https://repo.getmonero.org/monero-project/ccs-front. Please reopen this issue there.

[2020-12-27 10:37] #1390 closed

[2020-12-27 11:22] johnr365 commented on #1390
My bad @erciccione - thanks for the info - will re-post it over there! Merry Xmas :)

[2020-12-27 18:48] erciccione commented on #1389
Consider we already have: https://www.getmonero.org/resources/user-guides/vps_run_node.html

[2020-12-28 00:42] rutermanster opened #1392 "AzireVPN"
#### What's the name of your business?

AzireVPN

#### What's the URL of the website?

http://azirevpn.com/

#### Write a brief description of your business/service (max 50 characters)

We have been working hard since 2012 to fight censorship and restrictions on the Internet.

#### Enter the URL where a Monero mention can be found

https://azirevpn.com/

#### How do you accept Monero? *(choose onl

[2020-12-29 04:15] Thunderosa commented on #1380
It seems like we got a little sidetracked about if this is a warning, a disclaimer, a label or just information. I suggested forming a policy to avoid singling out, I think it's better to solve it. I hope we can all agree that transparency is important. Personally I feel transparency has been missing from this corporation since the beginning and that's why I've been more on guard than I would be o

[2020-12-29 09:44] erciccione commented on #1392
Looks ok.

This is a comment, not a description of your service. We need a description if you want your service to be added on the Merchants page

[2020-12-29 09:45] erciccione commented on #1290
ping.

[2020-12-29 15:55] SamsungGalaxyPlayer commented on #1308
I wonder to what extent we get random visitors on the getmonero.org page, lol. Seems to be the main resource available for this term.

![image](https://user-images.githubusercontent.com/12520755/103296579-f864ce00-49bb-11eb-88c5-bb386c05e3e1.png)

I agree with its removal.

[2020-12-29 16:00] SamsungGalaxyPlayer commented on #1380
fwiw, I've never tried to hide anything. And I've added a link to our org docs on the website. https://monero.space/

[2020-12-29 17:19] erciccione commented on #1380
Personally, i don't doubt the good faith. The link is nice to have, but doesn't really solve the problem unless is also added on the pages we link to from getmonero: the forum. I know it's already in the terms of service, but nobody reads those.

[2020-12-29 17:36] Thunderosa commented on #1380
The filing papers don't list partners or describe governance.

[2021-01-03 10:47] erciccione commented on #1375
csharp-monero-rpc-client is now part of the Monero Ecosystem project. The repository is now at https://github.com/monero-ecosystem/csharp-monero-rpc-client

#1403

[2021-01-04 09:40] erciccione commented on #1388
#1404

[2021-01-04 09:48] erciccione commented on #1270
Only  #1326 #1332 #1339 and #1396 missing to complete the first step.

[2021-01-05 14:05] erciccione commented on #941
resolved by #1248

[2021-01-05 14:05] #941 closed

[2021-01-07 18:42] erciccione commented on #998
We will link to the Library from the MRL page with #1409. That will make zero to monero and other resources easier to find. I'm closing this.

[2021-01-07 18:42] #998 closed

[2021-01-11 18:13] fluffypony opened #1414 "og:image should be an absolute URL"
eg.

```<meta property="og:image" content="/press-kit/symbols/monero-symbol-on-white-480.png">```

Should be absolute, not relative, per the OG spec.

[2021-01-11 18:44] #1317 closed

[2021-01-11 18:49] #1375 closed

[2021-01-11 18:49] #1388 closed

[2021-01-12 10:10] erciccione commented on #1414
Thanks. Fixed with #1415

[2021-01-12 22:25] SamsungGalaxyPlayer commented on #964
Should we revisit this?

@Thunderosa can you try making a version with only the slight change that the width is expanded to be the same as before (red), and then grow and center the height by the proportional amount (blue)? Perhaps it's also worth testing growing the front to be closer to the logo on the left (green) and then growing the height (blue) even further proportionally, though that's les

[2021-01-15 09:48] erciccione commented on #1290
No answer. Closing.

[2021-01-15 09:50] erciccione commented on #1189
If there are no further comments i would be inclined to close this PR.

[2021-01-15 09:51] erciccione commented on #1197
If there are no further comments/opinions, i would be inclined to close this issue.

[2021-01-15 10:01] Wegerich commented on #1189
I do still think there should be a shortcut to "spend monero" in the "Get Started" menu but am happy for this to be closed unactioned as it's not popular. Thanks for your consideration.

[2021-01-15 11:11] adrelanos opened #1419 "link to monero hashes.txt outdated"
`https://github.com/monero-project/monero-gui/releases/tag/v0.17.1.9` links to

* `https://getmonero.org/downloads/hashes.txt` which then redirects to
* `https://www.getmonero.org/downloads/hashes.txt`.

This makes it a bit harder to web archive these links.

If the location change is permanent, please consider updating that link for the next release.

[2021-01-15 11:40] erciccione commented on #1419
See my answer in https://github.com/monero-project/monero-gui/issues/3189#issuecomment-760892256

regardless, the link displayed should be changed in the blog posts to avoid confusions. i'll take care of that.

[2021-01-15 11:56] erciccione commented on #1419
Done with #1421

[2021-01-15 13:12] johnnyburnaway opened #1422 "Add IVPN to the list of merchants"
#### What's the name of your business?

IVPN

#### What's the URL of the website?

https://www.ivpn.net

#### Write a brief description of your business/service (max 50 characters)

Open-source, audited, privacy focused VPN service

#### Enter the URL where a Monero mention can be found

https://www.ivpn.net/blog/ivpn-now-accepts-monero-payments-runs-full-node/

#### How do you accept Monero? *(ch

[2021-01-15 14:41] erciccione commented on #1422
Looks good.

[2021-01-19 19:46] SamsungGalaxyPlayer commented on #1197
I believe "Downloads" is more appropriate at this time. My 2c

[2021-01-21 17:38] tonyern opened #1431 "Adding new language to Weblate for Monero Site"
I am seeing if someone can start a new language on Weblate for the GetMonero site. The language is Vietnamese and its two letter code is "vi".

[2021-01-21 18:09] erciccione commented on #1431
Done: https://translate.getmonero.org/projects/getmonero/monero-site/vi/

The GUI is already partially translated, but definitely needs a lot of work: https://translate.getmonero.org/projects/monero/gui-wallet/vi/

[2021-01-21 18:13] tonyern commented on #1431
Thanks!

[2021-01-21 18:13] #1431 closed

[2021-01-23 13:14] erciccione commented on #1270
Second task will be completed once all PRs which uniform the user guides will be merged. After that's done, i'll start step 3.

[2021-01-24 02:12] #1414 closed

[2021-01-24 09:10] erciccione opened #1434 "Many RPC commands have been renamed or delated"
We need to make a thorough refresh of the dev guides to check which commands have been renamed/deleted/added.

https://www.getmonero.org/resources/developer-guides/daemon-rpc.html
https://www.getmonero.org/resources/developer-guides/wallet-rpc.html

[2021-01-24 09:12] erciccione commented on #979
We need to make a deep refresh of the RPC guides. Closing this in favour of #1434. Any help would be appreciated.

[2021-01-24 09:12] #979 closed

[2021-01-24 09:12] erciccione commented on #901
We need to make a deep refresh of the RPC guides. Closing this in favour of #1434. Any help would be appreciated.

[2021-01-24 09:12] #901 closed

[2021-01-25 18:29] tonyern commented on #1371
Do you know what {% t faq.qblockspace %} is and where I can edit these?

[2021-01-26 08:45] erciccione commented on #1371
https://github.com/monero-project/monero-site/blob/master/_i18n/en.yml#L433

Instructions to edit every section are in the README of this repository.

[2021-01-26 16:35] tonyern commented on #1371
Thank you! The README didn't said where to find the files to edit the FAQ.

[2021-01-27 09:23] erciccione commented on #900
This could be added as a dev guide. At the moment we only have daemon and wallet RPC.

[2021-01-27 22:30] seniorboobies opened #1440 "Add <Data Records Corp. - Marketing and Lead Generation> to the list of merchants"
https://www.datarecordscorp.com/

[2021-01-28 00:49] l33d4n commented on #1440
Please use [the template](https://raw.githubusercontent.com/monero-project/monero-site/master/.github/ISSUE_TEMPLATE/new-merchant.md) to request to add a new service, as requested in the "Merchants" page.

[2021-01-28 11:23] incognickv opened #1441 "Adding Incognito Wallet to the https://www.getmonero.org/downloads/#mobilelight"
Incognito Wallet is an open source mobile wallet app for iOS and Android devices that supports XMR. The wallet designed and developed by the Incognito Dev team. The purpose of this wallet is enabling an option for storing XMR funds privately. Following the requirements for only open sourced wallets to be listed at https://repo.getmonero.org/monero-project/monero-site/-/issues/982 we are asking if

[2021-01-28 11:44] erciccione commented on #1441
Just a small clarification: it's not only open source wallets, but open source and trusted wallets.

Personally i don't know much about Incognito, beside the fact that they use some kind of token between trades (i might be incorrect). I'm interested in knowing the opinion of @SamsungGalaxyPlayer, since AFAIK he took a deep look into Incognito not long ago.

[2021-01-28 12:43] incognickv commented on #1441
thanks for the clarification, so i think I should mention that Incognito is already among exchanges at the Merchants sections, though it's not an endorsement form the community.
It will be nice if we can hear objective assessment form @SamsungGalaxyPlayer. Also, I will try to respond for questions. Opinion of the Monero folks is important  for us, as we value the same principles of privacy first a

[2021-01-28 13:52] SamsungGalaxyPlayer commented on #1441
The Monero is non-custodial, correct? Only custodied if converted to the wrapped version?

[2021-01-30 08:53] Bacrypt opened #1444 "Add Bacrypt.com to the list of merchants"
#### What's the name of your business?

Bacrypt.com

#### What's the URL of the website?

https://bacrypt.com/

#### Write a brief description of your business/service (max 50 characters)

Fully anonymous exchange

#### Enter the URL where a Monero mention can be found

https://bacrypt.com/

#### How do you accept Monero? *(choose only one option)*

- [ ] Monero integrations *(github.com/monero-in

[2021-01-30 10:42] erciccione commented on #1444
This is not a description. A short description should make a potential user understand what you are offering in few words.

[2021-01-30 14:19] Bacrypt commented on #1444
Corrected
Fully anonymous exchange

[2021-01-31 09:39] erciccione commented on #1197
Closing this. Thanks for everybody's input.

[2021-01-31 09:39] #1197 closed

[2021-01-31 09:59] erciccione commented on #906
If this isn't resolved in a reasonable time, will probably make sense to remove the 'quick facts' document from getmonero. No point in giving users an outdated document.

[2021-01-31 12:25] erciccione commented on #1440
ping @seniorboobies you actually deleted the template and replaced it with a simple URL. Please use the full template or we will just close this issue.

[2021-01-31 15:46] xmrhaelan commented on #906
Yes we are updating. Had some issues with bugs trying to automate data from our node, but we’ll push an update soon while we keep ironing out the bugs to make this more automated in the future.

[2021-01-31 21:17] incognickv commented on #1441
storing in Incognito wallet app is non-custodial by default, as only wallet creator owns his keychains;
the current implementation of the app for XMR by default means minting pXMR on our behalf and lock native coins in a "trusted" way;
how it works and what level of privacy we get from monero community members already jumped to Incognito is shown in numbers of ~$1,735,137.22 for liquidity and ~$7,

[2021-02-01 09:36] erciccione commented on #1441
From a short research seems like the Incognito team is allergic to giving clear answers, as the comment above shows well. Their business model is shady, their implementation is shady and they are more an exchange not really a wallet. Beside, i don't seem to find a clear answer about Monero or only the wrapped version being used in the wallet.

I don't trust them and i wouldn't feel comfortable in

[2021-02-01 15:05] incognickv commented on #1441
pardon, but I gave the most direct and clear answer of what we have built and how it works, probably it was not so obviously clear, so let me break things down in details:
we don't have a business model for monetization by any means at the current stage of the development;
are we more likely a DEX or a wallet? - the answer is we're the wallet having a whole ecosystem for storing, trading, providin

[2021-02-01 15:47] SamsungGalaxyPlayer commented on #1441
Before this discussion is really considered further, I need to have some sort of confirmation someone can use it as an entirely native XMR app. Users deposit real XMR and keep is as real, non-wrapped XMR and send/receive transactions in real XMR, etc.

[2021-02-01 19:10] luigi1111 commented on #1380
Thanks all for your thoughts.

We are going to keep the self-organized, workgroup-provided descriptions for now. If bad faith is shown or it otherwise becomes untenable in the future, we will revisit the issue.

[2021-02-01 19:10] #1380 closed

[2021-02-01 21:20] incognickv commented on #1441
@SamsungGalaxyPlayer, may i suggest a solution which can definitely set things strait. what if you can try testing the wallet and probably any other feature available yourself. this way you can answer your queries based on real experience. it will be pleasure for me to assist you with any kind of support needed. also, i can fund you with a fraction of xmr (refundable) for the test purpose.
just le

[2021-02-01 22:42] SamsungGalaxyPlayer commented on #1441
Based on testing, it looks like users can deposit and withdraw Monero. However, they can only hold wrapped XMR from what I can tell. XMR deposits are converted to wrapped XMR, and wrapped XMR withdrawals are converted to XMR.

This doesn't really meet the description of wallets that are included on the website. Wallets listed here allow users to store, send, and receive funds in native (unwrapped)

[2021-02-02 09:41] incognickv commented on #1441
@SamsungGalaxyPlayer, thank you very much for personal testing and providing wise and reasonable feedback on Incognito wallet app. From the perspective you shared above I can conclude that the series of ongoing storing > sending> receiving for native (unwrapped) XMR when it comes to Incognito mode supported in the wallet is broken and it doesn't match to the requirements for mobile wallets listed

[2021-02-02 10:22] erciccione commented on #1380
@luigi1111 Could you expand about the reasoning behind this choice? [The vast majority of the people](https://github.com/monero-project/monero-site/issues/1380#issuecomment-751346757) expressed their will to clarify the legal status of Monero Space. The core team is deciding to go against the broad consensus reached by the community and it's not considering any of the alternatives offered, i think